@CHARSET "UTF-8";

.afl{
	float: left; cursor:pointer;
}
.afr{
	float: right; cursor:pointer;
}
ul.categories-module{
	margin: 0; padding: 0;
}
ul.categories-module li{
	list-style: none; float: left;
}
#colunmLeft1 ul{
	margin: 0; padding: 0;
}
#colunmLeft1 ul li{
	margin-bottom: 5px; float: left; margin-right: 5px; display: block; width: 335px; position: relative;
}
#colunmLeft1 ul li.mr0{
	margin-right: 0;
}
.textLeft p, .textLeft h2{
	padding: 0; margin: 0;
}
.pic_thumnail{
	width: 150px; height: 100px; float: left; border: 3px solid #D8D8D8; float: left; margin: 0px 5px 2px 0; overflow: hidden; background: #D8D8D8;
}
.thumnail_view{
	width: 150px;
}
.xemtiep{
	position: absolute; bottom: 3px; right: 8px; z-index: 100;
}
/*-- BOX-MODULES --*/
.box-module{
	margin: 2px 0; padding: 0;
}
.title_bg{
	height: 18px; background: url("../images/menu_bg.gif") repeat-x; color: #fff; padding: 5px 0px 0px 10px; text-transform: uppercase; font-weight: bold;
}
.box-module-content{
	padding: 5px; border: 1px solid #dbdbdb; margin-bottom: 5px;
}
#most_read{
	height: 300px; overflow: hidden;
}
#most_read li{
	margin-left: 5px;
}
ul.ul-module, ul.mostread{
	margin: 0; padding: 0;
}
ul.ul-module li, ul.mostread li{
	width: 100%; float: left; list-style: none; padding: 2px 0; text-align: left; cursor: pointer;
}
ul.ul-module li img, ul.mostread li img{
	float: left; margin: 0px 5px 2px 0; border: 1px solid #e4effe; padding: 1px;
}
ul.ul-module li a, ul.mostread li a{
	color: #000; text-decoration: none;
}
ul.ul-module li a:hover, ul.mostread li a:hover{
	color: #0072bc;
}
ul.ul-module li.hot a, ul.mostread li.hot a{
	padding: 2px 0 0 2px;
}

/*-- LATEST NEWS --*/
.latestnews{
	width: 100%; clear: both; overflow: hidden; height: 484px;
}
.latestnews .bgimage{
	width: 100%; height: 280px; overflow: hidden; border-bottom: solid 1px #d7d7d7; background-color: #fff; text-align: center; margin: 0 auto;
}
.latestnews .contentfirst{
	width: 615px;clear: both; padding-top: 0px; padding-left: 9px; padding-right: 8px; overflow:hidden;
}
.latestnews .contentOther{
	width: 630px; clear: both; height: 114px; padding-top: 5px; overflow: hidden; border-top: solid 1px #d7d7d7;
}
.latest-orther{
	width:112px; height:114px; float:left;
}
.latest-orther .img-thumnal-latest{
	width:110px; height:62px; overflow: hidden;
}
.latest-orther .img-thumnal-latest img{
	width:110px; border:none;
}
.spance1{
	width:10px; height:94px; float:left;
}
.spance2{
	width:2px; height:94px; float:left; overflow:hidden;
}

/*-- MODULES FOCUS --*/
.box_image_focus{
	border-top:1px solid #D7D7D7; clear:both; width:100%; height: 105px; overflow: hidden;
}
.box_image_focus img{
	width: 181px; display: block; border:solid 1px #efedee; padding-left:6px; padding-top:8px;
}
.boxLinkShare ul{
	margin: 0; padding: 0; list-style: none;
}
.boxLinkShare ul li{
	padding: 3px 0;
}
.boxLinkShare ul li a{
	color: #0072BC; text-decoration: none;
}
.boxLinkShare ul li a:hover{
	color: #114a5e; text-decoration: underline;
}

/*-- MODULES PHOTO --*/
ul.listOtherNewsChaoco{
	margin:0; padding: 6px 0 0 5px; border-top:solid 1px #d7d7d7;
}
ul.listOtherNewsChaoco li{
	list-style:none; background:url(../images/iconRed.jpg) 0 5px no-repeat; padding: 0 0 6px 10px; clear:both;
}
ul.listOtherNewsChaoco li a{
	color:#000;
}
ul.listOtherNewsChaoco li a:hover{
	text-decoration:underline;
}   

/*-- DETAIL CONTENT --*/
.sortHomeCenter .item-page img{
	max-width: 450px; width: auto !important; width: 460px; height: auto !important;
}

/*-- IMAGE --*/
.img45{
	width: 45px;
}
.img55{
	width: 55px;
}
.img65{
	width: 65px;
}
.img75{
	width: 75px;
}
.img100{
	width: 100px;
}
.img125{
	width: 125px;
}

/*-- MODULES BANNERS --*/
#colunmLeft2 .bannergroup{
	width: 200px; text-align: center; margin-top: 5px;
}
#colunmLeft2 .bannergroup .banneritem{
	width: 200px; margin: 0 auto;
}