.icon-32-runnow				{ background-image: url(../images/icon-32-runnow.png); }
.icon-32-active				{ background-image: url(../images/icon-32-active.png); }


.icon-48-cron			{ background-image: url(../images/icon-48-cron.png);}
.icon-48-filter			{ background-image: url(../images/icon-48-filter.png);}
.icon-48-logs			{ background-image: url(../images/icon-48-logs.png);}
.icon-48-edit			{ background-image: url(../images/icon-48-edit.png);}

