body {color:#222;font-family: Arial, Tahoma, Helvetica, Sans-serif;line-height:1.5;margin:0;padding:0;font-size:12px;}
h1, h2, h3 {font-weight:normal;}
h1 {font-size:48px;line-height:1;margin:0 0 0.5em;}
h2 {font-size:36px;line-height:1.5;margin:0 0 0.75em;}
h3 {font-size:24px;line-height:1;margin:0 0 1em;}
h4 {font-size:18px;line-height:1.25;margin:0 0 1em;}
h5 {font-size:16px;font-weight:bold;margin:0 0 0.5em;}
h6 {font-size:14px;font-weight:bold;margin:0 0 0.5em;}
p {margin:0 0 10px;}
a:link, a:visited {color: #005A9C;text-decoration: none;}
a:hover, a:active {
   color: #00428c;
   text-decoration: underline;outline:none;
}
.fl {float:left !important;}
.fr {float:right !important;}
.clred {color:red;}
li ul, li ol {margin:0;}
ul, ol {margin:0 0 1.5em;padding-left:3.333em;}
table {border-collapse:separate;border-spacing:0;vertical-align:middle;margin-bottom:1.4em;width:100%;}
td, th {vertical-align:middle;text-align:left;font-weight:normal;}
a img {border:none;}
label {font-weight:bold;}
input[type=text], input[type=password], input.text, input.title, select {background-color:#fff;border:1px solid #8aaf12;padding-left:5px;height:20px;}
textarea {background-color:#fff;border:1px solid #D8DFEA;padding-left:5px;}
*html input, *html textarea {border:1px solid #D8DFEA;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#f00;}
input[type=submit] {cursor:pointer;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
/* layout.css ------------------------------------------------------------------------------------------------*/
.main {;width:990px;margin:0 auto;}
div.left, div.right {float:left;margin-right:15px;}
div.center {float:left;margin-right:20px;}
.left {width:745px;}
.right {width:230px;}
.center {width:495px;}
div.rights {float:left;margin-right:10px;}
div.rights {width:760px;}
.last, div.last {margin-right:0;}
/* Clearing ------------------------------------------------------------ */
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix {zoom: 1;} /* IE6 */
*:first-child+html .clearfix {zoom: 1;} /* IE7 */
.clear {clear:both;}
/* END Clearing ------------------------------------------------------------ */
ul.user-manage, ul.list-notice, ul.item-main, ul.number, ul.categories, ul.item-link, ul.sub2, ul.sub3, ul.sub1, ul.new, ul.list-item, .Tabs ul, ul.paging, ul.list-sent, ul.list-new, ul.pathway, ul.list1, ul.regedit, ul.list-col3, ul.thumbPicpro,ul.list-next, ul.city {list-style:none;margin:0;padding:0;}
/* BEGIN CSS Paging */
ul.paging {border:1px solid #e5e5e5; border-right:none}
ul.paging li {float:left;border-right:1px solid #e5e5e5}
ul.paging li a {background: none repeat scroll 0 0 #F7F7F7;
    color: #7C9E0D;
    display: block;
    font-family: Tahoma,Geneva,sans-serif;
    font-weight: bold;
    padding: 6px 19px;}
ul.paging li a:hover, ul.paging li a.active {background:#efefef;color:#999;text-decoration:none;}
ul.paging li.nomal a {color:#999}
ul.paging li.next a, ul.paging li.back a { font-weight:normal}
.fillter { padding:10px 0}
.fillter ul.paging {float: right;
    }
.list-itemt .fillter ul.paging{margin-right: 7px;}
.hint {color:gray;font-size:11px;}
/* End paging */
/*btn*/
a.button {background:url(../images/btn.png) no-repeat 0 -85px;padding-left:23px;display:inline-block;color:#FFF;font-weight:bold;}
a.button span {background:url(../images/btn.png) no-repeat right -113px;padding-right:23px;line-height:22px;display:inline-block}
a.button:hover {text-decoration:none;color:#fff}
button {background:none;border:none;padding:0;cursor:pointer;font-family:Arial, Helvetica, sans-serif;white-space:nowrap;}
*html button {margin-right:5px;}
span.btn {background:url(../images/bg.png) no-repeat 0 -170px;padding-left:8px;display:inline-block;}
.btn input {background:url(../images/bg.png) no-repeat right -269px;display:inline-block;font-weight:bold;color:#fff;line-height:30px!important;padding-right:13px; border:none; height:30px; font-family:Arial, Helvetica, sans-serif}
/* -------------------------------------------- Begin Header ----------------------------------------- */
#header {background:url(../images/bg-head.png) repeat-x 0 0; height:106px}
/* Logo */
#header h1#logo {float:left;margin:0 20px 0 0;}
h1#logo a {
   position:relative;display:block;width:188px;height:67px; font-size:12px;margin-top: 22px; }

h1#logo a span {display:block;position:absolute;width:100%;height:100%;background:url(../images/logo.png) no-repeat top left; z-index:100;top:0; left:0;}
.header-r img {height:105px;width:350px}
.header-r {float:left; width:350px}
.select-city {float:left; width:150px; margin:20px 10px 0 0}
.search {float:left; width:260px;margin: 30px 10px 0 0;}
.top-search {font-size:11px; color:#7c9e0d;}
.name-city {font-size:11px}
.s14 {font-size:14px}
.s1 {font-size:18px; padding:0 5px 0 0}
.s2 {font-size:18px; padding:0 0 0 5px}
ul.city {margin-bottom:5px}
ul.city .sub { list-style:none; margin:0; padding:0;background:#EAF4C8;
border: 1px solid #658501;
    left: 0;
    list-style: none outside none;
    margin: 0;
    position: absolute;
    top: 25px;
    width: 150px; z-index:999}
ul.city .sub li a {font-size:12px; display:block; color:#5E7B03;border: 1px solid #EAF4C8; padding:2px 10px}
ul.city .sub li a:hover {background:#a4cc26 !important;color:#fff; border-style:dotted;display:block;}
ul.city li { position:relative; z-index:99}
ul.city li a {color:#333; font-size:15px}
ul.city li a strong{ font-weight:normal}
.city-choose {color:#7c9e0d; padding-left:10px}
.name {background:url(../images/line.png) no-repeat right -107px; padding-right:10px}
/* -------------------------------------------- End Header ----------------------------------------- */
/* -------------------------------------------- Menu Navigation ----------------------------------------- */
#menu-navi {background:url(../images/line.png) repeat-x 0 0;height:35px;}
ul.item-main {float:left;}
.home {background:url(../images/icon.png) no-repeat -34px -526px;padding-left:20px;}
ul.item-main li {background:url(../images/line.png) no-repeat right -51px;float:left;position:relative;z-index:9;height:35px}
ul.item-main.fr li.last {background:none}

ul.item-main li a {color: #fff;
    display: inline-block;
    margin: 5px 7px 0 0;
    padding:3px 12px;}
.item-main.fr li.last a{ padding-bottom:8px;}

.top-banner, #menu-navi {margin-bottom:10px}
ul.item-main li a:hover, ul.item-main.fr li.last:hover a, ul.item-main li a.active, .item-main .sub1 li:hover a {background:#a4cc26;text-decoration:none;}
ul.item-main.fr li.last a strong{background: url(../images/drop.png) no-repeat right 8px;
    display: block;
    padding-right: 13px;}
/*sub*/
.sub1 {position: absolute;
    right: 6px;
    top: 32px;
    width: 162px;border:1px solid #658501;background:#eaf4c8 !important; display:none}
.item-main li:hover .sub1 {display:block}
.item-main li ul.sub1 li a {background:none !important}
.item-main.fr .sub1 li {background:none !important;height:auto;float:none;padding:0;position:relative;}
.item-main.fr .sub1 li a { display:block; margin:0; color:#5e7b03; font-size:11px; border:1px solid #eaf4c8}
.item-main.fr .sub1 li a:hover {background:#a4cc26 !important;color:#fff; border-style:dotted}


/*--------------------------END CSS Navigation-------------------------- */
/*-------------------------- CSS container-------------------------- */
#container, .nameShop, .box, .box2, #slideshow, .quick-search, .pathway, .notice, #footer, .ad, .box-other {margin-bottom:15px;}

/* -------------- Box CSS ------------------------ */
.title h3 { border-bottom:1px solid #9cbd30; font-size:15px; padding-bottom:5px; margin-bottom:10px; font-weight:bold}
.hotline {background:url(../images/icons.png) no-repeat 0 -175px;padding:0 0 18px 36px;}
.top-hotline {font-size:25px; font-weight:bold}
.bottom-hotline {font-size:18px; font-weight:bold}
.box {background:url(../images/tranfer.png) repeat 0 0; border:2px solid #c2da86; -moz-border-radius:7px; -webkit-border-radius:7px;padding:10px; position:relative}

.box-view-comment {width:241px; margin-top:20px}
.box2 {background:url(../images/tranfer.png) repeat 0 0; border:2px solid #c2da86; -moz-border-radius:0 7px 7px 0; -webkit-border-radius:0 7px 7px 0; position:relative; left:-16px}
.img123 {float:left; margin:0 10px 20px 0}
.style-col {padding:0 10px}
.box2 .title2 {padding:10px 10px 0}
.style-col h4 {font-size:13px; margin-bottom:5px}
.style-col h4 a {color:#ff6000;}
.title2 h3 {color:#76960e; font-size:12px; margin-bottom:10px; font-weight:bold; text-transform:uppercase}
.view-comment{background:url(../images/bg-style2.png) repeat-x 0 0; height:32px;line-height: 31px;-moz-border-radius:0 0 7px 0;-webkit-border-radius:0 0 7px 0; }
.view-comment a {background:url(../images/icons.png) no-repeat 0 -580px;color:#fff; padding: 4px 0 7px 54px;}
.list-itemt{background:url(../images/tranfer.png) repeat 0 0; padding:10px; border:1px solid #9e9e9e}
.itemt { background:#fff;border: 1px solid #D6D6D6;
    float: left;
    margin:5px 5px 10px 7px;
    padding: 10px;
    position: relative;
    width: 288px;}
.itemt:hover { background-color:#e3f1da;border-color:#7c9e0d}
.top-itemt {margin-bottom:10px;}
.top-itemt strong{ color:#7c9e0d; font-size:13px;}
.center-itemt {position:relative;}
.tranfer-itemt {background:url(../images/tranfer-itemt.png) repeat 0 0;bottom: 53px;
    color: #FFFFFF;
    left: 1px;
    padding: 1%;
    position: absolute;
    top: auto;
    width: 98%;}
.view {background:url(../images/bg1.png) repeat-x 0 0 #77970f; height:43px;padding: 5px 10px;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;}
.bottom-itemt {text-align:center; padding:10px 0 0}
.bottom-itemt  .fl{ color:#ff6000}
.bottom-itemt  .fl strong{ text-decoration:line-through}
.icon-itemt {background:url(../images/btn.png) no-repeat -57px -85px;bottom: -11px;
    height: 10px;
    position: absolute;
    right: 0;
    top: auto;
    width: 204px;}
.clgreen {color:#c2ff00;}
.pic img {border:1px solid #7c9e0d;}
.count{background:url(../images/btn.png) no-repeat 0 -30px;color: #FF6000;
    font-size: 18px;
    font-weight: bold;
    height: 42px;
    left: -2px;
    padding: 0 0 0 6px;
    position: absolute;
    top: -2px;
    width: 40px;}
/* -------------- End Box CSS ------------------------ */
/* SlideShow */
.title-box {font-size: 18px;
    padding: 0 0 0 20px;margin-bottom: 11px;}
.clorange {color:#ff6000;}
.right-slide {background:url(../images/bg-slide.png) repeat-x left top #76960e; border:1px solid #7c9e0d; padding:4px;position:relative; float:right; width:450px; border-left:none}
.slide-top {position:relative;margin-bottom:10px;}
.right-slide img {border:1px solid #fff}
.number-style {position:absolute;right:5px;bottom:5px;z-index:7;}
.number {position:absolute;right:8px;bottom:10px;z-index:999;}
.number a {background:url(../images/btn.png) no-repeat -222px -67px;float:left; width:8px; height:8px; margin-right:5px; display:inline-block; text-indent:-9999px}
.number a:hover, .number a.active {background:url(../images/btn.png) no-repeat -236px -67px;}
.number-style a {background:#e3f1da; border:1px solid #a1c433;float:left; padding:0 4px; margin-right:5px; color:#222}
.number-style a:hover, .number-style a.active {background:#a1c433; color:#fff}
.left-slide {float: left;
    position: relative;
    width: 262px;}
.price {background:url(../images/bg-price.png) repeat-x 0 0;height: 68px;
    left: -10px;
    line-height: 68px;
    position: absolute;
    top: 0;
    width: 273px;}
.btn-view {background:url(../images/btn.png) no-repeat -58px 0; width:93px; height:42px; float:right;}
.btn-buy {background:url(../images/btn.png) no-repeat -58px -42px; width:93px; height:42px; float:right;}
.btn-comment {background:url(../images/btns.png) no-repeat 0 0; width:93px; height:42px; float:right;}
.btn-comment1 {background:url(../images/btns.png) no-repeat 0 -56px; width:71px; height:24px; float:right;}
.txt-comment textarea {background:url(../images/txt-comment.png) repeat-x 0 0 #fff; padding:10px; width:698px; margin-bottom:10px;box-shadow:1px 1px 3px #eaeaea; color:#666; font-size:15px; height:140px;}
.btn-comment:hover, .btn-buy:hover, .btn-comment1:hover {text-decoration:none}
.price .btn-view{margin-top:15px}
.price1, .price2 {color:#fff; text-shadow:1px 1px #444; font-weight:bold; float:left; margin-right:8px}
.price1 {font-size:28px;}
.price2 {font-size:21px;}
.icon-price {background:url(../images/btn.png) no-repeat -281px 0; position:absolute; left:-18px; width:18px; height:68px; top:0}

.center-left-slide { border:1px solid #7c9e0d;margin-top: 68px; position:relative}
.shadow {background:url(../images/shadow.png) no-repeat 0 0; width:300px; height:7px; position:absolute; top:-1px; right:0;}
.bottom-left-slide {background:#E3F1DA;
    border-bottom: 1px solid #7C9E0D;
    border-left: 1px solid #7C9E0D;
    border-right: 1px solid #7C9E0D;
    height: 35px;
    padding: 6px 10px 0 25px;
    text-align: center;}
.percent { background:url(../images/bg-percent.png) repeat-x 0 0; border:1px solid #7c9e0d; -webkit-border-radius:4px; -moz-border-radius:4px; height:8px;}
.inner-percent { background:url(../images/bg-inner-percent.png) repeat-x 0 0; height:8px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px; float:left}
.clblue {color:#76960e}
.compare-price {background:#fcf7ab;border-bottom:1px solid #7c9e0d;padding: 10px 2px 0;}
.compare-item {background:url(../images/line-price.png) no-repeat right 0; padding-right:5px; margin-right:5px; float:left; width:78px; text-align:center}
.center-item {color:#ff6000;}

.style-bottom {display: table-cell;
    font-size: 13px;
    height: 25px;
    text-align: center;
    vertical-align: bottom;
    width: 75px;}
.point {background: url(../images/icons.png) no-repeat 10px 5px;
    padding: 10px 0 0 78px;
    text-align: center;
    width: 100px;}
.number-point {color: #76960E;
    font-size: 60px;
    font-weight: bold;
    line-height: 50px;}
.time-end {text-align:center;padding:10px 0 5px 0;}
.buyer {font-size:14px}
.begin-item .style-bottom { text-decoration:line-through}
.center-item .style-bottom {font-size:24px; font-weight:bold}
.compare-item.last {background:none; padding-right:0}
.share-facebook {margin:10px  0 5px 0}
.btn-like{background:url(../images/icons.png) no-repeat 0 -125px; font-size: 11px;
    padding:4px 16px 5px 27px;}
/* end SlideShow */
/*===============tab=================*/
.Tabs {border-bottom: 2px solid #7C9E0D;
    margin: 0 7px 5px;}
.Tabs ul li {float:left;line-height:30px; margin-right:5px}
.Tabs ul { padding-left:5px}
.Tabs ul li a {padding:0 10px;color:#7c9e0d; font-weight:bold;display:block; font-size:13px}
.Tabs ul li a.active, .Tabs ul li a:hover {background:#7c9e0d;color:#fff;text-decoration:none;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0}
/*===============end tab=================*/
/* Box Categories */
.categories li {position:relative;z-index:9;}
*html .categories li {height:20px}
.categories li a {display:block;background:url(../images/dot.png) no-repeat 10px -101px;display:block;color:#444;padding:5px 10px 5px 19px;}
.categories li a:hover, .categories li:hover a, .categories li a.active, .categories li.active a {background:url(../images/dot.png) no-repeat 10px -146px #ff8f00;color:#fff;text-decoration:none;}
.categories li a strong {font-weight:normal}
.categories li a.active strong {font-weight:bold}
.categories li ul {border:1px solid #333;background:#fff;display:none}



.name-video{ background:#f7f7f7; text-align:center;padding:5px;}
.video-other { background:#f7f7f7;;padding:5px;}
.video-other a { list-style:decimal; padding-left:10px}
input.txt-search {float:left; margin-right:5px; height:18px; font-size:11px; color:#666; width:180px}
.btn-search {background:url(../images/btn.png) no-repeat 0 0; width:53px; height:22px; display:inline-block; border:none}
.yahoo img, .skype img {float:left; margin-right:3px}
.yahoo {float:left; margin-right:10px}
.box-style {margin-bottom:15px}
.clblue1 {color:#227aa7;}
.img img {border: 1px solid #DDDDDD;
    float: left;
    height: 90px;
    margin-right: 10px;
    width: 100px;}
.r-img br {margin-bottom:5px; display:block}
.s11 {font-size:11px}
.product {border-bottom:1px dashed #c4c4c4; margin-bottom:5px; padding-bottom:5px}
.product h4 { margin-bottom:5px}
.product h4 a { font-size:15px; color:#333}
.r-img {margin-bottom:3px} 
.support {padding-bottom:20px}
.quicklink { background:#191b1b; height:150px; border-top:5px solid #85ac0a; padding:10px}
.copyright { background:#2e3231; height:180px; border-bottom:5px solid #85ac0a; padding:10px; color:#787878}
.copyright .main { width:400px; padding:0 300px; text-align:center}
.copyright h2 { font-size:14px; margin-bottom:10px; font-weight:bold; text-transform:uppercase}
.copyright p { border-bottom:1px solid #404040; padding-bottom:5px; margin-bottom:5px}
ul.item-link li { margin-bottom:5px}
ul.item-link li a{ color:#787878;}
.link {float:left; width:180px; margin-right:20px}
.link h2 { font-size:13px; margin-bottom:10px; padding-bottom:3px; color:#787878; font-weight:bold; border-bottom:1px solid #303030}
.nobor {border:none !important}

.box-like {background:url(../images/icons.png) no-repeat 0 -300px; border-bottom:1px solid #d8dfea; margin-bottom:5px;padding: 0 0 10px 56px;}
.like {background:url(../images/icons.png) no-repeat 0 -260px; display:inline-block; width:50px; height:27px;}
.box-like .like { float:left; margin-right:10px}
.alike { font-size:11px;line-height: 12px;}
.deals {color:#3b5998;}
.top-face {margin-bottom:3px}
.share-link {margin-bottom:20px}
.icon-facebook, .icon-youtube, .icon-z{width:16px; height:18px; float:left; margin-left:7px}
.icon-facebook{background:url(../images/icons.png) no-repeat 0 -406px;}
.icon-youtube{background:url(../images/icons.png) no-repeat -20px -406px;}
.icon-z{background:url(../images/icons.png) no-repeat -45px -406px;}
.icon-zend{background:url(../images/icons.png) no-repeat 0 -441px; width:25px; height:22px; display:inline-block}
.name-link {float:left; color:#787878}
.view .price2 {margin-top:7px}
#container {position:relative}
.top-page {position:absolute; bottom:0; top:auto; right:0; color:#7c9e0d; font-size:11px; text-align:center; width:80px}
.top-page a {background:url(../images/btn.png) no-repeat -214px 0; display:inline-block; width:55px; height:55px}
a.btn-view:hover, .top-page a:hover { text-decoration:none}
ul.item-link li a:hover {color:#fff}
.item-ad, .box-facebook {margin-bottom:15px}
/*box module */
.box-module { background:#fff; padding:20px 10px 10px; position:relative;border:1px solid #e7e7e7; margin-bottom:15px}
.icon-module-left {background:url(../images/icons.png) no-repeat -35px -435px; height: 25px;
    left: -6px;
    position: absolute;
    top: -7px;
    width: 25px;}
.icon-module-right {background:url(../images/icons.png) no-repeat 0 -536px; height: 13px;
    position: absolute;
    right: -4px;
    top: -1px;
    width: 15px;}
.drop-style {background:url(../images/drop-style.png) no-repeat;bottom: -5px;
    height: 6px;
    left: 72px;
    position: absolute;
    width: 9px;}
.col1 {
    float: left;
    margin-left: 10px;
    width: 339px; padding-top:20px}
.col2 {float: left;border-left: 1px solid #E7E7E7;
    width: 339px;margin-left:10px; padding-top:20px; padding-left:10px;}
.title-module {position:relative}
.title-module h3 {border-bottom:1px solid #d6dfb6; padding-bottom:6px; font-weight:bold; margin-bottom:10px; font-size:18px; color:#76960e}
.let .title-module h3 {border-color:#e7e7e7}
.detail1 p { background:url(../images/arrow.png) no-repeat 0 6px; padding-left:8px;}
.nopad {padding:0 !important}
.detail-style {padding:10px}
.tool {padding:10px} 
.icon-comment{background:url(../images/icons.png) no-repeat 0 -485px; padding:5px 0 7px 33px}
/*end*/
.price-style .view {float:left; width:270px; margin-right:10px;-moz-border-radius:5px;border: 1px solid #7C9E0D;-webkit-border-radius:5px;}
.price-style {padding:5px}
.price-style .compare-price {background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    width: 400px;}
.price-style .compare-item {width:115px}
.price-style .center-item {width:100px}
.price-style .compare-item.last {width:164px}
.price-style .center-item .style-bottom {
    display: block;
    width: auto;
}
a.btn-buy:hover {text-decoration:none}
.bottom {margin-bottom:0 !important}
#contact-form span.btn {padding:0}
#contact-form span.btn input{ background:url(../images/button-sent.png) no-repeat 0 0; height:30px; width:167px; padding:0}
.comment {margin-bottom:15px}
.title-comment strong {font-size:26px}
.title-comment span {font-size:16px}
.img1 {float:left;margin:0 20px 0 0;width:60px;border:1px solid #d6d7d6;}
.cont-comment {padding:10px}
.map {margin:20px 0;}
.map img {width:470px;}
.r-sent { background:#fff;border: 1px solid #D6D7D6;
    float: left;
    position: relative;
    width: 636px;}
.icon-sent { background:url(../images/arrow1.png) no-repeat 0 0;height: 16px;
    left: -7px;
    position: absolute;
    top: 24px;
    width: 16px;}
ul.list-sent li {margin-bottom:10px;}
ul.list-sent li p {margin-bottom:3px;}
.img1 img {width:60px; height:auto;}
.tool-comment {padding:10px 0 0 10px}
.tool-comment .fr { background:#d3d3d3;padding: 0 10px 0 0; -moz-border-radius:5px 0 0; -webkit-border-radius:5px 0 0 }
.list-sent .list-sent .tool-comment .fl { padding-bottom:5px }
.tool-comment .fr a { background:url(../images/btns.png) no-repeat 10px -90px;color: #333;
    line-height: 34px;
    padding: 15px 0 6px 42px;}
.list-sent .list-sent {padding:10px 0 0 80px; clear:both}
.list-sent .list-sent .r-sent {
    width: 556px;}
.txt-comment1 textarea {border-color: #D6D7D6;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    width: 536px;}
.list-sent .list-sent .comment {clear: both;
    padding: 10px 0 0 82px;}