/* CSS Document */
/*-----------------------tab-box index 02-06----------------------------*/
.boxbank{
	width:722px;}
#tab-box{
	height:35px;
	border-bottom:2px solid #ff7d00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	
	}
#tab-box ul{
	list-style:none;
	margin-left:-40px;
	}
#tab-box ul li{
	float:left;
	height:33px;
	margin-top:4px;
	margin-right:2px;
	line-height:30px;	
	overflow:hidden;
	border:0px #FFF solid;
	}

#tab-box ul li a{
	display:block;
	float:left;
	padding:0 15px;	
	color:#333;
    text-decoration:none;
	background:#f1f1f1;
	border:1px #d8d6d6 solid;
	border-bottom:2px #ff7d00 solid;
		
	}
#tab-box .active a, #tab-box ul li a:hover{
	background:#f7f8f8;
	height:34px;
	color:#333;
	text-decoration:none;
	border-top:2px solid #ff7d00;
	border-left:2px solid #ff7d00;
	border-right:2px solid #ff7d00;
	
}

