body {background:url(../images/bg.jpg) no-repeat left top;color:#222;font-family: Arial, Tahoma, Helvetica, Sans-serif;line-height:1.5;margin:0;padding:0;font-size:12px;}
h1, h2, h3 {font-weight:normal;}
h1 {font-size:48px;line-height:1;margin:0 0 0.5em;}
h2 {font-size:36px;line-height:1.2;margin:0 0 0.75em;}
h3 {font-size:24px;line-height:1;margin:0 0 1em;}
h4 {font-size:18px;line-height:1.25;margin:0 0 1em;}
h5 {font-size:16px;font-weight:bold;margin:0 0 0.5em;}
h6 {font-size:14px;font-weight:bold;margin:0 0 0.5em;}
p {margin:0 0 10px;}
a {color:#0072bc;text-decoration:none;outline:none;}
a:hover {color:#0055cc;text-decoration:underline;outline:none;}
.fl {float:left;}
.fr {float:right;}
.clred {color:red;}
li ul, li ol {margin:0;}
ul, ol {margin:0 0 1.5em;padding-left:3.333em;}
table {border-collapse:separate;border-spacing:0;vertical-align:middle;margin-bottom:1.4em;width:100%;}
td, th {vertical-align:middle;text-align:left;font-weight:normal;}
a img {border:none;}
label {font-weight:bold;}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#fff;border:1px solid #D8DFEA;padding-left:5px;height:20px;}
*html input, *html textarea {border:1px solid #D8DFEA;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#f00;}
input[type=submit] {cursor:pointer;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
/* layout.css ------------------------------------------------------------------------------------------------*/
.main {background:#fff;width:995px;margin:0 auto;}
div.left, div.right {float:left;margin-right:15px;}
div.center {float:left;margin-right:20px;}
.left {width:220px;}
.right {width:245px;}
.center {width:495px;}
div.rights {float:left;margin-right:10px;}
div.rights {width:760px;}
.last, div.last {margin-right:0;}
/* Clearing ------------------------------------------------------------ */
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
* html .clearfix {zoom: 1;} /* IE6 */
*:first-child+html .clearfix {zoom: 1;} /* IE7 */
.clear {clear:both;}
/* END Clearing ------------------------------------------------------------ */
ul.user-manage, ul.list-notice, ul.item-main, ul.number, ul.categories, ul.item-link, ul.sub2, ul.sub3, ul.sub1, ul.new, ul.list-item, .Tabs ul, ul.paging, ul.list-sent, ul.list-new, ul.pathway, ul.list1, ul.regedit, ul.list-col3, ul.thumbPicpro {list-style:none;margin:0;padding:0;}
/* BEGIN CSS Paging */
ul.paging li {float:left;padding:0 0 0 3px;}
ul.paging li a {border:1px solid #d3d3d3;background:url(../images/dot.png) repeat-x 0 -285px;display:block;padding:1px 8px 0 8px;color:#333;font-weight:bold;}
ul.paging li a:hover, ul.paging li a.paging-active {border:1px solid #f1751a;background:url(../images/dot.png) repeat-x 0 -265px;color:#fff;text-decoration:none;}
.nomal {font-weight:normal;}
.fillter ul.paging {float:right;}
.hint {color:gray;font-size:11px;}
/* End paging */
/*btn*/
a.button {background:url(../images/bg.png) no-repeat 0 -170px;padding-left:10px;display:inline-block;color:#FFF;font-weight:bold;}
a.button span {background:url(../images/bg.png) no-repeat right -269px;padding-right:10px;line-height:30px;display:inline-block}
a.button:hover {text-decoration:none;color:#fff}
button {background:none;border:none;padding:0;cursor:pointer;font-family:Arial, Helvetica, sans-serif;white-space:nowrap;}
*html button {margin-right:5px;}
span.btn {background:url(../images/bg.png) no-repeat 0 -170px;padding-left:8px;display:inline-block;}
.btn input {background:url(../images/bg.png) no-repeat right -269px;display:inline-block;font-weight:bold;color:#fff;line-height:30px!important;padding-right:13px; border:none; height:30px; font-family:Arial, Helvetica, sans-serif}
/*#user_taskbar*/
#user_taskbar {position:fixed!important;position:fixed;bottom:auto;top:0px;width:100%;z-index:999;}
#user_taskbar, #user_taskbar .main {background:#01375f;height:32px;color:#fff}
#user_taskbar .main ul.user-manage a {color:#fff;}
ul.user-manage {background:url(../images/dot.png) no-repeat right 4px;padding-right:4px;float:left;margin:3px 5px 0 10px;}
ul.user-manage li {float:left;padding-right:5px;position:relative;z-index:99;}
ul.user-manage li a {display: inline-block;margin-right: 3px;padding:2px 3px 8px;float:left;}
ul.user-manage li .hi {display: inline-block;padding:2px 3px 0;float:left;}
ul.user-manage li a.active, ul.user-manage li a:hover {text-decoration:none;}
ul.user-manage li a.user:hover {background:none !important;color: #FFB400 !important;text-decoration:underline !important;}
ul.user-manage li a.user:hover {background:none !important;}
.sub {background:#fff;top:31px;left:4px;position:absolute;border:1px solid #333;border-top:none;color:#333;}
.sub h3 {margin:8px 10px 0;padding-bottom:5px;border-bottom:1px solid #aaa;font-size:12px;height:15px;}
.login-cont {padding:20px 10px 10px;}
.forget {color: #0072bc !important;float:none !important;font-size:11px}
.bottom-login {background:#f8f9fc;padding:5px 10px;}
.txt-login, .txt-pas {color:#666;width:210px;border:1px solid #dbdbdb !important;height:18px !important;}
ul.user-manage li a.login:hover {background:none !important;color:#fff !important;text-decoration:underline !important;}
ul.user-manage li .bottom-login a.close1 {margin:0!important;padding:0 0 5px 20px!important;color:#0072bc !important;float:none}
.language {float:right;margin-top: 5px;}
.language a span {display:none;}
.language a {display:inline-block;width:24px;height:20px;}
.language a.icon-v {background:url(../images/icon.png) no-repeat 0 0}
.language a.icon-e {background:url(../images/icon.png) no-repeat right 0}
.language a.icon-f {background:url(../images/icon.png) no-repeat 0 -21px}
.language a.icon-g {background:url(../images/icon.png) no-repeat right -21px}
.language a.icon-c {background:url(../images/icon.png) no-repeat 0 -44px}
.language a.icon-sk {background:url(../images/icon.png) no-repeat right -44px}
.Cart {float:left;margin-top:4px;}
.choose, .sum {float:left;margin:2px 5px 0 0;}
.choose strong, .sum strong {color:#FFB400}
/*end user_taskbar*/
/* -------------------------------------------- Begin Header ----------------------------------------- */
#header {margin-top:32px;}
/* Logo */
#header h1.logo {float:left;margin:0;}
#header h1.logo a {background:url(../images/logo.gif) no-repeat top left;display:block;width:300px;height:140px;}
#header h1.logo a span {display:none;}
.header-r img {height:140px;width:694px}
.header-r {float:left}
/* -------------------------------------------- End Header ----------------------------------------- */
/* -------------------------------------------- Menu Navigation ----------------------------------------- */
#menu-navi .main {padding-bottom:15px;}
.mainlevel {background:url(../images/bg.png) repeat-x 0 -90px;height:35px;}
ul.item-main {float:left;}
.home {background:url(../images/icon.png) no-repeat -34px -526px;padding-left:20px;}
ul.item-main li {background:url(../images/dot.png) no-repeat right -25px;float:left;position:relative;z-index:99;height:35px}
ul.item-main li a {padding-left:10px;display:inline-block;color:#FFF;margin:5px 7px 0 7px;}
ul.item-main li a:hover, ul.item-main li a.active, .item-main .sub1 li:hover a {background:url(../images/bg.png) no-repeat 0 -241px;text-decoration:none;}
ul.item-main li a span {padding:2px 10px 2px 0;display:block;}
ul.item-main li a:hover span, ul.item-main li a.active span, .item-main .sub1 li:hover a span {background:url(../images/bg.png) no-repeat right -241px;}
/*--------------------------END CSS Navigation-------------------------- */
/*-------------------------- CSS container-------------------------- */
#container, .nameShop, .box, #slideshow, .quick-search, .pathway, .notice, #footer, .ad, .box-other {margin-bottom:10px;}
/* -------------- Box CSS ------------------------ */
.title {background:url(../images/bg.png) no-repeat 0 -133px;height:29px;padding-left:3px;position:relative;}
.title-item {background:url(../images/bg.png) repeat-x 0 -209px;position:relative;}
.title-item h3 {line-height:29px;height:29px;color:#914514;padding-left:10px;}
.title h3, .title-item h3 {font-size:12px;font-weight:bold;text-transform:uppercase;margin:0;}
.title h3 {background:url(../images/bg.png) no-repeat right -133px;padding-right:3px;color:#fff;}
.title h3 span {padding:9px 0 0 7px;display:block;}
.icon-title {background:url(../images/icon-title.png) no-repeat 0 0;position:absolute;left:-5px;top:0;height:35px;width:5px;}
a.scrll-down, a.scrll-up {width:8px;height:4px;padding:3px;margin:4px 2px 0px 0px;float:left;background:url(../images/icon.png) no-repeat;}
a.scrll-down {background-position:-38px -417px;}
a.scrll-up {background-position:-38px -432px;}
.Options a em {display:none;}
a:hover.scrll-down {background-position:-25px -417px;}
a:hover.scrll-up {background-position:-25px -432px;}
.box-cont {background:#fff;padding:10px;border:1px solid #eaeaea;border-top:none;}
.sort {margin-bottom:10px;padding:5px 10px;background:#f8f8f8;}
/* -------------- End Box CSS ------------------------ */
/* SlideShow */
.asset {position:relative;margin-bottom:10px}
.asset img {height: 254px;width: 495px;}
.number {position:absolute;right:5px;bottom:5px;z-index:999;}
.number a {float:left;padding:0 3px;}
.number a {font-size:11px;padding:0 5px 0 5px;color:#fff;font-weight:bold;}
.number a:hover, .number a.current {background:url(../images/icon.png) no-repeat 0 -458px;color:#333;}
/* end SlideShow */
/* Box News - Events */
.title-fr {position:absolute;right:5px;top:7px;font-size:11px;z-index: 111;}
.title-fr .arrow-down, .title-fr .arrow-up {width:11px;height:11px;margin:2px 2px 0;float:left;}
.title-fr .arrow-down {background:url(../images/icon.png) no-repeat -13px -444px;}
.title-fr .arrow-up {background:url(../images/icon.png) no-repeat 0 -444px;}
ul.new li {border-bottom:1px dotted #d1d3d4;}
ul.new li a {background: url(../images/dot.png) no-repeat 0 -61px;display:block;padding:5px 0 5px 12px;color:#a48259;}
ul.new li a:hover {color:#0072bc;}
/* Box Categories */
.categories li {position:relative;z-index:9;}
*html .categories li {height:20px}
.categories li a {display:block;background:url(../images/dot.png) no-repeat 10px -101px;display:block;color:#444;padding:5px 10px 5px 19px;}
.categories li a:hover, .categories li:hover a, .categories li a.active {background:url(../images/dot.png) no-repeat 10px -146px #ff8f00;color:#fff;text-decoration:none;}
.categories li a strong {font-weight:normal}
.categories li a.active strong {font-weight:bold}
.categories li ul {border:1px solid #333;background:#fff;display:none}
.item-main li ul {border:1px solid #922400;border-top:none;background:#de3600;display:none}
/*sub*/
.sub1 {position:absolute;top:32px;left:0;width:200px;}
.item-main .sub1 li {background:none;height:auto;float:none;padding:0;position:relative;margin-bottom:5px;}
.item-main .sub1 li a {background:none;width:170px;}
.item-main .sub2 li a, .item-main .sub2 li a span, .item-main .sub2 li .sub3 li a, .item-main .sub2 li .sub3 li a span {background:none !important;}
.item-main .sub2 li:hover a, .item-main .sub2 li .sub3 li:hover a {background:url(../images/bg.png) no-repeat 0 -241px!important;text-decoration:none;color:#FFF;}
.item-main .sub2 li:hover a span, .item-main .sub2 li .sub3 li:hover a span {background:url(../images/bg.png) no-repeat right -241px!important;}
.item-main .sub2, .item-main .sub3, .categories .sub2, .categories .sub3 {position:absolute;top:0;left:200px;width:200px;}
.categories .sub2 {left:218px;}
.categories .sub2 li, .categories li:hover .sub2 li a, .categories li .sub2 li:hover .sub3 li a {background:url(../images/dot.png) no-repeat 10px -101px !important;position:relative;color:#333;}
.categories li .sub2 li a:hover, .categories li .sub2 li:hover a, .categories li .sub2 li .sub3 li:hover a {background:url(../images/dot.png) no-repeat 10px -146px #ff8f00 !important;color:#fff;}
/* ================= CSS List Item Row ====================== */
ul.list-item li {text-align:center;width:32.8%;margin:0 0 10px 2px;float:left;position:relative}
.rights ul.list-item li {width:24.6%;}
.img img {width:146px;height:115px}
ul.list-item li h1 {margin-bottom:3px;line-height:16px;max-height:32px;overflow:hidden;font-size:12px;}
ul.list-item li h1 a {color:#333;}
p.prices {color:red;font-weight:bold;font-size:13px;margin-bottom:0;}
.buy-now, .set-item {font-size:11px;color:#333;padding:1px 0 2px 20px;}
.buy-now {background:url(../images/icon.png) no-repeat -32px -454px;}
.set-item {background:url(../images/icon.png) no-repeat -32px -472px;}
/*===============tab=================*/
.Options {position:absolute;right:8px;top:6px;z-index:11;}
a.viewall {font-size:11px;}
.Tabs a.viewall {display:none}
.title-item a.viewall {color:#914514;}
.Tabs {background:url(../images/bg.png) no-repeat 0 0;padding-left:5px;position:relative;}
ul.tab { border-bottom:1px solid #ccc; list-style:none; margin:0; padding:0}
ul.tab li {float:left;line-height:28px; margin-left:5px}
ul.tab li a {background:url(../images/img.png) no-repeat 0 -147px;padding-left:10px;color:#333;display:block;}
ul.tab li a span {background:url(../images/img.png) no-repeat right -147px;display:block; padding-right:10px}
ul.tab li a.active, ul.tab li a:hover {background:url(../images/img.png) no-repeat 0 -178px;text-decoration:none; position:relative; top:1px}
ul.tab li a.active span, ul.tab li a:hover span {background:url(../images/img.png) no-repeat right -178px;}
/*===============end tab=================*/
/*ho tro online*/
.support-online p {padding:6px 0 0}
.icon-ym-onl, .icon-ym-off, .icon-sky-onl, .icon-sky-off, .phone, .icon-messgage {background:url(../images/icon.png) no-repeat;padding:12px 0 10px 50px;font-size:14px}
.phone {background-position: 0 -308px;}
.icon-ym-onl {background-position: 0 -134px;}
.icon-ym-off {background-position: -2px -80px;}
.icon-sky-onl {background-position: 0 -186px;}
.icon-sky-off {background-position: 8px -240px;}
a.icon-messgage {background-position: 5px -352px;}
.online {background:url(../images/icon.png) no-repeat -30px -547px;padding:3px 0 4px 25px;color:red}
.viewer {background:url(../images/icon.png) no-repeat -30px -576px;padding:3px 0 4px 25px;color:green}
/*end*/
/* BEGIN CSS Footer */
.quicklink {background: url(../images/bg.png) repeat-x 0 -90px;height:35px;text-align: center;}
div.copyright {text-align:center;padding:10px;border:1px solid #eaeaea;}
div.copyright p {margin-bottom:10px;}
div.copyright h2 {font-size:16px;color:#a44004;text-transform:uppercase;margin-bottom:15px}
ul.item-link li {display:inline;line-height:30px;padding:5px 10px;}
ul.item-link li a {color:#FFF;}
/* ----------------------------------------------------------------END----------------------------------------------- */
.rss {float:right;margin:3px 5px 0 0}
.rss a {background:url(../images/icon.png) no-repeat 0 -414px;padding:0 0 10px 24px;}
.rss a span {display:none;}
/*san pham */
.theme h1 {font-size:14px;margin-bottom:10px;color:#c00}
.imageviewbig {float:left;width:360px;}
ul.thumbPicpro {float:left;height:290px;}
ul.thumbPicpro li a img {width:40px;border:2px solid #fff;}
ul.thumbPicpro li a:hover img, ul.thumbPicpro li a.active img {border:2px solid #f00;}
.buy, .theme-cont .share, .theme-cont .addthis_toolbox {float:left;margin-left:10px;}
.buy .clred {font-size:18px;float:left;margin-top:-5px;}
.buy p .l1 {float:left;width:60px;}
.items {width:80px;}
.nl {background:url(../images/share.gif) no-repeat 0 -120px;width:108px;height:25px;display:block;}
.bk {background:url(../images/share.gif) no-repeat 0 -81px;width:128px;height:36px;display:block;}
.table1 table p {margin-bottom:3px;}
.table1 table td {border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-top:1px solid #fff;background:#fbfbfb;padding:4px}
.bg td {background:#f3f3f3 !important;}
.table1 table {border-top:1px solid #ddd;border-right:1px solid #ddd;max-width:740px}
.img1 {float:left;margin:0 10px 0 0;width:50px;}
.img1 img {width:50px;height:50px;}
.map {margin:20px 0;}
.map img {width:470px;}
.r-sent {float:left;width:650px}
ul.list-sent li {margin-bottom:10px;padding:5px;}
ul.list-sent li p {margin-bottom:3px;}
.reply1 textarea {width:700px;height:80px;}
.spk ul.list-item li {width:135px;padding:0 5px;}
.scroll-image .img img {width:120px;height:100px}
/*new*/
ul.list-new li img {float:left;margin:0 10px 0 0;width:145px;}
ul.list-new li {margin-bottom:10px;}
ul.list-new li h2 {font-size:12px;margin-bottom:5px}
ul.list-new li p {margin-bottom:3px;}
ul.list-new li .viewall {float:right;}
ul.pathway {margin: 10px 0;}
ul.pathway li {background:url(../images/dot.png) no-repeat right -65px;padding-right:15px;margin-right:10px;float:left;}
ul.pathway li a span {font-size:11px;}
ul.pathway li.active {background:none !important;}
ul.pathway li.active a {color:#333 !important;}
.home1 {background:url(../images/icon.png) no-repeat -36px -498px;padding-left:15px;}
.box-other ul.list1 li {margin-bottom: 6px;}
ul.list1 li {background: url(../images/dot.png) no-repeat 0 -220px transparent;padding-left: 8px;}
ul.list1 li a {color:#333;}
ul.list1 li a:hover {color:#0072bc;}
.title-bor {border-bottom: 2px solid #e84510;padding-bottom: 3px;margin-bottom:10px;}
.title-bor b {color: #e84510;font-size: 16px;text-transform: uppercase;}
.center .new {margin-bottom:25px;}
.enew img {max-width:490px}
.center .new h1.titlenew {font-size:16px;color:#e84510;margin-bottom:2px;line-height:22px;position:relative;}
.spc ul.pathway {margin-top:0;}
ul.regedit {margin-top:20px;}
ul.regedit li {margin-bottom:10px;}
ul.regedit li label {float:left;width:120px;margin-right:20px;text-align:right;}
ul.regedit li input {width:220px;margin:0;}
.btn-r .btn {float:left;margin-left:138px;}
.wel {margin:20px}
.r-r, .file {float:left;}
.file {width:205px !important;}
.r-r img {width:50px;height:50px;float:left;margin-left:20px;}
.input1 {width:40px;}
.del {background:url(../images/ico-delete.gif) no-repeat 0 0;display:block;width:16px;height:16px;}
.e2 table tr td {text-align:center;}
.title1 td {background:#f5f5f5 !important;}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.no-l {border-left:none !important;}
.bgb td {background:#f1f1f1 !important;}
.bg1 {background:#f9f9f9;}
.share {margin:10px 0 15px}
.twitter, .facebook, .google {background:url(../images/share.gif) no-repeat 0 0;display:inline-block;width:74px;height:24px;}
.twitter {background:url(../images/share.gif) no-repeat 0 0;}
.facebook {background:url(../images/share.gif) no-repeat 0 -24px;}
.google {background:url(../images/share.gif) no-repeat 0 -48px;}
.txtprice {width:90px;}
.bottom3 {margin-bottom:3px;}
.tags {margin:10px 0;}
.tags a strong {font-size:11px;font-weight:normal}
/*Edit toan bo trang */
.sp .box-cont {padding:0;}
.video .box-cont, .enew .box-cont {padding:0;border:none;}
.sph .img img {float:left;margin:0 10px 0 0;width:80px;height:60px}
.sph ul.list-item li {width:100%;text-align:left;margin-left:0}
.sph ul.list-item li.last {margin-bottom:0;}
ul.new li.last {border-bottom:none !important;}
.link select {width:220px;}
/*End Edit toan bo trang */
/*rss*/
.box-rss {padding:10px}
.box-rss .pathway {margin-top:0}
.google-up, .yahoo-up {background:url(../images/rss.gif) no-repeat;float:left;height:18px;}
.google-up {background-position:-60px 0;width:70px;}
.yahoo-up {background-position:-136px 0;width:71px;}
.links {font-size:12px;float:left;width:166px;margin-left:3px}
ul.list-col3 li {float:left;width:32%;margin:0 1% 10px 0;height:20px;overflow:hidden}
/*end*/
/* -----------------------------jquery------------------------------------------------------------------*/
.jcarousel-skin-tango .jcarousel-container-horizontal {width: 100%;height: 162px;}
.jcarousel-skin-tango .jcarousel-item-horizontal h4 {width: 100%;text-align: center;margin: 0 auto;padding: 0;height: 32px;overflow: hidden;}
.jcarousel-skin-tango .jcarousel-item-horizontal h4 a {margin: 0 auto;font-weight: bold;font-size: 12px;line-height: 16px;}
.jcarousel-skin-tango .jcarousel-item-placeholder {background: #fff;color: #000;}
/**
 *  Horizontal Buttons
 */
.sph .jcarousel-skin-tango .jcarousel-prev-horizontal, .sph .jcarousel-skin-tango .jcarousel-next-horizontal {width:8px;height:4px;padding:3px;margin:4px 2px 0px 0px;float:left;background:url(../images/icon.png) no-repeat;}
.sph .jcarousel-skin-tango .jcarousel-prev-horizontal {background-position:-38px -417px;}
.sph .jcarousel-skin-tango .jcarousel-next-horizontal {background-position:-38px -432px;}
.spk .jcarousel-skin-tango .jcarousel-next-horizontal {background:url(../images/icon.png) no-repeat -13px -444px;position:absolute;right: 9px;top: -32px;font-size:11px;z-index: 111;width:11px;height:11px;margin:2px 2px 0;float:left;cursor:pointer;}
.spk .jcarousel-skin-tango .jcarousel-prev-horizontal {background:url(../images/icon.png) no-repeat 0 -444px;position:absolute;font-size:11px;z-index: 111;width:11px;height:11px;margin:2px 2px 0;float:left;right: -6px;top: -32px;cursor:pointer;}
/*------------------------------------------end jquery-------------------------------------------------*/
/*tooltip*/
.stickytooltip {display:none;position:absolute;display:none;border:5px solid black;background:white;z-index:3000;}
.stickytooltip .stickystatus {background:black;color:white;padding-top:5px;text-align:center;font:bold 11px Arial;}
/*end*/
/*light box */
#jquery-overlay {position: absolute;top: 0;left: 0;z-index: 90;width: 100%;height: 500px;}
#jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#jquery-lightbox a img {border: none;}
#lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#lightbox-container-image {padding: 10px;}
#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav {position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}
#lightbox-container-image-box > #lightbox-nav {left: 0;}
#lightbox-nav a {outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev {left: 0;float: left;}
#lightbox-nav-btnNext {right: 0;float: right;}
#lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {padding: 0 10px;color: #666;}
#lightbox-container-image-data #lightbox-image-details {width: 70%;float: left;text-align: left;}
#lightbox-image-details-caption {font-weight: bold;}
#lightbox-image-details-currentNumber {display: block;clear: left;padding-bottom: 1.0em;}
#lightbox-secNav-btnClose {width: 66px;float: right;padding-bottom: 0.7em;}
/*end */
