<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>.:: Tam Thái Tử ::.</title>
<link rel="stylesheet" href="css/style.css" title="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/style_css3.css" title="stylesheet" type="text/css" />
</head>
<body>
	<div id="T3-Wrapper" align="center">
		<!-- Menu Top -->
		<div id="MenuTop">
			<div id="box-menu-top">
				<div class="box-menu">
					<a href="/" class="btnMenu">
			            <div class="btnMenuLeft all">
			                <div class="btnMenuRight"></div>
			            </div>
			        </a>
			        <a href="#" class="btnMenu">
			            <div class="btnMenuLeft fashion">
			                <div class="btnMenuRight">Thời trang</div>
			            </div>
			        </a>
			        <a href="#" class="btnMenu">
			            <div class="btnMenuLeft brands">
			                <div class="btnMenuRight">Mỹ phẩm,Trang sức</div>
			            </div>
			        </a>
			        <a href="#" class="btnMenu">
			            <div class="btnMenuLeft shopping">
			                <div class="btnMenuRight">Nhà cửa</div>
			            </div>
			        </a>
			        <a href="#" class="btnMenu">
			            <div class="btnMenuLeft electric">
			                <div class="btnMenuRight">Điện máy</div>
			            </div>
			        </a>
			        <a href="#" class="btnMenu">
			            <div class="btnMenuLeft car">
			                <div class="btnMenuRight">Ô tô</div>
			            </div>
			        </a>
			        <a href="#" class="btnMenu">
			            <div class="btnMenuLeft estate">
			                <div class="btnMenuRight">Nhà đất</div>
			            </div>
			        </a>
				</div>
				<div class="box-menu-text"></div>
			</div>	
		</div>
		
		<!-- Header -->
		<div id="header"></div>
		
		<!-- Submenu Top -->
		<div id="submenu_top" align="center">
			<div id="main_submenu">
				<div class="txt_menu_first">
					<a href="#" class="sub_default_active">Nước hoa nữ</a>
				</div>
				<div class="txt_menu">
					<a href="#" class="sub_default">Nước hoa nam</a>
				</div>
				<div class="txt_menu">
					<a href="#" class="sub_default">Trang sức</a>
				</div>
				<div class="txt_menu">
					<a href="#" class="sub_default">Mỹ phẩm nữ</a>
				</div>
				<div class="txt_menu">
					<a href="#" class="sub_default">Mỹ phẩm nam</a>
				</div>
				<div class="txt_menu">
					<a href="#" class="sub_default">Dầu gội, sữa tắm, kem ủ</a>
				</div>
				<div class="txt_menu">
					<a href="#" class="sub_default">Dịch vụ làm đẹp</a>
				</div>
			</div>
		</div>
		
		<!-- Box Main -->
		<div id="box_main" align="center">
			<div id="box-left-center">
				<div class="box_frame">
					<div class="box_frame_header">
						<div class="title_header"><a href="#">Sản phẩm nổi bật</a></div>
					</div>
					<div class="content_frame">
						<ul id="top_sp">
							<li>
								<a href="#">
									<img class="img_radius" src="images/products.jpg" width="155" border="0" />
								</a>
								<div><a href="#">Duyên dáng với váy nữ cao cấp</a></div>
								<div>Giá : <span class="price">250.000 đ</span></div>
								<div>Bởi : <a href="#" class="post_by">Kiều Văn Ngọc</a></div>
							</li>
							<li>
								<a href="#">
									<img class="img_radius" src="images/products.jpg" width="155" border="0" />
								</a>
								<div><a href="#">Duyên dáng với váy nữ cao cấp</a></div>
								<div>Giá : <span class="price">250.000 đ</span></div>
								<div>Bởi : <a href="#" class="post_by">Kiều Văn Ngọc</a></div>
							</li>
							<li>
								<a href="#">
									<img class="img_radius" src="images/products.jpg" width="155" border="0" />
								</a>
								<div><a href="#">Duyên dáng với váy nữ cao cấp</a></div>
								<div>Giá : <span class="price">250.000 đ</span></div>
								<div>Bởi : <a href="#" class="post_by">Kiều Văn Ngọc</a></div>
							</li>
							<li>
								<a href="#">
									<img class="img_radius" src="images/products.jpg" width="155" border="0" />
								</a>
								<div><a href="#">Duyên dáng với váy nữ cao cấp</a></div>
								<div>Giá : <span class="price">250.000 đ</span></div>
								<div>Bởi : <a href="#" class="post_by">Kiều Văn Ngọc</a></div>
							</li>
						</ul>
					</div>
				</div>
				<div class="box_frame">
					<div class="box_frame_header">
						<div class="title_header"><a href="#">Thời trang nữ</a></div>
					</div>
					<div class="content_frame">
						<div class="boxcate" align="left">
							<table class="TblCate">
								<tr>
									<td class="cateItem"><a href="#">Áo sơ mi</a></td>
									<td class="cateItem"><a href="#">Váy</a></td>
									<td class="cateItem"><a href="#">Vest</a></td>
									<td class="cateItem"><a href="#">Quần</a></td>
								</tr>
								<tr>
									<td class="cateItem"><a href="#">Áo sơ mi</a></td>
									<td class="cateItem"><a href="#">Váy</a></td>
									<td class="cateItem"><a href="#">Vest</a></td>
									<td class="cateItem"><a href="#">Quần</a></td>
								</tr>
								<tr>
									<td class="cateItem"><a href="#">Áo sơ mi</a></td>
									<td class="cateItem"><a href="#">Váy</a></td>
									<td class="cateItem"><a href="#">Vest</a></td>
									<td class="cateItem"><a href="#">Quần</a></td>
								</tr>
								<tr>
									<td class="cateItem"><a href="#">Áo sơ mi</a></td>
									<td class="cateItem"><a href="#">Váy</a></td>
									<td class="cateItem"><a href="#">Vest</a></td>
									<td class="cateItem"><a href="#">Quần</a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="box-right"></div>
		</div>
	</div>
</body>
</html>