<script src="{$skinpath}/js/jquery.ui.selectmenu.js" type="text/javascript"></script>
<script type="text/javascript">

			$(document).ready(function () {

				$("input:submit, input:reset").button();

				$("select").selectmenu({

					style: 'dropdown',

					icons: [

						{ find: '.locked', icon: 'ui-icon-locked' },

						{ find: '.unlocked', icon: 'ui-icon-unlocked' },

						{ find: '.folder-open', icon: 'ui-icon-folder-open' }

					]

				});

			});
			
		
		</script>
      <!-- right -->
      <div id="right"  class="grid_18">
        <div class="title">
          <h4>Danh sách từ ngữ mặc định</h4>
          <div class="button"> <a href="index.php?do=define&action=adddefine&id_module={$id_module}">Thêm từ</a> </div>
        </div>
        <div class="table">
      
                                    
                                    
             <div style="clear: both">&nbsp;</div>
           <div id="scroll">  
             <form method="post">
            <table cellspacing="0" id="tbl_new">
              <thead>
                <tr>
                <!--  <th class="left">Hình ảnh</th>-->
                  <th>Từ mặc định</th>
               
                  <th>Action</th>
                  <th class="selected"><input type="checkbox" class="check-group" /></th>
                </tr>
              </thead>
              <tbody>
              {foreach item=info from=$info1}
                <tr {if $phim.stt eq 0}class="alt"{/if}>
                 <!-- <td  class="username"><strong>{if $info.picture !=''}<img style="width:50px; height:50px" src="../templates/pictures/news/{$info.picture}" /></{/if}</strong></td>-->
                  <td class="joindate" style="text-align:left">{$info.title}</td>
                 
                
                  <td class="action2"><a href="index.php?do=define&action=editdefine&id={$info.id}&id_module={$id_module}"><img src="{$skinpath}/images/edit.png" title="Sửa từ mặc định" /></a>&nbsp;&nbsp;&nbsp;<a onClick="return confirm('B&#7841;n c&#243; ch&#7855;c ch&#7855;n mu&#7889;n x&#243;a kh&#244;ng ?');" href="index.php?do=define&action=deldefine&id={$info.id}&id_module={$id_module}"><img src="{$skinpath}/images/delete.png" title="Xóa từ mặc định" /></a></td>
                  <td class="selected"><input type="checkbox" name="Selected[]" value="{$info.id}" class="check-item" /></td>
                </tr>
               {/foreach}
              </tbody>
            </table><br />
<br />



        
</form>
</div>
    <div class="action">
									

									<div class="button">

										<input type="submit" name="submit" value="Delete Apply to Selected" onClick="return confirm('Có chắc chắn là bạn muốn thực hiện thao tác này không ?');" class="check-submit" />

									</div>


								</div>
            <!-- pagination -->
          <!--  <div class="pagination">
           
              {$page}
           
            
            </div>
            -->
            <!-- end pagination -->
        </div>
        <!-- end table -->
      </div>
      <!-- end right -->
