html, body{

color:#000;

margin:0; padding:0;

font-size: 12px; font-family: Arial, Helvetica, sans-serif;}



/*-- body{background: url(images/bgPage.jpg);} */
body{background-color:#e5b93c;}

input{outline:none;}

ol,ul {list-style: none; margin:0; padding:0; border:0;}

img{ border:0; padding:0; margin:0; }

a {color:#4d3a2a; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; }

a:hover{ text-decoration:none;color:red}

.clr{ clear:both;}





/*----------------PAGE CONSTRUCTION----------------*/

.bgBody{ 

	background:url(images/bg2.jpg) fixed top center no-repeat;

	height:100%; height:auto !important;}

.all{ 

	margin:0 auto;

	width:960px; height:100%; height:auto !important;}





/*----------------HEADER----------------*/

#pageHeader{

	position:relative;

	width:960px; height:75px;

	margin:0 0;

	background:url(images/pageHeader.gif) top left repeat-x;}	

	a.logo{

		float:left;

		display:inline-block;

		width:155px;

		padding:00; margin:0 0 0 10px;}

	/*menu*/

	.cityMenu{

		float:left;

		position:relative;

		width:175px;

		margin:20px 0 0 0px;}

		.cityName a.city{

			float:right;

			display:block;

			line-height:20px;

			margin:0 0; padding:0 30px 0 0;

			background: url(images/arrow01.png) center right no-repeat;

			text-align:right;

			font-size:20px; font-family:"Times New Roman", Times, serif; color:#fffaef;}

		.cityMenu p{

			margin:2px 5px 0 0;

			float:right; font-size:11px;

			color:#ece3da}

	.listMenu{

		position:relative;

		float:left;

		width:180px;

		margin:20px 0 0 30px;_margin:20px 0 0 10px; padding:0;}

		.listName a.list{

			float:right;

			display:block;

			line-height:20px;

			margin:0 0; padding:0 30px 0 0;

			background: url(images/arrow02.png) center right no-repeat;

			font-size:18px; font-family:"Times New Roman", Times, serif; color:#fffaef;}

	/*

	Dropdown

	*/

	.dropDown{ 

			margin: 0;padding: 0;

			position: absolute; top:40px; right:00px; z-index:1000;

			visibility: hidden; overflow:hidden;

			background:#EC9E81;

			border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

			.dropDown li a{

				display:block;

				height:20px;width:130px;

				padding:5px 15px;margin:0 0 1px 0;

				text-align:right;

				font:16px "Times New Roman", Times, serif; font-weight:bold; color:#fff5d9;

				background:#e96d5b;}

			.dropDown li a:hover{background:#D35445}

.cate_dropDown{ 

			margin: 0;padding: 0;

			position: absolute; top:40px; right:00px; z-index:1000;

			visibility: hidden; overflow:hidden;

			background:#EC9E81;

			border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

			.cate_dropDown li a{

				display:block;

				height:20px;width:120px;

				padding:5px 15px;margin:0 0 1px 0;

				text-align:right;

				font:16px "Times New Roman", Times, serif; font-weight:bold; color:#fff5d9;

				background:#e96d5b;}

			.cate_dropDown li a:hover{background:#D35445}

	/*---------------HOME SIGNIN------------------*/

	.homeSignIn{

		float:right;

		width:350px; height:64px;

		margin:0 10px 0 0;padding:10px 0 0 25px;

		background: url(images/homeSignIn.png) center left no-repeat;}

		.homeSignIn img{ float:left; margin:8px 0 0;}

		.homeSignInText{

			float:left;

			width:150px; height:22px;

			padding:0 0 0 5px; margin:0 5px 0 0;

			background:#faf5ea;

			border:none;

			border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;

			font:11px/22px Arial, Helvetica, sans-serif; color:4f4339;}

		.homeSignInBtn{

			float:left;

			width:25px; height:22px;

			margin:0 0 0 5px;

			background: url(images/homeSignInBtn.png) center left no-repeat;

			border:none;

			cursor:pointer;}

		.homeSignIn .homeSignInExtra{

			margin:5px 0 0 0;}

			.homeSignIn .homeSignInDesc{

				float:left;

				margin:0 0 0 3px;

				font-size:11px;

				color:#ece3da}

				.homeSignIn .homeSignInDesc a{

					font-size:11px;

					padding:0 3px;

					color:#ece3da}

				.homeSignIn .homeSignInDesc a:hover{color:#fad657;}

		.homeSignInCheck{

			margin:0;height: 13px;width:: 13px;}

		

	/*----------HEADER NAV-------------*/

	.headerNav{

		float:right;

		_width:590px;_margin:-27px 0 0 0;}

		.topNav{

			_position:relative; _z-index:3;

			float:right;

			_width:315px;}	

			.topNav a{

				display:block;

				float:right;;

				width:140px; height:28px;

				padding:0 8px;

				background:#e96d5b;

				font:12px/28px Arial, Helvetica, sans-serif;font-weight:bold;

				color:#fff;}

			a.regEmailBtn{

				border-radius:0 0 5px 0; -moz-border-radius:0 0 5px 0; -webkit-border-radius:0 0 5px 0;}

			a.followOderBtn{

				margin:0 1px 0 0;

				border-radius:0 0 0 5px; -moz-border-radius:0 0 0 5px; -webkit-border-radius:0 0 0 5px;}

			.topNav a:hover{background:#5a4d42;}	

			

				.topNav a span{ float:left; display:block;}

				a.regEmailBtn span.ico{

					height:18px; width:18px;

					float:left; margin:5px 0 0 5px;

					background:url(images/icoEmail.png) no-repeat;}

				a.followOderBtn span.ico{

					height:18px; width:18px;

					float:left; margin:5px 0 0 5px;

					background:url(images/icoFollowOder.png) no-repeat;}

		.headerNavExtra{

			_position:relative; _z-index:3;

			float:right;

			_width:265px; color:#fff;
					 font-family:"Times New Roman", Times, serif;

			margin:5px 8px 0 0;}

			.headerNavExtra a:hover{ color:#fff; text-decoration:underline; font-family:"Times New Roman", Times, serif;}

			

				a.icoTalk{

					display:block;

					float:right;

					padding:0 25px 0 0; margin:0 0 0 5px ;
font-family:"Times New Roman", Times, serif;
					color:#fff; font-size:14px;font-weight:bold;

		 			background:url(images/icoTalk.png) center right no-repeat;}

				.icoPhone{

					display:block;
					float:right; font-weight:bold;

					padding:0 15px 0 0; font-size:14px;

					background: url(images/icoPhone.png) center right no-repeat;}



/*----------------CONTENT----------------*/

#pageContent{

	width:960px; height:100%;

	margin:20px 0 0;}

	#pageLeftHome{
	width:960px;
	height:100%;
}
	#pageLeft{ 

		width:730px; height:100%;

		float:left;}

.mb-wrapper{

	}
	.mbt-l{
	float: left;
	width: 9px;
	height: 9px;
	background: url("images/topleft.png") no-repeat;
	margin-left: 1px;
   }
   .mbt-m{
      float: left;
      width: 730px;
      height: 9px;
      background: url("images/bordertop.png") repeat-x;
   }
   .mbt-r{
      float: left;
      width: 9px;
      height: 9px;
      background: url("images/topright.png") no-repeat;
   }
   .mbb-l{
	float: left;
	width: 9px;
	height: 9px;
	background: url("images/botleft.png") no-repeat;
	margin-left: 1px;
   }
   .mbb-m{
      float: left;
      width: 730px;
      height: 9px;
      background: url("images/borderbot.png") repeat-x;
   }
   .mbb-r{
      float: left;
      width: 9px;
      height: 9px;
      background: url("images/botright.png") no-repeat;
   }
	/*Center*/
   .mb-top-home{
      width: 960px;
      height: 9px;
   }
   .mb-mid-home{
	background: url("images/bg-mbm.png") repeat-y;
	width: 946px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
   }
	  .wrap-bottom-deal-percent{
		background: url("images/saleoff_red_mini.png") no-repeat transparent;
		display: block;
		height: 70px;
		padding-left: 4px;
		position: absolute;
		right: 8px;
		top: -7px;
		width: 54px;
		
	}
	.wrap-bottom-deal-percent span{
		font-family: Arial;
		color: #ffffff;
		margin-top: 10px;
		margin-left: 11px;
		display: block;
		font-weight: bold;
		font-size: 14px;
	}
	.wrap-top-deal-percent{
		background: url("images/saleoff_red.png") no-repeat transparent;
		width: 60px;
		padding: 10px 0px 0px 15px;
		height: 80px;
		display: block;
		position: absolute;
		right: 2px;
		top: -9px;	
	}
	.wrap-top-deal-percent span{
		font-family: Arial;
		color: #ffffff;
		display: block;
		font-weight: bold;
		font-size: 19px;
	}
	.wrap-bottom-deal-buy{
		margin-top: 2px;
		float: left;
		text-align:right ;
	}
	.wrap-bottom-deal-buyed{
		position: absolute;
		right: 15px;
		bottom: 0;
	}
	.wbdi_transpost{
		width: 110px;
		float: left;
	}
	.block_2_home_top{
		height: 80px;
      width: 170px;
      position: absolute;
      top: 50px;
      left: 140px;   	
   }
   .block-2-home {
    height: 80px;
    left: 62px;
    position: absolute;
    top: 42px;
    width: 170px;
}
   .bl2-mid-home table{
         color: #ab9895;
      }
	
	.middle-white{
         color: #ab9895;
         font-family: Arial, sans-serif;
      } 
	  
	 .time-remain{
         overflow: hidden;
         width: 150px;
         font-weight: bold;
         font-size: 22px;
         font-family: Arial, sans-serif;
         color: #333333;
      }
      .time-remain .hours{
         background: url("images/demnguoc.png") no-repeat;
         width: 42px;
         height: 30px;
         margin-left: 1px;
         line-height: 30px;
      }
      .time-remain .minutes{
         background: url("images/demnguoc.png") no-repeat;
         width: 42px;
         height: 30px;
         line-height: 30px;
      }
      .time-remain .days{
         background: url("images/demnguoc.png") no-repeat;
         width: 42px;
         height: 30px;
         line-height: 30px;
      }
      .time-remain div{
         float: left;
         line-height: 29px;
      }
      .time-remain .dot-dot{
         font-weight: bold;
         font-size: 13px;
         color: #fde5bb;
         padding: 0px 3px;
      }
	  
	  .wrap-top-deal-buynow{
   	background: url("images/buy_now_bottom.png") no-repeat left top;
  		width: 120px;
  		height: 35px;
  		position: absolute;
  		top: 160px;
  		left: 164px;
   }
   .wrap-top-deal-buynow a{
   	display: block;
   	height: 100%;
   }
   
   .wrap-top-deal-info{
   	padding-top: 5px;
  		width: 445px;
  		height: 85px;
  		overflow: hidden;
   }
   .wrap-top-deal-buy{
   	float: left;
  		text-align: right;
   }
   .wrap-top-deal-price{
  		height: 20px;
   }
	.wrap-top-deal-price span{
		color: #0098D6;
		font-weight: bold;
		display: block;
		line-height: 18px;
		font-size: 18px;
		font-family: Arial;
	}
	
	.wrap-top-deal-percen span{
		color: #333333;
		font-weight: bold;
		font-family: Arial, sans-serif;
		text-decoration: line-through;
	}
   .mbt-m-home{
	float: left;
	width: 941px;
	height: 9px;
	background: url("images/bordertop.png") repeat-x;
   }
   .mbb-m-home{
	float: left;
	width: 941px;
	height: 9px;
	background: url("images/borderbot.png") repeat-x;
   }
   .coupon-title-home{
	background: url("../images/cucre_v4/bg_deal/bg_top_1_27.png") repeat-x left top;
	height: 30px;
	width: 950px;
	border-bottom: 2px #c69816 solid;
   }
   .mb-mid-home .coupon-title-home p{
	color: #e5b93c;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	margin: 0px;
	line-height: 20px;
	padding-left: 19px;
   }
   .wrap-top{
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-image: url(images/bg-mbm.png);
	background-repeat: repeat-y;
   }
   .wrap-top-deal{
	background-color: #F5F5F5;
	float: left;
	width: 445px;
	border: 1px #dddddd solid;
	height: 500px;
	overflow: hidden;
	background-image: url(images/bg_deal_top_1x396.png);
	background-repeat: repeat-x;
	background-position: left top;
	padding-top: 11px;
	padding-right: 9px;
	padding-bottom: 0px;
	padding-left: 9px;
   }
   .wtd_title{
  		width: 445px;
    	min-height: 80px;
   	overflow: hidden;
   }
   .wtd_title p{
   	padding: 0px;
   	margin: 0px;
   	font-size: 12px;
   	font-family: Arial;
   	color: #666666;
   	text-align: justify;
   }
   .wtd_title p a{
   	font-size: 16px;
   	font-weight: bold;
   	color: #0098D6;
   	margin-bottom: 3px;
   	display: block;
   }
   .wrap-top-deal-img{
   	margin: 0px;
   	position: relative;
   	background-color: #000;
   	border-radius:3px;
   	width: 445px;
   	height: 318px; text-align:center;
   	box-shadow: 0 0 5px #CACACA;
   }
   .wrap-top-deal-shortname-two{
   	position: absolute;
   	top: 10px;
   	left: 10px;
   	color: white;
   	font-weight: bold;
   	margin: 0px;
   }
   .wrap-top-deal-buynow{
   	background: url("images/buy_now_bottom.png") no-repeat left top;
  		width: 120px;
  		height: 35px;
  		position: absolute;
  		top: 160px;
  		left: 164px;
   }
   .like-block-top{
  		position: absolute;
  		bottom: 90px;
  		right: 170px;
  		z-index: 1000;
   }
   .wrap-top-deal-buynow a{
   	display: block;
   	height: 100%;
   }
   .wrap-top-deal-img img{
  	max-width: 445px;
   	height: 318px; overflow:hidden;
   	border: none;  background:#fff;
   }
   .block_2_home_top{
		height: 80px;
      width: 170px;
      position: absolute;
      top: 50px;
      left: 140px;   	
   }
   .wrap-top-deal-info{
   	padding-top: 5px;
  		width: 445px;
  		height: 85px;
  		overflow: hidden;
   }
   .wrap-top-deal-buy{
   	float: left;
  		text-align: right;
   }
   .wrap-top-deal-price{
  		height: 20px;
   }
	.wrap-top-deal-price span{
		color: #0098D6;
		font-weight: bold;
		display: block;
		line-height: 18px;
		font-size: 18px;
		font-family: Arial;
	}
	.wrap-top-deal-percen{
	}
	.wrap-top-deal-percen span{
		color: #333333;
		font-weight: bold;
		font-family: Arial, sans-serif;
		text-decoration: line-through;
	}
	.wrap-top-deal-bt-percen{
		background: url("images/saleoff_red.png") no-repeat left top;
		height: 2px;
		width: 75px;
		float: right;
	}
	.wtdi_transpost{
		float: left;
		width: 110px;
	}
	.wtdi_transpost p{
		padding: 0px;
		margin: 0px;
	}
	/*phan them wrap-top*/
.wrap-top-deal-numberbuy{
	color: white;
	font-weight: bold;
	font-family: Arial;
	position: absolute;
	left: 310px;
	top: 30px;
}
.wtd_bg_numberorder{
	/*background: #030303;*/
	width: 445px;
	height: 40px;
	opacity: 0.56;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=56)"; /* Ðau tien! */
   filter: alpha(opacity=56); /* Th? hai! */
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.wtd_numberorder{
	padding:0px;
	margin: 0px;
	color: #323232;
	font-family: Arial;
}
.wrap-top-deal-numbersave{
	color: white;
	font-weight: bold;
	font-family: Arial;
	position: absolute;
	right: 18px;
	bottom: 10px;
}
.buy_bottom_deal{
	width :400px;
	float: right;
	margin-top: 10px;
}

	

		/*slider*/

	#pageRight{

		float:left;

		width:220px;

		margin:0 0 0 10px;}

		.viewSoldDeal{

			margin:0 0 10px 0;}

		.boxRight{
		-moz-box-shadow: 0 0 5px #b4b4b4;
		-webkit-box-shadow: 0 0 5px #b4b4b4;
		box-shadow: 0 0 5px #b4b4b4;

			border-radius:5px; -moz-border-radius:5px;-webkit-border-radius:5px;

			border-bottom:2px solid #4e4238;

			overflow:hidden;

			margin:0 0 10px 0; padding:0;}

			.boxTitle{

				width:auto; height:37px;

				padding:0 0 0 15px;

				color:#fff5d9; font: 19px/34px "Times New Roman", Times, serif; text-shadow:#382f28 0 1px;

				border-radius:5px 5px 0 0 ; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;

				background: url(images/boxTitle.gif) bottom left repeat-x;}				

			.boxDiscount{

				width:200px;

				margin:0; padding:5px 10px 0;

				background:#fff7db;}

				a.discountTitle{

					display:block;

					color:#4e4238; font-size:12px; font-weight:bold;}

					a.discountTitle:hover{ color:#f18072;}

				.discountImg{

					float:left;

					overflow:hidden;

					width:105px; height:70px;

					margin:5px 5px 0 0;}

						.discountImg img{ width:105px;}

				.discountBot{

					clear:both;

					padding:0 0 10px;

					border-bottom:1px dotted #cfc3b9;}		

					.discountLabel{

						float:left;

						width:80px; height:22px;

						padding:0; margin:5px 0 0 0;

						text-indent:6px; font:12px/22px Arial, Helvetica, sans-serif; font-weight:bold; color:#fffcf3;

						background: url(images/discontLabel.png) top left no-repeat;}

						.discountLabel p{ margin:0; ;font-size:13px; font-weight:bold;}

					.discountView{

						float:right;}

						.discountView a{

							display:block;

							margin:8px 0 0 0;

							font-weight:bold;}

				.discountDetai{

					margin:5px 0 0 0;

					color:#4e4238;}

					.discountDetai b{color:#ff5844;}

				.boxDiscount ul li .helpIcon{

					height:39px; line-height:38px;

					padding:5px 0 0 45px;

					color:#e96d5b; font-weight:bold;

					background:url(images/icoHelp.png) no-repeat}

					.boxDiscount ul li.question .helpIcon{ background-position:left bottom;}

					.boxDiscount ul li.online .helpIcon{ background-position::left top; line-height:16px;}

					.boxDiscount ul li.cast .helpIcon{ background-position:left center;}

				.boxDiscount ul li .helpContent{

					margin:5px 0;

					color:#2a2a2a;}

			/*HO TRO QUA DIEN THOAI*/

			.nameSupport{

				font:14px/30px "Times New Roman", Times, serif;

				padding:0 0 0 40px;

				font-weight:bold;

				background:url(images/icoPhone02.png) top left no-repeat}

			.numbberSupport{

				text-align:center; font-size:13px;

				padding:0 0 8px}

					

/*----------------FOOTER----------------*/

.pageBottom{

	position:relative;

	width:100%; height:110px;

	margin:20px 0 0 0;

	background: url(images/pageFooter.gif) bottom left repeat-x;

	border-top:3px solid #e96d5b}

	.logo02{ position:absolute; top:0; left:10px;}

	.pageFooter{

		width:960px;

		margin:0 auto; padding:0 0;}

		.footerNav{

			float:right;

			margin:5px 10px 0;

			color:#fffcf3;}

			.footerNav a{

				font:15px "Times New Roman", Times, serif; color:#fffcf3;

				padding:0 10px;}

			.footerNav a.last{ border:none;}

			.footerNav a:hover{ text-decoration:underline;}

			

		.copyRight{

			position:absolute;

			left:20%; top:45%;

			color:#fff5d9;}

			.copyRight b{color:#fff5d9;}



			.copyRight span{ color:#e3ddd7;}

			

		.icoFooter{

			position:absolute;

			top:60px; right:20px;}

			.icoFooter a{

				float:right;

				display:block;

				height:16px;

				margin:0 0 0 10px;}

	

/*-----BOX DEAL-----*/

.dealBox{

	position:relative; z-index:0;

	width:auto;

	margin: 0 0 15px 0; padding:14px;

	background:#fffcf3;
		-moz-box-shadow: 0 0 5px #b4b4b4;
		-webkit-box-shadow: 0 0 5px #b4b4b4;
		box-shadow: 0 0 5px #b4b4b4;

	border:0px solid #3d3d3d;

	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

	a.dealTitle{

		display:block;

		
		margin:0 0 10px 0;
		font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#65574c;
		font-weight:bold;
		}

	a.dealTitle:hover{color:#ff5844;}

		a.dealTitle span{

			margin:0 5px 0 0;

			font:22px "Times New Roman", Times, serif; color:#e96d5b;}

		.wtdi_loantin{
		width: 360px;
		height: 50px;
		float: left;
	}
	.dealLeft{

		position:relative; z-index:2;

		float:left;

		width:180px;}

		.dealPriceHome{

			width:350px; height:50px;

			margin:0 auto; padding:0px 10px 0;

			font:24px Arial, Helvetica, sans-serif; font-weight:bold; color:#fff5d9;}
			
			.wbdi_loantin{
	width: 212px;
	float: left;
	}
		.dealPriceHome-list{
	width:212px;
	height:50px;
	font:24px Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#fff5d9;
}
			
			.dealPriceHome a{
			display:block;
			width:131px;
			height:43px;
			background: url(images/mua_ngay_button.png) top left no-repeat;
			float: left;
			margin-left: 10px;
			margin-top: 5px;
		}
				.dealPriceHome-list a{
	display:block;
	width:131px;
	height:43px;
	background: url(images/mua_ngay_button.png) top left no-repeat;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
		}

			.dealPriceHome a:hover{

				background: url(images/mua_ngay_button.png) bottom left no-repeat;}
			.baokim{
			margin-left: 10px;
			float: left;
			}
			.baokim-list{
	float: left;
	width: 79px;
	margin-left: 2px;
			}
		.dealPriceHomeRight{

			position:absolute; left:220px; top:0; z-index:100;
			margin-top:40px;

			width:60px; height:140px;

			background: url(images/dealPriceRight.gif) top left no-repeat transparent;}

		.dealPrice{

			width:220px; height:100%;

			margin:0 auto; padding:5px 10px 0;

			background: url(images/dealPrice.gif) top left repeat-y;

			font:24px Arial, Helvetica, sans-serif; font-weight:bold; color:#fff5d9;}

			.dealPrice a{

				display:block;

				width:149px; height:39px;

				margin:0 0 0 20px;

				background: url(images/dealBuy.png) top left no-repeat;}

			.dealPrice a:hover{

				background: url(images/dealBuy.png) bottom left no-repeat;}

		.dealPriceRight{

			position:absolute; left:220px; top:0; z-index:100;
			margin-top:40px;

			width:60px; height:140px;

			background: url(images/dealPriceRight.gif) top left no-repeat transparent;}
			

		/* GIA TRI - TIET KIEM*/

		.featurePrice02{

			height:46px;

			margin:10px auto 0;}

			.featureValue {

				float:left;

				width:90px; height:30px;

				margin:0 1px 0 0; padding:8px 0;

				background:#4e4238;

				color:#fff9e8; text-align:center;}

				.featureValue p{

					margin:0;

					text-decoration:line-through; font-weight:bold; font-size:13px;}

			.featureSave {

				float:left;

				width:89px; height:30px;

				padding:8px 0;

				background:#4e4238;

				color:#fff9e8; text-align:center;}

				.featureSave p{

					margin:0;

					color:#ff5844; font-weight:bold; font-size:13px;}

					

		/* THOI GIAN CON LAI*/	

		.featureTime {

			width:168px;

			margin:10px auto 0;padding:5px;

			border:1px solid #e7debb;

			text-align:left;

			background:#fbf9e9;}

			.featureTime .timeTitle{

				line-height:26px;

				margin:0 0 3px 0; padding:0 0 0 10px;

				color:#48321f; font-size:12px; font-weight:bold;

				background: url(images/icoClock.gif) top left no-repeat;text-align:center;}

			.featureTime p{

				margin:0;

				color:#4e4238; font-weight:bold; font-size:12px; }

			.featureTime span{ 

				color:#ff5844;

				font-size:11px;}	

				

		/* LUONG NGUOI DA MUA*/

		.featureBought {

			width:168px;

			margin:10px auto 0;padding:5px;

			border:1px solid #e7debb;

			text-align:left;

			background:#fbf9e9;}

			.featureBought .boughtTitle{

				margin:0 0 0 5px; padding:0px 0;

				color:#4e4238; font-size:14px;}

				.boughtTitle span{

					margin:0;

					color:#ff5844; font-size:12px;font-weight:bold; }

			.featureBought .boughtBar{

				height:10px; width:160px;

				margin:5px 0 0 5px;

				background: url(images/boughtBar.gif) top left repeat-x;

				border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;

				color:#fff; font-size:12px; font-weight:bold;}

				.boughtBar .boughtPercent{

					float:left;

					height:10px;

					background: url(images/boughtBar.gif) bottom left repeat-x;

					border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;}

			.featureBought .boughtStatus{

				text-align:center; color:#4e4238; font-size:12px;font-weight:normal;

				margin:5px 0 0 0;}

				.boughtStatus span{

					color:#ff5844;font-weight:bold;}

					

			/*LUOT XEM*/	

			.pageView {

				width:128px;

				margin:10px auto 0;padding:5px 5px 5px 45px;

				border:1px solid #e7debb;

				text-align:left;

				color:#48321f; font-size:12px; font-weight:bold;

				background:url(images/icoEyes.png) 8px center no-repeat #fbf9e9;}

				.pageView span{ font-weight:normal;}

			.pageComment {

				width:128px;

				margin:10px auto 0;padding:5px 5px 5px 45px;

				border:1px solid #e7debb;

				text-align:left;

				color:#48321f; font-size:12px; font-weight:bold;

				background:url(images/icoTalk02.png) 8px center no-repeat #fbf9e9;}

				.pageComment span{ font-weight:normal;}

			.dealBottom{

				margin:10px auto 0;}

			.dealBottom a{

				color:#48321f; font-size:18px; font-family:"Times New Roman", Times, serif;}

				.dealBottom a.viewDetail:hover{color:#ff5844;}

			/*SHARE SOCIALITY*/

			.share{

				width:150px; height:20px;

				margin:10px 0 0 0;

				}

	/*PHAN BEN PHAI*/		

	.dealRight{

		position:relative; z-index:1;

		float:left;

		width:500px; 

		margin:0 0 0 10px;}

		.dealRight .dealImage{

			width:500px; height:340px;

			overflow:hidden;}

			.dealImage img{width:; }

		.dealHomeContent{}

		.dealLabel{

			position:absolute; top:55px; right:5px; z-index:2;

			width:80px; height:67px;

			padding:18px 0 0 0;

			
			color: #FFFFFF;
			font-size: 30px;
			font-weight: bold;
			height: 126px;
			padding: 35px 0 0;
			position: absolute;
			right: 5px;
			text-align: center;
			text-shadow: 0 -1px #D87A00;
			top: 55px;
			width: 126px;
			z-index: 2;

			background: url(images/dealLabel.png) top left no-repeat;}

			.dealLabel span{ margin:0; font-size:15px;}



/*DEAL CONTENT*/

	.boxShortContent{

		background:#FFF7DB;

		padding:15px;

		border:2px dotted #CFC3B9;

		border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

		.bgDotted{

			background:url(images/bgDotted.gif) center repeat-y}

			.dealNote{ 

				float:left;

				width:47%;}

				.dealNoteTitle{

					padding:0 00 0 40px;

					line-height:31px;

					background: url(images/dealNote.png) top left no-repeat;

					font-size:14px; font-weight:bold;}

				.dealNoteContent{ margin:8px 0 0 0; color:#4E4238}

			.dealConditions{

				float:right;

				width:47%;}

				.dealConditionsTitle{

					padding:0 00 0 40px;

					line-height:30px;

					background: url(images/dealNote.png) bottom left no-repeat;

					font-size:14px; font-weight:bold;}

	a.reQuest{

		display:block;

		float:right;

		height:55px; width:170px;

		margin:10px 0;

		background: url(images/question.png) right top no-repeat;}

	.dealDetailContent{

		margin:10px 0 0 0;

		color:#4E4238}

			

/*DEAL COMMENT*/

.commentBox{

	margin:10px 0 0 0;

	padding:15px;

	border-top:3px solid #CFC3B9;

	background:#FFF7DB}

	.commentBox .textArea{

		margin: 5px 0pt 10px; padding:5px;

		width: 650px;

		border:1px solid #BCA591 ; 

		overflow: hidden;

		background:#fffdf7;

		font-family:Arial, Helvetica, sans-serif;

		font-size:12px;}

.commentUser{

	width:670px;

	margin:10px 0 0 0;

	padding:15px;

	border-top:3px solid #4E4238;

	background:#f9f3e3}

	.commentUser img{

		float:left;

		width:50px; height:50px;}

	.commentUserInfo{

		width:45%;

		float:left;

		margin:0 0 0 10px;}

		.userName{ font-size:12px;}

			.userName span{

				font:14px Arial, Helvetica, sans-serif; color:#FF5844; font-weight:bold;}

		.commentUserInfo p{ display:block; margin:3px 0 0;}

	.commentUserInfo_2{

		float:right;

		width:40%;

		margin:0 10px 0 0;}

		.userBought{}

			.userBought b{ font-size:14px;color:#FF5844;}

		.commentUserInfo_2 span{ color:#FF5844;}

	.commentUserContent{

		margin:10px 0 0 0;

		width:96%;

		padding:10px;

		border:1px solid #e5deca;

		background:#fffbef}

.replyTop{

	width:16px; height:10px; margin:0 0 0 50px;

	background: url(images/replyTop.png) bottom left no-repeat;}

.commentUserReply{

	width:630px;

	margin:0px 0 0 40px;

	padding:15px;

	border-top:3px solid #4E4238;

	background:#f9f3e3}

	.commentUserReply img{

		float:left;

		width:50px; height:50px;}

/*SOLD DEAL*/

.soldContent{

	width:650px;

	padding:10px;

	background:#0a0a0a;}

	.soldBox{

		position:relative;

		float:left;

		width:300px;

		margin:15px 0 0 15px; padding:13px;

		border:1px solid #BCA591;

		background: #FFF7DB;

		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

		.soldTitle a{color:#4f4339; font-size:13px; font-weight:bold;}

		.soldTitle a:hover{ color:#e96d5b; text-decoration:underline;}

		.soldImage{

			position:relative;

			margin:8px 0 0 0;

			width:300px; height:170px;}

			.soldImage a{

				width:300px; height:170px;

				overflow:hidden;display:block;}

			.soldImage img{ width:300px;}

			.soldPrice{

				float:left;

				padding: 7px 0 0 0;

				width:130px; line-height:40px;

				padding:0 0 0 10px; margin:8px 0 0 0;

				background: url(images/soldPrice.png) bottom left no-repeat;

				color:#fff5d9; font-size:20px; ;font-weight:bold;}

			.soldLabel{

				position:absolute; right:-6px; top:-15px;

				width:50px; height:52px;

				padding:10px 0 0 ;

				text-align:center; color:#4f4339; font-size:11px;

				background: url(images/soldLabel.png) top left no-repeat;}

				.soldLabel p{ margin:0; ;font-size:13px; font-weight:bold;}

			.soldInfo{

				float:right;

				width:160px;

				padding: 7px 0 0 0;

				font-weight:bold; text-align:right; line-height:22px; color:#4e4238}

				b.soldValue{

					display:inline-block;

					width:90px;

					margin:0 0 0 5px;

					text-align:left;

					font-size:13px;color:#e96d5b;}

				b.soldSave{

					display:inline-block;

					width:90px;

					margin:0 0 0 5px;

					text-align:left;

					color:#e96d5b;font-size:13px;text-decoration:line-through;}



	.page{ float:right; margin:10px 0 0 0; clear:both;}

	.page span{

		line-height:25px;

		margin:0 0 10px 0px;padding:5px 7px;

		color:#fff5d9; font-weight:bold;

		background:#e96d5b; }

	.page a{

		display:inline-block;

		background:#4e4238;

		color:#fff5d9;

		padding:5px  7px;}

	.page a:hover{color:#e96d5b}



/*CONTACT*/



.contactForm{ padding:0 10px 0 0; float:left;}

.contactForm p.acceptCode{

	margin:0;}

.contactForm p.acceptCode img{

	float:left;

	width:90px; height:27px;

	margin:10px 0 0 8px;

	border:1px solid #4f4339}

	.contactRefresh{

		display:block;

		float:left;

		width:17px; height:17px;

		margin:15px 0 0 8px;

		background: url(images/contactRefresh.png) top left no-repeat;

		cursor:pointer;}

		

.contactInfo{ margin:10px; width:290px; float:right;}

	.contactInfo li{

		color:#4f4339;

		font-weight:bold;

		padding:3px 0 ;}

	.contactInfo li.title{ font-weight:bold; margin:0; font-size:16px}

		.contactInfo li.title a{ font-size:16px; font-weight:bold;}

	.contactInfo li .icoContact{

		height:15px; width:16px;

		float:left; margin:0 8px 0 0;

		background: url(images/icoContact.gif) no-repeat;}

		.contactInfo div#icoHome{background-position: top left;}

		.contactInfo div#icoPhone03{background-position: center left;}

		.contactInfo div#icoMail{background-position: bottom left;}

		

		.contactInfo li span{ font-weight: normal}

		.contactInfo li a{color:#939F11}

		.contactInfo li a:hover{color:#e96d5b;}

	.contactInfo dd{ color:#4f4339; margin:0 0 8px 0;}



/*SIGNIN & SIGNUP*/

.pageDefault{

	width:700px; min-height:450px; height:auto !important;

	padding:14px;

	background:#fffcf3;

	border:1px solid #4f4339;

	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

.pageTitle{

	padding:0 0 0 25px;

	background:url(images/arrow03.png) center left no-repeat;

	font-size:19px; font-family:"Times New Roman", Times, serif;}

	/*--------FORM--------*/

	.formLabel{

		width:70px;

		display:inline-block;}

	.formLabel_02{

		width:130px;

		display:inline-block;}

	.formRequest{color:red; margin:0 0 0 5px;}

	.forrmDesc{

		padding:5px 0;

		display:inline-block;}

			.forrmDesc a{color:#e96d5b; font-weight:bold;}

			.forrmDesc a:hover{color:#939f11}

	.formInput{

		width:320px;

		padding:7px 10px;margin:10px 0 0 0;

		background:#fff;

		border:1px solid #bca591; outline:none;

		background: #FAF5EA;

		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;

		font:12px Arial, Helvetica, sans-serif; color:#4f4339;}			

	.formInput02{

		width:280px;

		padding:5px 8px;margin:10px 0 0 0;

		background:#fff;

		border:1px solid #bca591; outline:none;

		background: #FAF5EA;

		border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;

		font:12px Arial, Helvetica, sans-serif; color:#4f4339;}			

	.formBtn{

			padding:5px 15px; margin:0 auto;

			border:none;

			background: #e96d5b;

			color:#fff9ec; 

			font:bold 13px  Arial, Helvetica, sans-serif;

			border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;

			cursor:pointer;}

			.formBtn:hover{background: #4b4037;}

				#pass_strong {

					font-size: 12px;

					color:#fcc82b;

					padding:0 0 5px;}

				#levelPass {

					background:#34332d;

					display: block;

					height: 15px;width:340px;

					margin:0 auto 5px;

					border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

				.l1{

					background:url(images/mana.png) top left no-repeat;

					width:65px; height:15px;

					border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px;}

				.l2{

					background:url(images/mana.png) 0 -15px no-repeat;

					width:170px; height:15px;

					border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px;}

				.l3{

					background:url(images/mana.png) 0 -30px no-repeat;

					width:235px; height:15px;

					border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; -webkit-border-radius:3px 0 0 3px;}

				.l4{

					background:url(images/mana.png) bottom left no-repeat;

					width:340px; height:15px;

					border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}





/*-------------PAYMENT-------------*/

.payProcess{

	margin:15px 0 0 ;}

	.payLeft{

		float:left;

		width:3px; height:30px;

		background:url(images/payLeft.gif) top left no-repeat;}

	.payMid{

		float:left;

		width:190px; height:30px;

		padding:0 15px;

		background:#e96d5b;}

		.payMid .stepNum{

			display:inline-block;

			margin:5px 5px 0 0;

			width:20px;

			background:url(images/circle01.png) top left no-repeat;

			text-align:center;  font:13px/19px Arial, Helvetica, sans-serif;font-weight:bold; color:#e96d5b;}

		.payMid .stepDesc{

			font-size:12px; font-weight:bold; color:#FBDABF}

		.payMid .stepNum02{

			display:inline-block;

			margin:5px 5px 0 0;

			width:20px;

			background:url(images/circle02.png) top left no-repeat;

			text-align:center; font:13px/19px Arial, Helvetica, sans-serif; font-weight:bold;}

		.payMid .stepDesc02{

			font-size:12px; font-weight:bold; color:#fff5d9}

	.payRight{

		float:left;

		width:3px; height:30px;

		background:url(images/payRight.gif) top left no-repeat;}

	.payArrow{

		float:left;

		width:16px; height:30px;

		background:url(images/payArrow.gif) top left no-repeat;}



table.buyDeal{

	margin:15px 0 0;

	border-collapse:collapsel;

	border-right:1px solid #dbcca9; border-top:1px solid #dbcca9;

	color:#4e4238}

	table.buyDeal td, table.buyDeal th{

		padding:8px;

		border-left:1px solid #dbcca9; border-bottom:1px solid #dbcca9;

		text-align:center;}

	table.buyDeal th{ background:#f9f3e3;}

	table.buyDeal td.buyDealInfo{ text-align:left;}





.payBoxLeft{

	float:left; margin:10px 0 0;}

	.payBoxLeftTitle{

		width:260px;

		padding:5px 5px 5px 35px;

		background:url(images/arrow04.png) 10px center  no-repeat #e96d5b;

		color:#fff9ec;

		font-size:16px; font-family:"Times New Roman", Times, serif; font-weight:bold;}

.payBoxRight{

	width:260px;

	padding:15px;

	background:#4e4238;

	float:right; margin:10px 0 0;

	color:#fff9ec;

	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

	.payBoxRight a{

		display:block;

		width:143px; height:50px;

		margin:10px auto 0;

		background:url(images/payLogin.png) top left no-repeat;}

		.payBoxRight a:hover{background:url(images/payLogin.png) bottom left no-repeat;}

.payType{}

	.payType .payImage{

		float:left;

		margin:15px 20px 0 0;

		width:80px;}

	.payType .payImage img{

		float:left;

		margin:auto;

		width:80px;}



/*SHOW FOR ALL*/

.forAll{

	width:700px; min-height:450px; height:auto !important;

	background:url(images/floral02.png) top right no-repeat #fffcf3;

	border:1px solid #3d3d3d;

	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;

	overflow:hidden;}

.forAll02{

	width:700px; min-height:450px; height:auto !important;

	padding:14px;

	background:url(images/floral01.png) bottom left no-repeat;

	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

	.forAllContent{

		margin:15px 0 0 0;

		padding:0 15px; width:670px;}



.followDeal{ width:700px;}

.followDeal li{

	padding:8px 15px;

	background:#FBF9E9;

	border:1px solid #E7DEBB; border-top:none;

	font-size:13px;

	color:#48321F;}

.followDealImage{

	float:left;

	margin:15px 10px 0 0;

	width:230px; height:180px; overflow:hidden;}

	.followDealImage img{ width:230px;}

.followDealName{

	margin:10px 0 0;

	padding:10px;

	background: #e96d5b;

	border:1px solid #BC493A;

	color:#fff9ec; 

	font: bold 17px "Times New Roman", Times, serif;

}

#target
{
    cursor: pointer;
}
#target:hover
{
    color:red;
}

/*phan list deal*/
	.wrap-bottom-nav{
		background: url("images/bg_nav.png") repeat-x left top;
		height: 75px;
		width: 100%;
	}
	.wrap-bottom-ul{
		list-style: none;
		margin: 0px;
		padding: 3px 0px 0px 30px;
		float: left;
		width: 460px;
	}
	.wrap-bottom-ul li{
		background: url("images/index_Text-Xanh_38.png") no-repeat left top;
		height: 34px;
		float: left;
		margin: 0px 1px 0px 0px;
		padding-left: 10px;
	}
	.wrap-bottom-ul li a{
		background: url("images/index_Text-Xanh_38-02.png") no-repeat right top;
		height: 34px;
		float: left;
		padding-right: 10px;
	}
	.wrap-bottom-ul li a span{
		display: block;
		background-color: #403533;
		line-height: 34px;
		padding-left: 3px;
		color: #dedede;
		font-weight: bold;
	}
	
	.wrap-bottom-ul-all-active{
		background: url("images/index_Text-Xanh_38-03.png") no-repeat left top !important;
		height: 34px;
		float: right;
		padding-left: 5px !important;
	}
	.wrap-bottom-ul-all-active a{
		background: url("images/index_Text-Xanh_38-04.png") no-repeat right top !important;
		height: 34px;
		float: right;
		padding-right: 5px !important;
	}
	.wrap-bottom-ul-all-active a span{
		background-color: #0097d8 !important;
		padding-right: 4px;
		color: #ffffff !important;
		font-weight: bold;
	}
	.wrap-bottom-ul-view-active{
		background: url("images/index_Text-Xanh_38-03.png") no-repeat left top !important;
		height: 34px;
		float: left;
		padding-left: 4px !important;
	}
	.wrap-bottom-ul-view-active a{
		background: url("images/index_Text-Xanh_38-04.png") no-repeat right top !important;
		height: 38px;
		float: right;
		padding-right: 5px !important;
	}
	
	.wrap-bottom-ul-buy-active{
		background: url("images/cucre_v4/bg_home_nav/index_Text-Xanh_38-03.png") no-repeat left top !important;
		height: 34px;
		float: left;
		padding-left: 4px !important;
	}
	.wrap-bottom-ul-buy-active a{
		background: url("images/index_Text-Xanh_38-04.png") no-repeat right top !important;
		height: 38px;
		float: right;
		padding-right: 5px !important;
	}
	
	.wrap-bottom-ul-region-active{
		background: url("images/index_Text-Xanh_38.png") no-repeat left top !important;
		height: 34px;
		float: right;
	}
	.wrap-bottom-ul-region-active a{
		background: url("images/index_Text-Xanh_38-02.png") no-repeat right top !important;
		height: 34px;
		float: right;
	}
	
	.wrap-bottom-select-region{
		width: 100px;
		float: left;
		padding: 10px 0px;
	}
	.wrap-bottom-select-region select{
		width: 140px;
		height: 21px;
		color: #333333;
	}
	.wrap-bottom-select{
		float: right;
		margin-right: 18px;
		_margin-right: 9px;
		position: relative;
		width: 140px;
	}
	
	.wrap-bottom-list{
	width: 960px;
	margin-top: -5px;
	}
	.wrap-bottom-deal{
	background: url("images/bg_deal_bottom.png") repeat-x left top;
	background-color: #f5f5f5;
	border: 1px #dddddd solid;
	width: 293px;
	padding: 5px;
	float: left;
	_margin-left: 5px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 8px;
	}
	.wbd_title{
		height: 75px;
    	overflow: hidden;
    	width: 286px;
	}
	.wbd_title p{
   	padding: 0px;
   	margin: 0px;
   	font-size: 12px;
   	font-family: Arial;
   	color: #666666;
   	text-align: justify;
   }
   .wbd_title p a{
   	font-size: 16px;
   	font-weight: bold;
   	color: #333333;
   	margin-top: 5px;
   	margin-bottom: 5px;
   	display: block;
   }
	.wrap-bottom-deal-numberbuy{
		color: white;
		font-weight: bold;
		font-family: Arial;
		position: absolute;
		left: 18px;
		top: 190px;
	}
	.wrap-bottom-deal-numbersuccess{
		color: white;
		font-weight: bold;
		font-family: Arial;
		position: absolute;
		left: 18px;
		top: 190px;
	}
	
	.wrap-bottom-deal-numbersave{
		color: white;
		font-weight: bold;
		font-family: Arial;
		position: absolute;
		right: 18px;
		top: 190px;
	}
	.wrap-bottom-deal-img{
		width: 286px;
		height: 204px;
		background: black;
		position: relative;
		box-shadow: 0 0 5px #CACACA;
		border-radius: 4px;
	}
	.wrap-bottom-deal-img-hover{
		opacity: 0.3;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* Ð?u tiên! */
      filter: alpha(opacity=30); /* Th? hai! */
	}
	.wrap-bottom-deal-img img{
		width: 286px;
		height: 204px;
		border: none;
		border-radius: 3px;
	}
	.wrap-bottom-deal-hidden-name{
		font-family: arial;
		font-size:  12px;
		position: absolute;
		top: 18px;
		left: 17px;
		color: white;
		font-weight: bold;
		width: 180px;
		overflow: hidden;
		height: 18px;
	}
	.wrap-bottom-deal-buynow{
   	background: url("images/buy_now_bottom.png") no-repeat left top;
  		width: 120px;
  		height: 35px;
  		position: absolute;
  		top: 130px;
  		left: 85px;
   }
   .like-block-bottom{
  		position: absolute;
  		bottom: 5px;
  		right: -5px;
  		z-index: 1000;
   }
   .wrap-bottom-deal-buynow a{
   	display: block;
   	height: 100%;
   }
	.wrap-bottom-deal-info{
	padding-top: 10px;
	width: 289px;
	height: 80px;
	overflow: hidden;
	}
	.wrap-bottom-deal-name{
		float: left;
		width: 185px;
		height:50px;
		overflow: hidden;
	}
	.wrap-bottom-deal-name a{
		color: #333333;
		font-family: Arial, sans-serif;
		margin-top: 5px;
		display: block;
	}
	.wbdi_pha_type{
		margin-top: 10px;
	}
	.wbd-number-buy{
		background: none repeat scroll 0 0 #030303;
		bottom: 0;
		width: 286px;
		height: 32px;
		left: 0;
		opacity: 0.56;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=56)"; /* Ð?u tiên! */
      filter: alpha(opacity=56); /* Th? hai! */
		position: absolute;
	}
	