@CHARSET "UTF-8";

/* styles for the debugger */
div#pg_debug_window_container
{
}

div#pg_debug_window
{
  	background: #ffffff;
  	width: 920px;
	margin: 10px auto;
}

td#pg_debug_window_menu
{
	padding: 4px 5px 5px 6px;
	border: 1px solid #DDDDDD;
	font-weight: bold;
	background-image: url(../images/header.gif);
	background-repeat: repeat-x;
	color: #333333;
  	cursor: move;
}

div#pg_debug_window_body_container
{
  	width: 920px;
}

ul#tabs-title
{
	cursor: pointer;
}