body{
	margin: 0; padding: 0; font-family: Arial, Tahoma; font-size: 12px; color: #000; background:#fff;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* BEGIN GENERAL ELEMENTS */
.input-submit{
  height: 30px; background: url(../images/input-submit.png) repeat-x left top;
  border: 1px solid #dd8100; padding: 0px 1em; cursor: pointer;
  border-radius: 3px;
  color: #FFF; font-weight: bold; font-size: 14px; font-family: Tahoma;
}
.form-table{border-collapse: collapse;}
.form-table th,
.form-table td{border-bottom: 1px solid #cae1ed; padding: 0.75em 1em; vertical-align: top;}
.form-table .row-last td{border-bottom: none;}
/* END GENERAL ELEMENTS */

/*-- Header --*/
#bgmini{
	width: 100%; height: 5px; background: #F2F8FA; position: fixed; top: 0px; left: 0px;
}
#header{
	height: 120px;
}
#header .header-user,
#header .header-home{margin:0px auto;width:980px;}
#header .header-user .mnTopHead{
	width:450px; float: left; text-align: left; margin-top: 10px;
}
#header .mnTopHead ul{
	margin: 0; padding: 0;
}
#header .mnTopHead ul li{
	float: left; border-right: 1px dotted #585858; padding-right: 7px; margin-right: 7px; list-style: none; line-height: 20px;
}
#header .mnTopHead ul li:first-child{
	background: url("../images/bg_li_home.jpg") no-repeat 3px top; padding-left: 25px;
}
#header .mnTopHead ul li:last-child{
	border-right: 0;
}
#header .mnTopHead ul li a{
	color:#585858; text-decoration: none;
}
#header .mnTopHead ul li.last a{
	background: url(../images/hot.gif) no-repeat right center;
	padding-right: 30px !important;
}
#header .header-user .mnTopHead ul li.last a{
	background: none !important;
	padding-right: 0px !important;
}
#header .mnTopHead ul li a:hover{
	text-decoration: underline;
}
#header .mnPhoneSupport{
	width:530px; float: right; color:#737373;line-height: 20px; text-align: left; margin-top: 10px;
}
#header .mnPhoneSupport a{
	color: #737373; text-decoration: none;
}
#header .mnPhoneSupport a:hover{
	text-decoration: underline;
}
#header .mnPhoneSupport .sp_phone{
	float:left; background: url("../images/support_phone.jpg") no-repeat left 3px; padding-left: 22px; margin-right: 15px;
}
#header .mnPhoneSupport .sp_mail{
	float:left; background: url("../images/support_mail.jpg") no-repeat left 3px; padding-left: 22px; margin-right: 15px;
}
#header .mnPhoneSupport .sp_chat{
	float:left; background: url("../images/support_chat.jpg") no-repeat left 3px; padding-left: 22px;
}

#header .header-user #logo{
	width:215px; height:48px; float:left; background: url("../images/logo_sohapay.png") no-repeat; margin-top: 15px;display: block;cursor: pointer;
}
#header .header-user #user{
	width: 245px; height: 65px; float: right; background: #F5F5F5; border:1px solid #E5E5E5; margin-top: 23px; border-top-left-radius: 5px; border-top-right-radius: 5px; text-align: center; padding: 0; 
}
.logged_in #header .header-home #user{
  width: 245px; height: 65px; float: right; background: #F5F5F5; border:1px solid #E5E5E5; margin-top: 3px; border-top-left-radius: 5px; border-top-right-radius: 5px; text-align: center; padding: 0; 
}
#header #user .showUser{
	margin: 8px auto; text-align: left;
}
.logged_in #header #user .showUser{width:220px;}
#header #user .showUser div{
	line-height: 22px; color:#0E0E0E; height: 22px;
}
#header #user .showUser div.user{
	background: url("../images/user.jpg") no-repeat left center; padding-left: 20px;
}
#header #user .showUser div.account{
	background: url("../images/account.jpg") no-repeat left center; padding-left: 20px;
}
#header #user .showUser div a{
	color: #006AB0; text-decoration: none;
}
#header #user .showUser div a:hover{
	text-decoration: underline;
}

#header .header-home{
	position: relative;
}
#header .header-home .mnTopHead{
	width:640px; text-align: left; position: absolute; top: 85px; left: 0;
}
#header .header-home .mnTopHead ul li:first-child{
	background: none; padding-left: 0;
}
#header .header-home .mnTopHead ul li a{
	font-size: 13px; font-weight: bold; padding: 5px 10px;
}
#header .header-home .mnTopHead ul li a:hover, #header .header-home .mnTopHead ul li a.active{
	background: #F99D1D; text-decoration: none; color: #fff; border-radius: 5px; -moz-border-radius: 5px;
	padding-right: 10px !important;
}
#header .header-home .mnTopHead ul li a.active{
	background: #F99D1D; text-decoration: none; color: #fff; border-radius: 5px; -moz-border-radius: 5px;
}
#header .header-home #user{
	width: 370px; height: 75px; position: absolute; top:50px; right:0; 
}
#header .header-home #user #logout{
	/*display: none;*/
}
#header .header-user #user #login{
	display: none;
}
#header .header-home #user{
	color: #8B8B8B; font-size: 11px; font-weight: normal; text-align: left; line-height: 17px;
}
#header .header-home #user a{
	color: #8B8B8B; text-decoration: none;
}
#header .header-home #user a:hover{
	text-decoration: underline;
}
#header .header-home #user input.inputcheckox{
	width:12px; height: 12px; background: url("../images/bgcheckbox.jpg") no-repeat left top; border: 0;
}
#header .header-home #user input.inputtextbox{
	width:118px; height: 24px; background: url("../images/bginputtext.jpg") no-repeat left top; border: 0; color:#8B8B8B; font-size: 11px; padding: 0 5px; line-height: 22px; 
}
#header .header-home #user input.inputbutton{
	width:79px; height: 24px; background: url("../images/bgbutton.jpg") no-repeat left top; border: 0; color:#fff; font-size: 11px;
}
#header .header-home #logo{
	width:215px; height:48px; float:left; background: url("../images/logo_sohapay.png") no-repeat; top:15px; left: 0; margin-top: 15px; float: left;
}
#header .header-home .mnPhoneSupport{
	background: #F2F8FA; margin-top: 0; padding: 5px 0 5px 10px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
}
/*-- end header --*/

/*-- slide home --*/
#bgslide{
	width: 100%; /*background: #000 url("../images/bg_slide_home.jpg") no-repeat left top;*/ background:#0f87c3; text-align: center; border-bottom: 6px solid #E2F3FA;
}
#bgslide #slide{
	width: 980px; height: 310px; margin: 0 auto;  position: relative;
}
/* slide show */
.slideshow { position: relative; }
.slideshow ul{
	margin: 0; padding: 0;
}
.slideshow ul li{
	list-style: none;
}
.slideshow ul li img { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
.page_slide { width: 202px; height: 34px; position: absolute; left: 20px; bottom: 0px; z-index: 9999; text-align: left; line-height: 34px; }
.page_slide a { background: url(../images/unaction.jpg) left top no-repeat; width: 13px; height: 13px; padding-left: 8px; padding-right: 8px; }
.page_slide a span { display: none; }
.page_slide a.activeSlide { background: url(../images/action.jpg) left top no-repeat;  }
#slide_show_img { position: absolute; top: 0px; left: 0px; z-index: 999; }

#slideshow ul li div.description {
    background-color: #000000; height: 80px; opacity: 0.45; overflow: hidden; padding: 5px; position: absolute; bottom: 10px; right: 10px; width: 320px; z-index: 1000; color: #fff; text-align: left;
}
#slideshow ul li div.description p{
	margin: 0; padding: 0;
}

/*-- menu top --*/
#menutop{
	width: 100%; height: 72px; background: url("../images/bgmenutop.jpg") repeat-x; text-align: center; padding: 0; margin: 0;
}
#menu{
	width: 980px; font-family: Arial, Tahoma; font-size: 12px; margin:0 auto;
}
#menu-top{
	width: 100%; height:38px; background: url("../images/bg-menu-center.jpg") repeat-x left top;
}
ul#topnav {
	margin: 0; padding: 0; float: left; width: 100%; list-style: none; position: relative;	font-size: 12px;
}
ul#topnav li {
	height:38px; float: left; margin: 0; padding: 0 20px 0 15px; background: url("../images/bgborder.jpg") no-repeat left top; font-weight: bold;
}
ul#topnav li.active {
	background:url("../images/bgli_hover.jpg") repeat-x;
}
ul#topnav li a {
	font-size:13px; padding: 6px 0px 10px 10px; display: block; color: #fff; text-decoration: none; margin-top: 7px; float: left;text-shadow:0 1px 0 #666666;
}
ul#topnav li a:hover, ul#topnav li a.active {text-shadow:0 1px 0 #666666;
}

ul#topnav li div.sh {
	width: 980px; height:33px; float: left; padding: 0; position: absolute; left: -3px; top:38px; display: none; background: #016B9B; color: #fff; line-height: 33px; font-size: 11px; font-weight: normal; text-align: left;
}
ul#topnav li:hover div.sh { display: block; }
ul#topnav li div.sh a { display: inline; font-weight: normal; float: none; background: none; padding-right: 10px;font-size:12px;}
ul#topnav li div.sh a:hover {text-decoration: underline; background: none;}
/*-- end menu top --*/

/*-- menu top orther--*/
#header_bar{
	width: 100%; height: 36px; background:#148EC6 url("../images/bg_header_bar.jpg") no-repeat left top; padding: 0; margin: 0; text-align: center;
}
#header_bar .title_bar{
	width:980px; margin:0 auto; line-height: 36px; color:#fff; text-transform: uppercase; font-size: 20px; text-align: left;font-family: Tahoma;
}

/*-- MAIN --*/
#main{
	width: 980px; margin: 0 auto;
}

/*-- HOME --*/
.boxHomeWrapper{width: 980px; margin: 0px auto;}
.boxHome{
	width: 290px; height: 200px; float: left; margin-right: 50px; overflow: hidden; text-align: left; font-size: 12px; color:#272727;
}
.boxHome .title-buy{
	width: 100%; height: 40px; border-bottom: 1px solid #D4D4D4; line-height: 50px; color:#0E76BC; font-size: 13px; text-transform: uppercase; font-weight: bold; text-align: left; background: url("../images/bg_nguoi_mua.jpg") no-repeat left 13px;
}
.boxHome .title-quick{
		width: 100%; height: 40px; border-bottom: 1px solid #D4D4D4; line-height: 50px; color:#0E76BC; font-size: 13px; text-transform: uppercase; font-weight: bold; text-align: left; background: url("../images/bg_tin_tuc.jpg") no-repeat left 13px;
}
.boxHome .title-help{
		width: 100%; height: 40px; border-bottom: 1px solid #D4D4D4; line-height: 50px; color:#0E76BC; font-size: 13px; text-transform: uppercase; font-weight: bold; text-align: left; background: url("../images/bg_tro_giup.jpg") no-repeat left 13px;
}
.boxHome span.text{
	margin-left: 27px;
}
.boxHome ul{
	margin: 0; padding: 0;
}
.boxHome ul li{
	list-style: none; background: url("../images/bg_li_home_box.jpg") no-repeat left 5px; margin-top: 8px; line-height: 17px; padding-left: 15px;
}
.boxHome ul li a{
	color: #0F76BB; text-decoration: none; font-weight: normal;
}
.boxHome ul li a:hover{
	color:#F39035;
}
.boxHome .view-detail{
	width: 100%; line-height: 30px;
}
.boxHome .view-detail a{
	color: #0E76BC; text-decoration: none; font-size:12px; font-weight: bold; padding-left: 15px;
}
.boxHome .view-detail a:hover{
	color:#F39035;
}


/*-- PAY-BANK --*/
#pay-bank{
	width: 100%; border-top: 1px solid #D3D3D3; background: #F4F4F4; margin: 0; padding: 0; text-align: center;
}
#mn-pay-bank{
	width: 980px; margin: 0 auto;
}
#mn-pay-bank .list-bank{
	width: 565px; height: 164px; float: left; 
}
#mn-pay-bank .list-pay{
	width: 360px; height: 164px; float: right;
}
#mn-pay-bank .title{
	width: 100%; height: 40px; line-height: 40px; text-align: left; font-weight: bold; text-transform: uppercase;
}
#mn-pay-bank .slide-next{
	position: relative; height: 80px; overflow: hidden; float: left;
}
#mn-pay-bank #tab_content_bank{
	width: 540px;
}
#mn-pay-bank #tab_content_pay{
	width: 330px;
}
#mn-pay-bank .click-slide{
	width: 22px; height: 82px; float: left;
}
#mn-pay-bank ul{
	margin: 0; padding: 0;
}
#mn-pay-bank .list-bank ul{
	width: 540px; height: 80px;
}
#mn-pay-bank .list-pay ul{
	width: 330px; height: 80px;
}
#mn-pay-bank ul li{
	list-style: none; float: left;
}
#mn-pay-bank ul li .logobank {
    height: 30px;
    padding: 5px 0;
    width: 100px;
}
#mn-pay-bank ul li img{
	border: 0;
}

/*-- DANG KY,KICH HOAT --*/
#payment-info{
	border: 1px solid #CCCCCC; margin-bottom: 10px; text-align: left; margin-top:20px; 
}
#payment-info a{
	text-decoration: none; color:#158EC7; 
}
#payment-info a:hover{
	color:#F38631; 
}
#signup-page{
	padding-top: 20px; color: #444444;
}
.tit3 {
    border-bottom: 1px solid #CCCCCC;
    color: #158EC7;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding-left: 8px;
    text-transform: uppercase;
}
.tit4 {
    background: url("../images/bg_header_bar.jpg") no-repeat scroll right top #FBDEEB;
    border-bottom: 1px solid #CDA3B7;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding-left: 8px;
    text-transform: uppercase;
}
.payment-box {padding: 10px;}
.step2 {
    background: url("templates/images/ico-step2.png") no-repeat scroll center top transparent;
    color: #854EB4;
}
.step3-off {
    background: url("templates/images/ico-step3-off.png") no-repeat scroll center top transparent;
}
.step-refresh, .step1, .step2, .step3, .step1-off, .step2-off, .step3-off {
    background: url("templates/images/ico-back.png") no-repeat scroll center top transparent;
    float: left;
    height: 30px;
    margin: 0 25px 0 20px;
    padding-top: 30px;
    width: 230px;
}
#signup-page #payment-info td {
    border: medium none;
}
#payment-info td {
    padding: 7px;
}
.payment-box td {
    border-top: 1px dotted #B0B0B0; padding: 0.5em 0em;
}
.payment-box td.first{border-top: none;}
.input-text, input.password, textarea.input-text {
    background: url("../images/input-bg.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB;
    border-radius: 2px 2px 2px 2px;
    font: 12px/18px Helvetica Neue,"Arial",Helvetica,Verdana,sans-serif;
    margin: 0;
    padding: 3px 4px;
    position: relative;
    text-shadow: 0 0 1px #FFFFFF;
    z-index: 2;
}
#signup-page #payment-info span.help {
    color: #757575;
    display: block;
    font-size: 0.9em;
    margin: 0.1em 0;
}
#signup-page a{
	text-decoration: none; color: #158EC7;
}
#signup-page a:hover{
	color: #F38631;
}
/*-- FOOTER HOME --*/
#footer{
	width: 100%; text-align: center; background:#928F8C; padding: 0; margin: 0; border-bottom: 1px solid #000;
}
#main_footer{
	width: 980px; height: 50px;  margin: 0 auto; background:url("../images/logo_footer.png") no-repeat left center; 
}
#main_footer div.text{
	 padding-left: 140px; padding-top:10px; color: #E9E9E8; line-height: 16px; font-size: 11px; text-align: left; font-size: 11px; float: left;
}
#main_footer div.image{
	float: right;
}
#main_footer div.image .logo-image{
	float: left; margin-right: 8px; margin-top: 7px;
}
#payment-continue-cancel{
	width: 100%;
	border-bottom: 5px solid #dedede;
	position: fixed;
	left:0px;
	bottom: 0px;
	z-index: 1000;
	text-align: center;
}
.payment-cc{
	width: 251px; float: right; border: 5px solid #dedede; border-bottom: 0;
}
.payment-cc a.pybutton{
	height: 32px; float: left; line-height: 34px; color:#4B4B4B; font-weight: bold;
}
.payment-cc a.pybutton:hover{
	color: red; text-decoration: none; cursor: pointer;
}
.payment-cc #naviContinue{
	width: 124px; background: url("../images/continue_payment.gif") no-repeat left top;
}
.payment-cc #naviContinue span{
	margin-right: 10px;
}
.payment-cc #naviCancel{
	width: 127px; background: url("../images/cancel_payment.gif") no-repeat left top;
}
.payment-cc #naviCancel span{
	margin-left: 10px;
}

.active_menu_user {
	background:url("../images/bgli_hover.jpg") repeat-x !important;
	padding: 6px 0px 10px 10px; display: block; color: #fff; text-decoration: none; margin-top: 7px; float: left;
}
.active_submenu{color:#FFFF00 !important;}
#header_bar_user{width:100%; background:#EFEFEF; text-align:center;border-bottom:1px solid #CCC; margin-bottom:6px;}
#title_form{font-size:20px; font-weight:bold;text-align:left; padding-left:35px; background:url("../images/icon_user_info.gif") no-repeat 0px 14px; height: 52px; line-height: 52px;float: left;}
.user_complaints{background:url("../images/icon_user_info.gif") no-repeat 0px 14px; }
.bar_user{margin:0 auto; width:980px;}
/*.title_absolute{position:absolute; z-index:1; right:100px; top:192px;}*/
.wid1, .wid2, .wid3, .wid4, .wid5, .wid6 {
    overflow: hidden;
}
.wid1, .wid2, .wid3, .wid4, .wid5, .wid6{overflow:hidden}
.wid1{width:190px}
.wid2{width:285px}
.wid3{width:300px}
.wid4{width:420px}
.wid5{width:500px}
.wid6{width:660px}
.wid7{width:750px;}
.fl {
    float: left;
}
.fr {
    float: right;
}
.box1 {
    background-color: #FFFFDB;
    border: 1px solid #F8C969;
    padding: 1px;
}
.mt3 {
    margin-top: 15px;
}
.mb2 {
    margin-bottom: 10px;
}
.tit2 {
    border-bottom: 1px solid #CCCCCC;
    color: #EB8F00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding-left: 8px;
    text-transform: uppercase;
}
.payment-box {
    padding: 10px;
}
.radius h3.tit4{
	border-bottom: 2px solid #158EC6; background: none; color: #000;
}
.payment-box ul.list1{
	margin: 0; padding: 0;
}
.payment-box ul.list1 li{
	list-style: none;
	background: url("../images/bg_li_home_box.jpg") no-repeat scroll left 8px transparent;
    list-style: none outside none;
    margin-bottom: 5px;
    padding: 3px 3px 3px 12px;
}
.payment-box ul.list1 li a {
    color: #2A5DB0;
    text-decoration: none;
}
.payment-box ul.list1 li a:hover {
	color: #f39035;
}
.logobank {
    float: left;
    height: 30px;
    padding: 10px 0;
    width: 100px;
}
.bar_user .title_info{float: right;}
.bar_user .title_info .gold_info{margin: 0px; padding: 0px; height: 52px; line-height: 52px;}
.bar_user .title_info .gold_info li.list-item{height: 35px; line-height: 20px; float: left; font-size: 14px; padding: 0px 1em; border-right: 1px solid #d4d4d4; list-style: none; margin-top: 16px;}
.bar_user .title_info .gold_info li.list-item-last{border-right: none; padding-right: 0px;}
.bar_user .title_info .gold_info li strong{font-size: 20px; color: #006b9b;}
.user_transaction_default .bar_user .title_info .gold_info{width: 280px; height: 52px; overflow: hidden; cursor: pointer;}
.user_transaction_default .bar_user .title_info .gold_info li{width: 250px; text-align: right; margin-top: 0px;}
.user_transaction_default .bar_user .title_info .gold_info li.list-item-first{margin-top: 16px;}
.user_transaction_default .bar_user .title_info .gold_info li.list-item-last{border-right: 1px solid #d4d4d4; padding-right: 1em;}
.trans-type-filter{color: #006AB0;}
.trans-type-filter a{padding: 0px 1em;}
.trans-type-filter a.active{font-weight: bold;}

.pg-list{list-style: none;}
#header_bar_user .pg-list{margin: 0px; padding: 0px;}
#pg-title-right .pg-title-right-li{float: left; font-size: 14px;}


/* GLOBAL CSS */
.icon-info{
  min-height: 13px; padding-left: 17px;
  background: url(../images/ico-ques.png) no-repeat left center;
}
.ui-icon{float: left;}


/* BOX CSS */
.mainbox{
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  background: #f9f9f9;
  padding: 15px;
}
.mainbox .tit6{margin-top: 0px; font-size: 16px; font-weight: bold; color: #da7f01;}
.mainbox .box-content{
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  background: #FFF;
  padding: 10px;
}

.mainbox .box-title{margin-top: 0px;}
.mainbox .box-title a{font-size: 11px; color: #0e76bc; font-weight: normal; margin-left: 20px;}

.inputBtn{
  background: url(images/chargeGold/btnBg.png) no-repeat right center;
  height: 26px; border: 1px solid #dd8100; line-height: 26px;
  font-size: 14px; color: #FFF; font-weight: bold;
  padding: 0px 15px 4px 5px; border-radius: 2px;
  font-family: Verdana; cursor: pointer;
}