<script src="{$skinpath}/js/jquery.ui.selectmenu.js" type="text/javascript"></script>
<script type="text/javascript">

			$(document).ready(function () {

				$("input:submit, input:reset").button();

				$("select").selectmenu({

					style: 'dropdown',

					icons: [

						{ find: '.locked', icon: 'ui-icon-locked' },

						{ find: '.unlocked', icon: 'ui-icon-unlocked' },

						{ find: '.folder-open', icon: 'ui-icon-folder-open' }

					]

				});

			});
			
			function update_hide(hide,id)
				{
					
					$.ajax({
							 url:"check_ajax.php",
							 type:"POST",
							 data:"tbl=social&do=update_hide&id="+id+"&hide="+hide,
							 success:function(result){
								 				if(hide==1)
												{
													$("#img0_"+id).show();
													$("#img1_"+id).hide();
												}
												else if(hide==0)
												{
													$("#img0_"+id).hide();
													$("#img1_"+id).show();
												}
								 }
							 })
				}
				
				function update_code(id,value)
				{
					//alert(code);
					$.ajax({
							 url:"index.php",
							 type:"POST",
							 data:"do=social&action=update_code&id="+id+"&value="+value,
							 success:function(result){
								 }
							 })
				}
				
				

		</script>
      <!-- right -->
      <div id="right"  class="grid_18">
        <div class="title" style="padding-bottom:10px">
          <h4>Danh sách mạng xã hội</h4>
          
        </div>
        <div class="table">
      
                                    
                                    
             <div style="clear: both">&nbsp;</div>
             <form method="post">
            <table cellspacing="0" id="tbl_new">
              <thead>
                <tr>
               	<th class="left">Kích hoạt</th>
                  <th>Mạng xã hội</th>
                  <th>Tài khoản (nếu có)</th>
                  
                
                </tr>
              </thead>
              <tbody>
          {foreach item=info from=$info1}
                <tr {if $phim.stt eq 0}class="alt"{/if}>
               <td  class="username">
                <strong id="img_hide{$info.id}"><img {if $info.hide eq 0} style="display:none"{/if}  id="img0_{$info.id}" onclick="update_hide(0,{$info.id})" src="{$skinpath}/images/tick1.png" />  <img {if $info.hide eq 1} style="display:none"{/if} id="img1_{$info.id}" onclick="update_hide(1,{$info.id})" src="{$skinpath}/images/publish_x.png" /> </strong>
               </td>
                  <td class="joindate" style="text-align:left">{$info.title}</td>
                  <td class="joindate2"><input type="text" onblur="update_code({$info.id},this.value)" size="40"  value="{$info.code}" /> </td>
              {/foreach}
                 
            
              </tbody>
            </table><br />
<br />
            <div class="action">
									

									<div class="button">

									

									</div>


								</div>
</form>
            <!-- pagination -->
            <div class="pagination">
           
              {$page}
           
            
            </div>
            <!-- end pagination -->
        </div>
        <!-- end table -->
      </div>
      <!-- end right -->
