@charset "utf-8";

/* CSS Document */

#caption_hotel1{

	width:548px;

	height:36px;

	float:left;

	background:url(../images/bg_allhotel.gif) repeat-x ;

	}

#caption_hotel1 .content{

	height:31px;

	float:left;

	background:#bebf02;

	padding-left:15px;

	padding-right:20px;

	padding-top:5px;

	font:Arial, Helvetica, sans-serif;

	color:#FFF;

	font-size:18px;

	font-weight:bold

}

#caption_hotel1 .content1{

	width:41px;

	height:36px;

	float:left;

	background:url(../images/allhotel_03.gif);

}

#guest_rating{

	width:548px;

	height:40px;

	float:left;

	border-bottom:dotted 1px #CCC;

	margin-top:5px;

}

#hot_hotel{

	width:548px;

	float:left;

}

#caption_hotel{

	width:548px;

	height:32px;

	float:left;

}

#caption_hotel .left{

	width:14px;

	height:32px;

	float:left;

	background:url(../images/c_left.gif) no-repeat;

}

#caption_hotel .home{

	width:522px;

	height:32px;

	float:left;

	background:url(../images/c_home.gif) repeat-x;

}

#caption_hotel .right{

	width:12px;

	height:32px;

	float:left;

	background:url(../images/c_right.gif) no-repeat;

}

#home_hotel{

	width:544px;

	float:left;

	border-left:solid 1px #d9d9d9;

	border-right:solid 1px #d9d9d9;

	padding-left:2px;

}

#home_hotel .home{

	width:540px;

	background:#fffced;

	padding-left:0px;

	margin-top:0px;

	border-left:solid 1px #efecdd;

	border-right:solid 1px #efecdd;

}

#home_hotel .home .title{

}

#ft_hotel{

	width:548px;

	height:16px;

	float:left;

}

#ft_hotel .left{

	width:19px;

	height:16px;

	float:left;

	background:url(../images/ft_left.gif) no-repeat;

}

#ft_hotel .home{

	width:509px;

	height:16px;

	float:left;

	background:url(../images/ft_home.gif) repeat-x;

}

#ft_hotel .right{

	width:20px;

	height:16px;

	float:left;

	background:url(../images/ft_right.gif) no-repeat;

}

#guest_rating .title{

	width:145px;

	height:25px;

	float:left;

	font-size:16px;

	padding-left:15px;

	padding-top:15px;

}

#guest_rating .rate{

	width:380px;

	height:40px;

	float:left;

}

#star{

	width:548px;

	float:left;

	height:100%;

	height:auto !important;

}

#home{

	width:1000px;

}

#caption_home{

	width:1000px;

	height:40px;

	float:left;

	border-bottom:solid 2px #bebf02;

}

#showing{

	width:1000px;

	float:left;

}

	

#box_home{

	width:1000px;

	float:left;

	border-bottom:dotted 1px #CCC;

	margin-top:5px;

	margin-bottom:0;

	padding-bottom:10px;

}

#content_home{

	width:460px;

	float:left;

}

#content_home .images{

	width:85px;

	height:85px;

	float:left;

	margin-top:5px;

	margin-right:5px;

}

#content_home .content{

	widows:360px;

	float:left;

	padding-top:5px;

}

#content_center{

	width:295px;

	float:left;

}

#content_right{

	width:100px;

	float:right;

	text-align:right

}

#top_main{

	width:1000px;

	margin:auto;

	height:20px;

	padding-top:10px;

	overflow:hidden

}

#box_landmrk{

	width:548px;

	float:left;

}

#caption_lanmark{

	width:548px;

	height:33px;

	float:left;

}

#caption_lanmark .left{

	float:left;

	height:33px;

	width:8px;

	background:url(../images/hanoihotel_03.gif) no-repeat;

}

#caption_lanmark .home{

	float:left;

	height:30px;

	width:534px;

	background:url(../images/hanoihotel_05.gif) repeat-x;

	font-weight:bold;

	color:#555555;

	font-size:13px;

	padding-top:3px;

}

#home_lanmark{

	width:546px;

	height:100%;

	height:auto !important;

	float:left;

	border-left:solid 1px #CCC;

	border-right:solid 1px #CCC;

}

	

#caption_lanmark .right{

	float:left;

	height:33px;

	width:6px;

	background:url(../images/hanoihotel_07.gif) no-repeat;

}

#ft_lanmark{

	width:548px;

	height:17px;

	float:left;

}

#ft_lanmark .left{

	float:left;

	height:17px;

	width:8px;

	background:url(../images/hanoihotel_12.gif) no-repeat;

}

#ft_lanmark .home{

	float:left;

	height:17px;

	width:534px;

	background:url(../images/hanoihotel_14.gif) repeat-x;

}

	

#ft_lanmark .right{

	float:left;

	height:17px;

	width:6px;

	background:url(../images/hanoihotel_16.gif) no-repeat;

}

#menutab{

	width:548px;

	float:left;

	overflow:hidden;

}

.basictab ul{

margin: 4px;

padding: 6px 0;

margin-left: 0;

font: bold 12px Verdana;

border-bottom: 1px solid #b2b300;

list-style-type: none;

text-align: left; /*set to left, center, or right to align the menu as desired*/

}



.basictab li{

display: inline;

margin: 0;

}



.basictab li a{

text-decoration: none;

padding: 6px 8px;

margin-right: 3px;

border: 1px solid #b2b300;

border-bottom: none;

background:url(../images/menutab.gif) repeat-x;

font-weight:normal;

color:#FFF

}



.basictab li a:visited{

color:#FFF;

}



.basictab li a:hover, .basictab li a.current{

color:#5d5858;

background:#FFF

}



.basictab li a:active{

color: black;

}



.tabcontainer{

clear: left;

width:95%; /*width of 2nd level sub menus*/

height:1.5em; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/

}



.tabcontent{

display:none;

}

#box_search{

	width:548px;

	height:135px;

	float:left;

	border:solid 1px #CCC;

	background:#eeeeee

}

	

#room_type{

	width:998px;

	

}

#room_type h2.title{ height:25px; background:url(../images/bg-guest.png) repeat-x; padding:0; margin:0; font-size:14px;

 border-left:1px solid #bec6bf; border-right:1px solid #bec6bf; padding-left:10px; padding-top:7px; }

.booking{

background:url(../images/bt_booking.gif) no-repeat;

width:119px;

height:48px;

border:none;

color:#FFF

}

#stay_date{

	clear:both;

	width:998px;

	border:solid 1px #CCC;

	margin-bottom:5px;

	background:#fff;

	margin-bottom:10px;

	margin-top:10px;

	

}

.check_bt{

	background:url(../images/bt_check.gif) no-repeat;

width:129px;

height:26px;

border:none;

color:#FFF;

margin-top:4px;

}
	.booknow
{
	background: url("../images/book-now-icon-maps.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    height: 47px;
	text-align:center;
    width: 47px;
	display:block;
	float:left;
}
.title_book
{
    color: SeaShell;
    display: block;
    font-family: Times New Roman;
    font-size: 15px;
    font-weight: normal;
    padding-top: 4px;
}

.price_room {
    float: left;
    margin-left: 31px;
    margin-top: 7px;
}
	

