<script type="text/javascript">

			$(document).ready(function () {

				$("#statistics").tabs();

				$("table[class='chart']").bar();

			});

		</script>


  
      <!-- right -->
      <div id="right"  class="grid_18">
        <h2>Thống kê</h2>
        <div class="hr"></div>
        <div class="boxes">
          <div class="box box-left">
            <h5>Thống kê</h5>
            <div class="box-content box-content-alt">
              <ul class="statistics">
                <li> <span>Danh mục</span> <span class="highlight">{$num_category}</span> </li>
                <li> <span>Bản tin</span> <span class="highlight">{$num_new}</span> </li>
                <li> <span>Sản phẩm</span> <span class="highlight">{$num_product}</span> </li>
                <li> <span>Thành viên</span> <span class="highlight">{$num_user}</span> </li>
                <li> <span>Module</span> <span class="highlight">{$num_module}</span> </li>
               
              </ul>
            </div>
          </div>
          <div class="box box-right">
            <h5>Bản tin mới cập nhật</h5>
            <div class="box-content box-content-alt">
              <ul class="drafts">
              {foreach item=ls1 from=$ls}
                <li> <a target="_blank" href="http://{$domain}/product/detail/{$ls1.id}/{$ls1.title_seo}.cnv">{$ls1.title}</a></li>
              {/foreach}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end right -->
   