

<script src="{$skinpath}/js/jquery.ui.selectmenu.js" type="text/javascript"></script>

<script type="text/javascript">

			$(document).ready(function () {
										
										
										
										
										

				$("input:submit, input:reset").button();

				$("select").selectmenu({

					style: 'dropdown',

					width: 200,

					menuWidth: 200,

					icons: [

						{ find: '.locked', icon: 'ui-icon-locked' },

						{ find: '.unlocked', icon: 'ui-icon-unlocked' },

						{ find: '.folder-open', icon: 'ui-icon-folder-open' }

					]

				});
				
				
				
				

			});
			
			function update_vitri(id)
				{
					var st=$("#stt"+id).val();
					$.ajax({
							 url:"check_ajax.php",
							 type:"POST",
							 data:"tbl=module_ext&do=update_vitri&id="+id+"&hide="+st,
							 success:function(){}
							 })
				
				}
			
				function update_hide(hide,id)
				{
					
					$.ajax({
							 url:"index.php",
							 type:"POST",
							 data:"do=module_ext&action=update_hide&id="+id+"&hide="+hide,
							 success:function(result){
								 				if(hide==1)
												{
													$("#img0_"+id).show();
													$("#img1_"+id).hide();
												}
												else if(hide==0)
												{
													$("#img0_"+id).hide();
													$("#img1_"+id).show();
												}
												
												
												
								 }
							 })
				
				}
			
			
		</script>

<div id="right"  class="grid_18">
      <div id="messages">
        </div>
        <div class="title">
          <h4>Danh sách module mở rộng</h4>{$test_arr}
          <div class="button"> <a href="index.php?do=module_ext&action=addmodule">Thêm module mở rộng</a> </div>
        </div>
        
        <div class="table">
          <form action="" method="post" name="prior" id="prior">
            <table cellspacing="0">
              <thead>
                <tr>
                 <th>STT</th>
                  <th>Tên module</th>
                  <th>Mã module</th>
                  <th>Hiển thị</th>
                  <th>Action</th>
                  
                </tr>
              </thead>
              <tbody>
              {foreach item=pri from=$pri1}
                <tr>
                 <td class="stt"><input type="text" onblur="update_vitri({$pri.id})" value="{$pri.stt}" id="stt{$pri.id}" name="stt" size="2" style="text-align: center"></td>
                  <td class="namepri"><strong>{$pri.title}</strong></td>
                  <td align="left"><strong>{$pri.code}</strong></td>
                   <td align="center"><strong id="img_hide{$pri.id}"><img {if $pri.hide eq 0} style="display:none"{/if}  id="img0_{$pri.id}" onclick="update_hide(0,{$pri.id})" src="{$skinpath}/images/tick1.png" />  <img {if $pri.hide eq 1} style="display:none"{/if} id="img1_{$pri.id}" onclick="update_hide(1,{$pri.id})" src="{$skinpath}/images/publish_x.png" /> </strong></td>
                  
                  <td class="action"><a href="index.php?do=module_ext&id={$pri.id}&action=editmodule" title="Sửa module"><img src="{$skinpath}/images/edit.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a onClick="return confirm('B&#7841;n c&#243; ch&#7855;c ch&#7855;n mu&#7889;n x&#243;a kh&#244;ng ?');" href="index.php?do=module_ext&id={$pri.id}&action=delmodule" title="Xóa module"><img src="{$skinpath}/images/delete.png"></a></td>
                </tr>
              {/foreach}
              </tbody>
            </table>
            
          </form>
        </div>
        <!-- end table -->
      </div>