/* CSS Document */
body{
	margin:0px;
	
}
*{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
#layer1 {
	position: absolute;
	visibility: hidden;
	width: 500px;
	left: 400px;
	top: 150px;
	background:#FFFFFF;
	padding:3px;
	border:solid 2px #FEAA47;
}

#close {
	float: right;
}

ul{
	margin:0px;
	list-style:none;
}
li{
	list-style:none;
}
a{text-decoration:none; color:#003366; font-size:12px; font-weight:bold;}
h1{ margin-bottom:2px; margin-top:2px; margin-left:0px; margin-right:2px;}
.detail_1{
	font-weight:bold;
	padding-bottom:4px;
	padding-top:4px;
	border-bottom:dashed 1px #f3f3f3;
	padding-left:5px;
}
.list_news{
	padding-bottom:2px;
	padding-top:2px;
	padding-left:12px;
	padding-right:5px;
	background:url(/images/4.gif) no-repeat 3px;
}
.left_poll{
	padding:2px;
	clear:both;
}
.new_hot{
	float: left;
	position: relative; 
	top: -100px;
	left:120px;
	margin: -13px 0pt -3px 1px;
	font-size: 11px;
	color: #4172a2;
	font-weight: bold;
	text-align: left;
	text-indent: 14px;
	line-height: 23px;
	
}

.left_poll label{float:left; width:30px;}
.detail_1 label{ font-weight:normal}
.detail_1 span{ color:#FF0000}
.detail_teaser{ line-height:16px; padding:5px;}
.detail_product{ border-left:solid 1px #254ba3; border-right:solid 1px #254ba3; border-bottom:solid 1px #254ba3; padding:5px;}
.poll{margin-bottom:0px; margin-top:0px; margin:0px;}
.poll div{ padding-bottom:4px; padding-top:4px;}
.poll label{width:25px; float:left}
.top_type{
	background:url(/images/bg_page.jpg) no-repeat;
	height:36px;
	line-height:36px;
}
.page_select{	
	font-weight:bold;
	color:#EF222A;
}
.page{
	color:#000000;
}
.div_cart{
	background:url(/images/cart_pro.jpg) no-repeat 5px;
	height:36px;
	line-height:36px;
	width:177px;
	padding-left:8px;
	cursor:pointer;
}
.product{
	width:177px;
}
.product a{
	color:#033b7f;
}
.div_compe{
	background:url(/images/bg_compe.jpg) no-repeat 5px;
	height:36px;
	line-height:36px;
	width:177px;
	padding-left:8px;
}
.price{ color:#c61b32; font-size:13px; line-height:15px; font-weight:bold;}
.title_left{ background:#e5e5e5; font-weight:bold}
.left_menu_0{
	border-top:1px #F2F2F2 solid;
	display:block;
	font-size:12px;
	height:24px;
	max-height:20px;
	padding:4px 0px 0px 5px;
}
.left_menu_1{
	/*border-bottom:1px #f8f8f8 solid;*/
	display:block;
	font-size:11px;
	color:#0066cc;
	height:22px;
	max-height:19px;
	padding:3px 0px 0px 15px;
}
.left_menu_0:hover{
	background:#F0F0F0;
	color:#FF3300;
}
.left_menu_1:hover{
	color:#FF3300;
}

.gallery{
	width:174px;
	height:119px;
	border:solid 1px #CCCCCC;
	padding:3px;
	overflow:hidden;
}
.gallery_name{
	font-weight:bold;
	background:#EEEEEE;
	width:182px;
	margin-top:5px;
	padding-bottom:4px;
	padding-top:4px;
}
.title_bold{ font-weight:bold; padding-top:5px; padding-bottom:7px; margin:0px;}
.news_new{
	margin:0px;
	padding-left:3px;
}
.description{
	line-height:17px;
}
.relate{
	font-weight:bold;
	color:#666666;
	text-decoration:underline;
}
.news_new li{
	margin:0px;
	list-style:none;
	padding-bottom:2px;
	padding-top:2px;
	line-height:16px;
	padding-left:15px;
	background:url(/images/4.gif) no-repeat 5px 7px;
}
.news_new a{color:#014693}
.left_news{
	text-align:justify;
}
.button{
	background:url(/images/bg_botton.jpg) repeat-x;
	border: 1px #999999 outset;
	padding: 0 2px;
	color:#333333;
	text-decoration: none;
	font: bold 10px Verdana;
	height:20px;
}
.left_news a{ font-weight:bold; color:#333333}
.left_news a:hover{ font-weight:bold; color:#FF0000}
.left_news a:visited{ font-weight:bold; color:#004080}
.div_left_0{
	border-top:solid 1px #f7f6f6;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:7px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
.div_left_0 a{
	color:#555555;
}
.div_left_1{
	background:#ffe1bb;
	border-top:solid 1px #FFFFFF;
	height:25px;
	line-height:25px;
	padding-left:25px;
	font-size:12px;
	font-weight:bold;
	background-image:url(/images/left_select.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.div_left_1 a{
	color:#d82118;
}
.div_sub_1{
	padding-left:18px;
	height:22px;
	line-height:22px;
	border-top: 1px dashed #CCCCCC;
}
.div_sub_1 a{
	color:#004593;
	font-weight:bold;
}
.div_sub_0{
	padding-left:18px;
	height:22px;
	line-height:22px;
	border-top: 1px dashed #CCCCCC;
}
.div_sub_0 a{
	font-weight:bold;
	color:#004593;
}
.menu_sub_2{
	padding-left:26px;
	padding-top:5px;
	padding-bottom:5px;
	
}
.menu_sub_2 a{
	color:#333333;
}

.cat_name{
	padding-bottom:7px;
	padding-top:7px;
	padding-left:3px;
	font-size:15px;
	color:#817d5e;
}
.td_price{
	background:#FFFFFF;
	color:#FF0000;
}
.menu{
	font-weight:bold;
	color:#ff6ac0;
}
.picture{
	height:111px;
	background:#ffffff;
	width:166px;
	padding:0px; margin:0px;
}
.td_product{
	padding-left:10px;
}
.textBold{ font-weight:bold;}
.description{
	text-align:justify;
	line-height:16px;
	font-size:12px;
}
fieldset { -moz-border-radius: 6px; border-radius:solid 1px #c6c196;}
legend{ font-weight:bold; color:#516210;}
.form{ font-size:11px; border:solid 1px #999999;}
.form_asterisk{color:#FF0000}
.form_title{ background:#f2f2f2; font-weight:bold; color:#000066}
input{padding:2px;}
.title{
	font-weight:bold;
	color:#222222;
}
/*bat dau cua phan tab*/
.div_tab_top{
     margin-top:5px;
}
.div_tab_top ul{
    list-style: none;
    margin: 0;
    padding: 0 0 0 0px;
}
.div_tab_top ul li{
    float: left;
    margin: 0 0 0 0px; /* khoang cach giua cac tab */
    font-weight: bold;
}
.div_tab_top ul li a, .div_tab_top ul li a span{
    float: left; /* fixes dir=ltr problem and other quirks IE */
    padding: 0 5px 0 0; 
}
.div_tab_top ul li a{
    margin: 0px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    background-position: 100% 0;
    text-decoration: none;
    white-space: nowrap; /* @ IE 6 */
    outline: 0; /* @ Firefox, prevent dotted border after click */    
}
.div_tab_top ul li a span{
    padding-top: 0px;
    height: 28px; /* @ chieu cao tab khong chon */  
    background-position: 0 0;
    line-height: 28px;
	 cursor:pointer;
	 padding-left:10px;
}
.tab_select a, .tab_select a span{
    padding-top: 0;
    height: 28px; /* chieu cao backgroun tap chon */  
    background-position: 0 -28px;
    line-height: 28px;
	 color:#FFFFFF;
	 background: url(/images/tabs_02.jpg) no-repeat;

}
.tab_nomal a, .tab_nomal a span{
    padding-top: 0;
    height: 28px; /* chieu cao backgroun tap chon */  
    background-position: 0 -28px;
    line-height: 28px;
	 color:#333333;
	 background: url(/images/tabs_01.png) no-repeat;
}
.tab_content{
	height:26px;
	background:url(/images/bg_content.jpg);
	line-height:26px;
	padding-left:25px;
}
.tab_content ul{
    list-style: none;
    margin: 0;
    padding: 0 0 0 0px;
}
.tab_content ul li{
    float: left;
    margin: 0 0 0 2px; /* khoang cach cac menu con */
	 color:#FFFFFF;
}
.tab_content ul li a{
	color:#FFFFFF;
	text-decoration:none;
}
.tab_content a:hover{
	color:#F59740;
}
.cssform p{
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 120px; /*width of left column containing the label elements*/
height: 1%;
}

.cssform label{
font-weight: bold;
float: left;
margin-left: -100px; /*width of left column*/
width: 100px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.cssform input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 180px;
}

.cssform textarea{
width: 250px;
height: 150px;
}

.formsentmail p{
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px; /*width of left column containing the label elements*/
border-top: 1px dashed #CCCCCC;
height: 1%;
}

.formsentmail label{
font-weight: bold;
float: left;
margin-left: -155px; /*width of left column*/
width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}

.formsentmail input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 180px;
}

.formsentmail textarea{
width: 250px;
height: 150px;
}
.buttom{
	background:url(/images/bg_botton.jpg) repeat-x;
	border: 1px #999999 outset;
	padding: 0 2px;
	color:#333333;
	text-decoration: none;
	font: bold 10px Verdana;
	height:20px;

}
/* phan trang */
.page_picture, .page_picture_current, .page_picture_dot{
	display:block;
	float:left;
	max-height:19;
	padding:2px 7px 0px 7px;
	margin-right:5px;
	font-weight:bold;
}
.page_picture_current{
	border:1px #e5e5e5 solid;
	background:#F2E2CB;
	color:#ED1F26;
	width:15px;
}
.page_picture{
	border:1px #e5e5e5 solid;
	max-height:17px;
	color:#ED1F26;
	font-weight:bold;
}
.page_picture:hover{
	background:#F2E2CB;
	color:#FAD742;
}
.page_picture_current, .page_picture_dot{
	font-weight:bold;
	padding:2px 3px 0px 3px;
}
.page_picture_div{
	
	font-size:11px;
	white-space:nowrap;
	text-align:center;
	margin-top:2px;
	padding-top:5px;
	padding-left:5px;
	height:33px;
	max-height:26px;
}
/*
### Tooltip here ###
*/
#dhtmltooltip{
	font-size: 10pt;
	z-index: 100;
	left: -350px;
	visibility: hidden;
	font-family: Arial;
	position: absolute;
	background:#FFFFFF;
	width: 350px;
	border:solid 1px #996633;
}
#dhtmlpointer{
	z-index: 101;
	left: -350px;
	visibility: hidden;
	position: absolute;
}
.tool_bold{
	background:#FF9900;
	height:20px;
	line-height:20px;
	padding:3px;
	font-weight:bold;
	color:#FFFFFF;
}
.tool_bold2{
	background:#F4F4F4;
	height:20px;
	line-height:20px;
	padding:3px;
	font-weight:bold;
	color:#C61B32;
}
.too_1{
	color:#FF9900;
	font-size:14px;
	padding-left:5px;
	padding-right:4px;
	padding-top:14px;
	padding-bottom:7px;
	font-weight:bold;
}
.too_1 font{ color:#FFFF00; font-size:16px}
.tooltip{
	text-align:justify;
	padding:5px;
	color:#333333;
}
/*
--- End Tooltip here ---
*/	
/*
--- thoi tiet ---
*/	
.dl_Bantindubao{
	font-family:tahoma, Verdana, Arial;
}
.btdb_Title{
	font-family:tahoma, Verdana, Arial;
	font-size:12px;
	font-weight:bold;
}
.forecast_detail{
	font-family:tahoma, Verdana, Arial;
	font-size:11px;
}
/*
--- template ---
*/	
.tem_top{
	background:url(/images/tem_top.gif) no-repeat left;
	padding-left:10px;
	text-align:left;
}
.tem_top div{
	background:url(/images/tem_top.gif) no-repeat right;
	text-align:left;
	height:24px;
	line-height:24px;
	font-weight:bold;
	color:#FFFFFF;
}
.tem_top a{ color:#FFFFFF }
.tem_center{
	background:#FFFFFF;
	border-left:solid 1px #bf9628;
	border-right:solid 1px #bf9628;
	padding:2px;
	text-align:left;
}
.tem_bottom{
	background:url(/images/tem_bottom.gif) no-repeat left;
	padding-left:20px;
}
.tem_bottom div{
	font-size:3px;
	height:10px;
	overflow:hidden;
	background:url(/images/tem_bottom.gif) no-repeat right bottom;
}
.t_top{
	background:url(/images/tem_top.gif) no-repeat left;
	padding-left:10px;
	text-align:left;
}
.t_top div{
	background:url(/images/tem_top.gif) no-repeat right;
	text-align:left;
	height:29px;
	line-height:29px;
	font-weight:bold;
	color:#FFFFFF;
}
.t_top a{ color:#FFFFFF }
.t_center{
	background:#FFFFFF;
	border-left:solid 1px #d6d6d6;
	border-right:solid 1px #d6d6d6;
	padding:2px;
	text-align:left;
}
.t_bottom{
	background:url(/images/t_bottom.jpg) no-repeat left;
	padding-left:20px;
}
.t_bottom div{
	font-size:3px;
	height:10px;
	overflow:hidden;
	background:url(/images/t_bottom.jpg) no-repeat right bottom;
}

.khu_top{
	background:url(/images/khung_1.jpg) no-repeat left  bottom;
	padding-left:20px;
}
.khu_top div{
	background:url(/images/khung_1.jpg) no-repeat right bottom;
	text-align:left;
}
.khu_top span{
	background:#FFFFFF;
	font-weight:bold;
	padding:2px;
	color:#CE1C18;
}
.khu_center{
	background:#FFFFFF;
	border-left:solid 1px #e2e2e2;
	border-right:solid 1px #e2e2e2;
	padding:3px;
	text-align:justify;
}
.khu_bottom{
	background:url(/images/khung_2.jpg) no-repeat left;
	padding-left:20px;
}
.khu_bottom div{
	font-size:1px;
	height:6px;
	overflow:hidden;
	background:url(/images/khung_2.jpg) no-repeat right bottom;
}

.x_top{
	background:url(/images/x_1.jpg) no-repeat left;
	padding-left:20px;
}
.x_top div{
	font-size:1px;
	height:7px;
	overflow:hidden;
	background:url(/images/x_1.jpg) no-repeat right bottom;
}
.x_center{
	background:#FFFFFF;
	border-left:solid 1px #4a6ab3;
	border-right:solid 1px #4a6ab3;
	padding:3px;
	text-align:justify;
}
.x_bottom{
	background:url(/images/x_2.jpg) no-repeat left;
	padding-left:20px;
}
.x_bottom div{
	font-size:1px;
	height:7px;
	overflow:hidden;
	background:url(/images/x_2.jpg) no-repeat right bottom;
}
.div_goTop{
	background:#F2F2F2;
	padding:1px 5px 1px 5px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: .50;
	-khtml-opacity: .50;
	opacity: .50;
}
.div_goTop_hover{
	background:#FFFFFF;
	padding:1px 5px 1px 5px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99);
	-moz-opacity: .99;
	-khtml-opacity: .99;
	opacity: .99;
}