<script src="{$skinpath}/js/jquery.ui.selectmenu.js" type="text/javascript"></script>
<script type="text/javascript" src="{$skinpath}/js/jquery.validate.min.js"></script>

<script type="text/javascript">

			$(document).ready(function () {

				$("#published").datepicker({

					showOn: 'button',

					buttonImage: 'templates/images/calendar.png',

					buttonImageOnly: true

				});



				$("select").selectmenu({

					style: 'dropdown',

					width: 200,

					menuWidth: 200

				});



				$("input[type=file]").file({

					image: "templates/images/browse.gif",

					image_height: 24,

					image_width: 71,

					width: 250

				});



				$("input:submit, input:reset").button();

			});
			
	$(document).ready(function(){
		$("#addpri1").validate({
			debug: false,
			rules: {
				
				title: "required",
				
			},
			messages: {
				title: "",
				
			},
			
		});
	});
		</script>



      <!-- right -->
      <div id="right"  class="grid_18">
      <div id="messages">
{$mess}
        </div>
        <!-- forms -->
        <div id="forms">
        {foreach item=info from=$info1}
          <form action="http://{$domain}/iadmin/index.php?do=email&action=edit&id_module={$smarty.request.id_module}&id={$smarty.request.id}" method="post" name="addpri1" id="addpri1" enctype="multipart/form-data">
          
            <div class="form">
              <div class="title">
                <h4>Sửa Email nhận tin</h4>
              </div>
              <div class="fields">
                <div class="field">
                  <div class="label">
                    <label for="title">Email:<font style="color: red; font-weight: bold">*</font></label>
                  </div>
                  <div class="input">
              <input name="title" id="title" value="{$info.title}">
                  </div>
                </div>
               
                
           
                
               
            
                
                <div class="buttons">
                  <input type="submit" name="submit" value="Sửa thành phố" />
                  <input type="reset" name="reset" value="Reset" />
                </div>
              </div>
            </div>
          </form>
          {/foreach}
        </div>
        <!-- end forms -->
      </div>
      <!-- end right -->
   
   
  