@CHARSET "UTF-8";

.afl{
	float: left; cursor:pointer;
}
.afr{
	float: right; cursor:pointer;
}
ul.categories-module{
	margin: 0; padding: 0;
}
ul.categories-module li{
	list-style: none; float: left;
}
#colunmLeft1 ul{
	margin: 0; padding: 0;
}
#colunmLeft1 ul li{
	
}
.textLeft p, .textLeft h2{
	padding: 0; margin: 0;
}
.thumnail_view{
	width: 100px; float: left; margin: 0 8px 2px 0; border: 1px solid #ccc; padding: 2px;
}
/*-- UL COLLECTION NEWS --*/
.box-module{
	margin: 2px; padding: 0;
}
.box-module .title-module{
	width: 100%; height: 24px; line-height: 24px; background: url("../images/bg_title_module_normal.jpg") repeat-x; font-size: 13px; text-transform: uppercase; padding-left: 5px; font-weight: bold; color: #000; cursor: pointer;
}
.box-module .active_title_module{
	background: url("../images/bg_title_module.jpg") repeat-x; color: #fff;
}
ul.ul-module{
	margin: 5px 0; padding: 0;
}
ul.ul-module li{
	list-style: none; background: url("../images/iconBlue.jpg") no-repeat 5px 8px; padding: 2px 0 2px 13px;
}
ul.ul-module li a{
	color: #000; text-decoration: none;
}
ul.ul-module li a:hover{
	color: #0072bc;
}