@CHARSET "UTF-8";

.afl{
	float: left; cursor:pointer;
}
.afr{
	float: right; cursor:pointer;
}
ul.categories-module{
	margin: 0; padding: 0;
}
ul.categories-module li{
	list-style: none; float: left;
}
#colunmLeft1 ul{
	margin: 0; padding: 0;
}
#colunmLeft1 ul li{
	
}
.textLeft p, .textLeft h2{
	padding: 0; margin: 0;
}
.thumnail_view{
	width: 100px; float: left; margin: 0 8px 2px 0; border: 1px solid #ccc; padding: 2px;
}
