.new
{
	width:550px;
	border-bottom: 1px dotted #CCC;
	
	padding:8px 0px 6px 8px;
	float:left;
	color:#000
}
.img
{
	float:left;
	width:150px;
	padding:2px;
	border:1px solid #CCC
	
}
.img img
{	
	width:150px;
	border:0px
}
.quote
{
	float:left;
	padding-left:10px;
	width:350px;
	height:100%
}
.quote a
{
	font-weight:bold
}
.quote p
{
padding:2px
}
.quote p.date
{
	color:#666;
	font-size:11px
}
.quote p.detail
{
	font-weight:bold;
	float:right
}
.pagination {
	margin: 10px 0 0 0;
	padding: 10px;
	height: 1%;
	clear: both;
	overflow: hidden;
}
.pagination ul.pager {
	margin: 0;
	padding: 0;
	float: right;
	text-align: right;
	
}
.pagination ul.pager li {
	margin: 0 0 0 4px;
	padding: 0;
	height: 1%;
	float: left;
	list-style: none;
	background: #FFFFFF;
	border: 1px solid #ADADAD;
	color: #4A4A4A;
}
.pagination ul.pager li.separator {
	padding: 5px;
}
.pagination ul.pager li.current {
	padding: 0px;
	background: #356AA0;
	border: 1px solid #000000;
	color: #FFFFFF;
}
.pagination ul.pager li.disabled {
	padding: 5px;
	background: #FFFFFF;
	border: 1px solid #ADADAD;
	color: #ADADAD;
}
.pagination ul.pager li a {
	margin: 0;
	padding: 3px 5px;
	height: 1%;
	/*background: #FFFFFF;*/
	display: block;
	float: left;
	color: #4A4A4A;
}
.pagination ul.pager li a:hover, #content #right div.pagination ul.pager li a:active {
	margin: -1px;
	background: #CCC;
	border: 1px solid #999999;
	color: #FFFFFF;
}

.new_detail
{
	width:550px;
	color:#000;
	padding-bottom:10px
}
.new_detail .title_detail_new
{
	font-weight:bold;
	color:#000;
	padding:15px 0px 0px 0px
}
.new_detail .date_detail
{
	color:#666;
	font-size:11px
}
.new_detail .body_detail
{
	padding-top:10px;
	padding-bottom:10px;
}
.new_other
{
	width:530px;
	border-top:1px dashed #666;
	padding-top:10px;
	float:left;
	margin-top:10px;
}
.new_other .title_new_orther
{
	float:left;
	width:550px;
	font-size: 1.5em;
	font-weight: bold;
	color:#000000
}



.item_new_other
{
	float:left;
	padding-left: 17px;
	padding-top:10px
}
.item_new_other ul
{
	margin: 0;
	padding: 0;
	padding-left: 17px;
} 
.item_new_other ul li
{
	list-style: disc;
	margin-bottom: 5px;
	color: #10715B;
}
.date_new_other
{
	color:#999;
	font-size:11px;
	padding-left:10px;
}
.social
{
	width:60px;
	float:left;
	margin-bottom:5px;
}
.social_item li
{
	display:inline
}
.comment
{
	float:left;
	width:100%;
	padding-top:10px;
	padding-left:10px;
	margin-top:10px;
	border-top:1px dashed #666
}
.detail_product
{
	background-image:url(/images/chitiet1.png); width:55px; height:27px; text-align:center; line-height:25px; color:#666; font-weight:bold;
}

/*----------------------------------CHI TIET SAN PHAM-------------------------------------------*/
.form_comment tr, td {
	margin: 0px;
	padding: 3px;
	vertical-align:top;
	border-collapse: collapse;
}
.product_info {
	margin:0px;
	padding:10px 0 10px 0;
}
.product_info_title {
	font-weight:bold;
	width:100px;
}
.product_detail {
	padding:10px 0 10px 5px;
	width:530px;
}
.product_pic {
	float:left;
	width:200px;
}
.product_pic img {
	width:200px;
	padding:1px;
	border:#dddddd solid 1px;
}
.btn_detail
{
	background-image:url(../images/chitiet1.png); width:55px; height:27px; text-align:center; line-height:25px; color:#666; font-weight:bold;
}


/*----------------------------------- CAC NUT BUTTON -----------------------------------------------*/
.btn_add_cart {
	float:left;
	padding:5px 10px 0 5px;
}
.add_cart {
	float:left;
	width:108px;
	padding: 5px 0 10px 35px;
	font-family:tahoma;	
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	background: url(../images/icon_cart.png) 0 0 no-repeat;
	/*display: block;*/
}
.add_cart:hover{
	color:#000;
	
}
.add_cart:active{
	color:#000;
}
.btn_buy {
	padding:0 0 0 5px;
}
/*--------------------------------- TAGS ------------------------------------*/
.divTag {
	width:530px;
	overflow:hidden;
	float:left;
	background:#ffffff;
	padding:0px 10px 0 0;
	margin:10px 0px 15px 0;
}
.tagLeft,.tagRight{
	width:3px;
	height:33px;
	margin:3px 0px 0px;
	float:left;
}
.tagLeft{
	background:#f7f7f7 url(../images/tagLeft.gif) no-repeat 0px 0px;
}
.tagRight{
	background:#f7f7f7 url(../images/tagRight.gif) no-repeat 0px 0px;
}
.tagMid{
	width:524px;
	background:#f7f7f7 url(../images/tagMid.gif) repeat-x 0px 0px;
	margin:3px 0px 0px;
	float:left;
}
.tag{
	width:37px;
	height:33px;
	position:relative;
	top:-3px;
	background:url(../images/tag.gif) no-repeat 0px 0px;
	margin:0px 15px 0px 0px;
	float:left;
}
.wordTag{
	/*width:520px;*/
	float:left;
	overflow:hidden;
	padding:8px 0px 0px;
	font:12px arial;
	color:#6f6f6f;
}
.wordTag a{
	font:12px arial;
	color:#6f6f6f;
}
.wordTag a:hover,.aRelate:hover{color:#333333}

/*--------------------------------- MANG XA HOI ------------------------------------*/
.face {
	width:460px;
	
}

/*------------------------------------COMMENT LIST----------------------------------------------*/
.comment_list{
	margin:0;
	padding:0 0 0 5px;
}
.comment-item {
	clear: both;
	margin-bottom: 15px;
	position: relative;
}
.comment-item p {
	margin-left: 70px;
	padding: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}
.comment-item p span {
	display: block;
	font-size: 12px;
	margin-top: 5px;
	padding-top: 5px;
}
.comment-content {
	border-top: 1px solid #dfdfdf;
}
	span.comment-time {
		color: #888888;
		padding: 10px 0;
		position: absolute;
		right: 20px;
		top: 0px;
	}
	.comment-item span.dialog {
		width: 10px;
		height: 20px;
		position: absolute;
		top: 0px;
		left: -9px;
		background-position:  -36px -632px;
	}
	.drop-box span.dialog {
		width: 25px;
		height: 10px;
		position: absolute;
		bottom: -9px;
		left: 58px;
		background-position:  -14px -629px;
	}
	.nonchange, .nonchange span {
		display: inline!important;
		margin: 0;
		padding: 0;
	}

/*------------------------------------FORM LIEN HE----------------------------------------------*/
.form_comment {
	margin-top:10px; 
	padding:5px; 
	border:1px solid #CCC; 
	float:left;
	width:400px;
}
input[type="text"], input[type="password"] { 
	
	padding:2px 5px;
}
input[type="button"] , input[type="submit"],
input[type="reset"]
{
	float:left;	
	background:#dfdfdf url(../images/bg-btn.gif) repeat-x 0;
	border:#acacac solid 1px;
	color:#000;	
	cursor:pointer;	
	margin:10px 0 0 5px;
	padding:5px 10px;
}

input[type="button"]:hover ,input[type="submit"]:hover,
input[type="reset"]:hover
{
	background:#766d5e url(../images/bg-btn-hover.gif) repeat-x 0 0;	
}
textarea {  padding:2px 5px 10px 5px; }
.capcha
{
	background: url("../images/bg_title.jpg") repeat-y ;
	height:25px;
	width:100px;
	font-size:16px;
	letter-spacing:10px;
	text-align:center
}
.form_comment textarea
{
	width:350px;
	height:50px
}
.scroll
{
	overflow: auto;
	height:250px;
	width:700px;
	margin-top:10px;
	margin-bottom:10px
	
}
.list_comments tr td
{
	padding:0px;
}