
a img{
	border:none;
	cursor:pointer;
}
.wrapper_content_tintuc{
	width:550px;
	float:left;
}
.content_tintuc_main{
	width:550px;
	float:left;
	border-bottom:1px dashed #999;
	padding-top:10px;
	padding-bottom:10px
}
.image_tintuc{
	width:100px;
	float:left;
	margin:5px;
	border:1px solid #6A6A6A;

}
.text_tintuc{
	width:430px;
	float:left;
	
}
.title_tintuc{
	width:430px;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000;
	margin-top:5px;
}
.title_ngay{
	width:430px;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	margin-top:5px;
}
.title_text_noidung{
	width:430px;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	margin-top:5px;
}
.title_chitiet{
	width:60px;
	float:right;
	margin-bottom:10px;
	clear:both
}