.nav-sprite {
  background-image: url("../images/BeaconSprite.png");
}
.nav_pop_h {
  background-image: url("../images/nav-pop-h.png");
}
.nav_pop_v {
  background-image: url("../images/nav-pop-v.png");
}
.nav-left-search-in .nav-searchfield-width {
	padding: 0 2px 0 43px;
}
.nav-left-search-in #nav-search-in {
	width: 43px;
}