<script src="{$skinpath}/js/jquery.ui.selectmenu.js" type="text/javascript"></script>
<script type="text/javascript">

			$(document).ready(function () {

				$("input:submit, input:reset").button();

				$("select").selectmenu({

					style: 'dropdown',

					icons: [

						{ find: '.locked', icon: 'ui-icon-locked' },

						{ find: '.unlocked', icon: 'ui-icon-unlocked' },

						{ find: '.folder-open', icon: 'ui-icon-folder-open' }

					]

				});

			});
			
			function update_hide(hide,id)
				{
					
					$.ajax({
							 url:"index.php",
							 type:"POST",
							 data:"do=content&action=update_hide&id="+id+"&hide="+hide,
							 success:function(result){
								 				if(hide==1)
												{
													$("#img0_"+id).show();
													$("#img1_"+id).hide();
												}
												else if(hide==0)
												{
													$("#img0_"+id).hide();
													$("#img1_"+id).show();
												}
								 }
							 })
				}
				
				function update_text(id,value,code)
				{
					//alert(code);
					$.ajax({
							 url:"index.php",
							 type:"POST",
							 data:"do=language&action=update_text&id="+id+"&value="+value+"&code="+code,
							 success:function(result){
								 }
							 })
				
				}

		</script>
      <!-- right -->
      <div id="right"  class="grid_18">
        <div class="title" style="padding-bottom:10px">
          <h4>Danh sách ngôn ngữ</h4>
          
        </div>
        <div class="table">
        
       <form action="" method="post" name="search">
        									
									<div style="float: left"><strong>Tìm kiếm: </strong><input tyle="text" name="searchvl"  style="height: 18px" value="{$search_select}" /></div>
									
										<div style="float: left"><input type="submit" value="Search" class="check-submit"  style="height: 24px; padding-top: 3px" /></div>
                                    
                                    
             <div style="clear: both">&nbsp;</div>
              <div id="scroll"> 
             <form method="post">
            <table cellspacing="0" id="tbl_new">
              <thead>
                <tr>
                <!--  <th class="left">Hình ảnh</th>-->
                  <th>Mặc định</th>
                  <th>Chuyển ngôn ngữ</th>
                  
                
                </tr>
              </thead>
              <tbody>
              {foreach item=info from=$info1}
                <tr {if $phim.stt eq 0}class="alt"{/if}>
                 <!-- <td  class="username"><strong>{if $info.picture !=''}<img style="width:50px; height:50px" src="../templates/pictures/news/{$info.picture}" /></{/if}</strong></td>-->
                  <td class="joindate" style="text-align:left">{$info.title}</td>
                  <td class="joindate2"><input type="text" size="40" onblur="update_text({$info.id},this.value,'{$code}')"  value="{$info.titletrans}" /> </td>
              
                 
               {/foreach}
              </tbody>
            </table><br />
<br />
            <div class="action">
									

									<div class="button">

									

									</div>


								</div>
</form>
</div>
            <!-- pagination -->
            <div class="pagination">
           
              {$page}
           
            
            </div>
            <!-- end pagination -->
        </div>
        <!-- end table -->
      </div>
      <!-- end right -->
