html, body{
color:#fff;
margin:0; padding:0;
font-size: 12px; font-family: Arial, Helvetica, sans-serif;
background: url(images/main01.jpg) top left no-repeat #141414;}

input{outline:none;}
ol,ul {list-style: none; margin:0; padding:0; border:0;}
img{ border:0; padding:0; margin:0; }
a {color:#ededed; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
a:hover{ text-decoration:none;color:#f3d509}
.clr{ clear:both;}
/*----------------PAGE CONSTRUCTION----------------*/
#page01{
	margin:0px;
	width:100%; height:100%; height:auto !important;
	background: url(images/main02.jpg) 0 690px no-repeat;}
	

/*----------------PAGE TOP----------------*/
#pageTop{
	margin:0; padding:8px 0;
	width:100%; height:24px;
	background: url(images/pageTop.png) repeat;}
.pageTop{
	margin:0 auto;
	width:960px;}
	.support{ float:left;}
		.support a{ float:left; font-size:11px;}
		.support a.yahoo{
			display:block;
			margin:0; padding:5px 0 5px 30px;
			background: url(images/icoYahoo.gif) top left no-repeat;}
		.support a.phone{
			display:block;
			margin:0 0 0 10px; padding:5px 0 5px 30px;
			background: url(images/icoPhone.gif) top left no-repeat;}
	.login{ float:right; padding:3px 0;}
		.login a{font-size:13px;}

/*----------------HEADER----------------*/
#pageHeader{
	margin:0 auto;
	width:960px; height:100px}
	a.logo{
		float:left;
		display:block;
		text-align:center;
		width:200px;
		padding:25px 0 0 0;}
	/*menu*/
	.headerMenu{
		float:left;
		width:261px; height:20px;
		margin:30px 0 0 0;}
		.headerMenu a{
			display:block;
			float:left;}
		.headerMenu a.home{
			width:40px; height:40px;
			background: url(images/icoHome.gif) center no-repeat #0a0a0a;}
			.headerMenu a.home:hover{background: url(images/icoHome02.gif) center no-repeat #0a0a0a;}
		.headerMenu a.city{
			width:200px; height:20px;
			margin:0 0 0 1px; padding:10px;
			background: url(images/arrow01.gif) top right no-repeat #0a0a0a;
			font-size:19px; color:#ffd407;}
			.headerMenu a.city:hover{
				color:#f6f6f6;
				background: url(images/arrow02.gif) top right no-repeat #0a0a0a;}
		.headerMenu p{
			margin:3px 0 0 0;
			float:right; font-size:11px;
			color:#ededed}
	/*search*/
	.headerSearch{
		float:right;
		width:300px;
		margin:30px 0 0 0;}
		.headerSearch .searchForm{
			width:300px; height:40px;
			background:#0a0a0a;}
		.searchForm .textbox{
			float:left;
			width:230px;
			margin:10px 0 0 20px; padding:3px 0;
			color:#b9b9b9;font-family:Arial, Helvetica, sans-serif; font-size:12px;
			background:none;border:none;}
		.searchForm .button{
			float:right;
			border:none;
			height:40px; width:40px;
			padding:0; margin:0;
			background: url(images/icoSearch.gif) center no-repeat;}
		.headerSearch p{
			margin:3px 0 0 0;
			float:right;}
			.headerSearch p a{font-size:11px;}
		
/*----------------CONTENT----------------*/
#pageContent{
	width:950px; height:100%;
	margin:0 auto; padding:10px;
	background: url(images/pageTop.png) repeat;}
	#pageLeft{ 
		width:670px; height:100%;
		float:left;}
		/*slider*/
		#slider-wrapper {
			position:relative;
			width: 100%; height:330px;
			overflow:hidden; position:relative;}
			#slider {
				position:relative;
				background:url(images/loading.gif) no-repeat 50% 50%;}
			#slider img {
				position:absolute;	top:0px; left:0px;
				display:none;}
			#slider a {	border:0; display:block;}
		
		/* Controler*/
		.nivo-controlNav {
			position:absolute; left:45px; bottom:15px;}
		.nivo-controlNav a {
			position:relative; z-index:9;float:left;
			cursor:pointer;	display:block;
			height:14px; width:14px; margin:0 0 0 5px;
			background: url(images/slidetabs.png) top center no-repeat;
			text-indent:-9999px;border:0;}
		.nivo-controlNav a.active {background:url(images/slidetabs.png) bottom center;}
		/* Direction*/
			.nivo-directionNav{
				display:none;}
			.nivo-directionNav a {
				text-indent:-99999px;
				width:25px;	height:25px;
				background:url(images/arrows.png) no-repeat;
				position:absolute; bottom:10px;	z-index:9;
				cursor:pointer;	display:block;}
			a.nivo-nextNav { background-position:-25px 0; right:10px;}
			a.nivo-nextNav:hover { background-position:-25px -25px;}
			a.nivo-prevNav { right:45px;}
			a.nivo-prevNav:hover { background-position:0 -25px;}
		/*SLider caption*/
			.nivo-caption {
				float:left; position:relative;z-index:8;
				background: url(images/pageTop.png); color:#fff;
				width:181px; height:100%;}
			.nivo-caption a.caption-title { display:inline-block;font-size:17px; margin:0 0 5px 0;}
			.nivo-caption a:hover{text-decoration:underline}
			.caption {display:none;}
			/* The Nivo Slider styles */
			.nivoSlider { position:relative;}
			.nivoSlider img { position:absolute; top:0px; left:0px;}
			/* If an image is wrapped in a link */
			.nivoSlider a.nivo-imageLink {position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none;}
			/* The slices and boxes in the Slider */
			.nivo-slice { display:block; position:absolute; z-index:5; height:100%;}
			.nivo-box {	display:block; position:absolute; z-index:5;}
	#pageRight{
		float:left;
		width:260px;
		margin:0 0 0 10px;}
		.boxRight{
			margin:0 0 10px 0; padding:0 0 10px 0;
			background:#000;}
			.boxTitle{
				position:relative;
				width:auto; height:42px;
				padding:7px 0 0 65px;
				color:#2a2a2a; font-size:20px; font-weight:bold;
				background: url(images/boxTitle.png) top left no-repeat;}
			.boxIcon{
				position:absolute; top:-15px; left:5px;}
				
			.boxDiscount{
				width:220px;
				margin:10px 10px 0; padding:10px;
				background:#fff;}
				a.discountTitle{
					display:block;
					color:#2a2a2a; font-size:12px; font-weight:bold;}
				.discountImg{
					position:relative;
					margin:5px 0 0 0;}
						.discountImg img{ width:220px;}
						.discountImg .discountLabel{
							position:absolute; right:-10px; top:-15px;
							width:53px; height:43px;
							padding:10px 0 0 ;
							text-align:center; color:#fff; font-size:11px;
							background: url(images/discontLabel.png) top left no-repeat;}
							.discountLabel p{ margin:0; ;font-size:13px; font-weight:bold;}
						.discountImg a.discountView{
							display:block;
							position:absolute; bottom:0; right:0;
							width:75px; height:17px;
							padding:8px 0 5px 10px;
							color:#ecc508; font-size:12px; font-weight:bold;
							background:url(images/arrow03.gif) 55px 4px no-repeat #0a0a0a;}
							.discountImg a.discountView:hover{ color:#fff;}
				.discountDetai{
					margin:5px 0 0 0;
					color:#2a2a2a;}
					.discountDetai b{color:#cb0404;}
				.boxDiscount ul li .helpIcon{
					height:32px; line-height:32px;
					padding:5px 0 0 45px;
					color:#cb0404; font-weight:bold;
					background:url(images/icoHelp.gif) no-repeat}
					.boxDiscount ul li.question .helpIcon{ background-position:left bottom;}
					.boxDiscount ul li.online .helpIcon{ background-position::left top; line-height:16px;}
					.boxDiscount ul li.cast .helpIcon{ background-position:left center;}
				.boxDiscount ul li .helpContent{
					margin:5px 0;
					color:#2a2a2a;}
/*HIEN THI PARTNER*/	
	.partner { display:table;  width:960px; padding:0 0 10px 0; margin:10px auto;}
	.partner ul{ display:table-row;}
	.partner ul li{ display:table-cell; text-align:center; vertical-align:middle; _float:left; _margin:0 20px;}
	.partner ul li img{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);opacity:0.5;}
	.partner ul li img:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter: alpha(opacity=80);opacity:0.8;}
	
/*----------------FOOTER----------------*/
#pageBottom{
	width:100%; padding:0;
	background:#080808;
	border-top:1px solid #282828}
	#pageFooter{
		width:960px;
		margin:0 auto; padding:20px 0;}
		#pageFooter img{ float:left;}
		#pageFooter .copyRight{
			float:left;
			margin:0 0 0 15px;}
			.copyRight b{color:#ecc508;}
			.copyRight span{ color:#b6b6b6;}
		#pageFooter a{
			float:right;
			display:block;
			height:16px;
			margin:10px 0 0 00;padding:10px 0 10px 45px;
			font-weight:bold;
			background:url(images/icoRss.jpg) top left no-repeat}
/*-----FEATURE DEAL-----*/
.featureInfo { text-align:center}		
	#featurePlus{
		
		font-size:18px;
		width:auto; height:auto;
		position:absolute;bottom:5px; right:-485px;
		background: url(images/pageTop.png);}
		#featurePlus a{ font-size:25px;padding:2px 10px;border:1px solid #797979;}
		#featurePlus a:hover{ text-decoration:none;border:1px solid #f3d509;}
	.featurePrice {
		width:197px; height:43px;
		margin:10px auto 0; padding:10px 0 0 0;
		background: url(images/featurePrice.png) top left no-repeat;
		color:#fff; font-size:30px; text-shadow:#1f1f1f 0 -1px;}
	.featurePrice02{
		width:161px; height:40px;
		margin:15px auto 0;}
		.featureValue {
			float:left;
			width:70px; height:30px;
			margin:0 1px 0 0; padding:5px;
			background: url(images/featureValue.gif) bottom left repeat-x #f9f9f9;
			border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;
			color:#3f3f3f; text-align:center;}
			.featureValue p{
				margin:0;
				text-decoration:line-through; font-weight:bold; font-size:13px;}
		.featureSave {
			float:left;
			width:70px; height:30px;
			padding:5px;
			background: url(images/featureValue.gif) bottom left repeat-x #f9f9f9;
			border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;
			color:#3f3f3f; text-align:center;}
			.featureSave p{
				margin:0;
				color:#d80101; font-weight:bold; font-size:13px;}
	.featureTime {
		width:151px; height:50px;
		margin:15px auto 0;padding:5px;
		background: url(images/featureValue.gif) bottom left repeat-x #f9f9f9;
		border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
		.featureTime .timeTitle{
			margin:0 0 0 5px; padding:5px 0 0 32px;
			color:#3f3f3f; font-size:12px; font-weight:bold;
			background: url(images/icoTime.png) center left no-repeat;text-align:center;}
		.featureTime p{
			margin:0;
			color:#d80101; font-weight:bold; font-size:22px; }
	.featureBought {
		width:151px; height:60px;
		margin:15px auto 0;padding:5px;
		background: url(images/featureValue.gif) bottom left repeat-x #f9f9f9;
		border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
		.featureBought .boughtTitle{
			margin:0 0 0 5px; padding:0px 0;
			color:#3f3f3f; font-size:14px; font-weight:bold;text-align:center;}
			.boughtTitle span{
				margin:0;
				color:#d80101; font-size:12px; }
		.featureBought .boughtBar{
			height:15px; width:141px;
			margin:5px 0 0 5px;
			background: url(images/boughtBar.gif) top left repeat-x;
			border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
			color:#fff; font-size:12px; font-weight:bold;}
			.boughtBar .boughtPercent{
				float:left;
				height:15px;
				background: url(images/boughtPercent.gif) top left repeat-x;
				border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;}
		.featureBought .boughtStatus{
			text-align:center;color:#3f3f3f; font-size:12px;font-weight:normal;
			margin:5px 0 0 0;}
			.boughtStatus span{
				color:#d80101;font-weight:bold;}
	
/*-----BOX DEAL-----*/
.dealBox{
	position:relative;
	width:auto;
	margin:15px 0 0 0; padding:10px;
	background: url(images/dealBox.gif) top left repeat;}
	.dealTitle{
		margin:0 0 10px 0;
		font-size:15px; font-weight:bold;}
	.dealLeft{
		float:left;
		width:230px;
		}
		.dealPrice{
			width:200px; height:50px; line-height:50px; 
			margin:0 auto; 
			background: url(images/dealPrice.gif) bottom left no-repeat #ffda37;
			color:#2a2928; font-size:23px; text-shadow:#ffda37 0 1px;text-align:center;font-weight:bold;}
			.dealPrice a{
				display:block;
				float:right;
				width:76px; height:36px;
				margin:7px 6px 0 0;
				background: url(images/dealBuy.png) top left no-repeat}
			.dealPrice a:hover{
				background: url(images/dealBuyHover.png) top left no-repeat;}
		.dealBottom{
			margin:15px auto 0;}
			.dealBottom .viewQuick{
				float:left; display:block;
				padding:5px 10px;
				color:#ecc508;
				cursor:pointer;}
				.dealBottom .viewQuick span{color:#fff}
			.dealBottom a.viewDetail{
				float:right;
				margin:0 10px 0 0;
				width:70px;
				padding:6px 10px;
				color:#262323; font-size:11px;
				background: url(images/viewDetail.gif) top left no-repeat;}
				.dealBottom a.viewDetail:hover{color:#d80101;}
	.dealRight{
		float:left;
		width:404px; height:284px;
		margin:0 0 0 10px;
		border:3px solid #e6e6e6;
		overflow:hidden;}
		.dealRight img{}
	.share{
		float:right;
		width:65px; height:14px;
		margin:10px 0 0 0;
		background: url(images/icoShare.png) top left no-repeat;}
	.dealShortContent{
		margin:10px 0 0 0;
		background:#1a1a1a;}
		.boxShortContent{
			padding:10px;
			border:1px solid #404040;}
			.dealNote{ 
				float:left;
				width:45%;}
				.dealNoteTitle{
					padding:0 00 0 40px;
					line-height:36px;
					background: url(images/dealNote.png) center left no-repeat;
					font-size:14px; font-weight:bold;}
				.dealNoteContent{ margin:8px 0 0 0; color:#c9c9c9}
			.dealConditions{
				float:right;
				width:50%;
				padding:0 0 0 20px;
				border-left: 1px dashed #404040;}
				.dealConditionsTitle{
					padding:0 00 0 40px;
					line-height:36px;
					background: url(images/dealConditions.png) center left no-repeat;
					font-size:14px; font-weight:bold;}
/*DEAL CONTENT*/
	.dealBottom .dealDetaiTitle{
		width:auto; height:42px;
		padding:10px 0 0 25px;
		color:#2a2a2a; font-size:17px; font-weight:bold;
		background: url(images/boxTitle.png) top left no-repeat;}
	.dealDetailContent{
		margin:10px 0 0 0; padding:10px 0 0 0;
		border-top:1px dashed #404040;
		color:#c9c9c9}
	
	
	
	.dealLabel{
		position:absolute; top:35px; right:-10px;
		width:55px; height:50px;
		padding:37px 0 0 16px;
		color:#fff; font-size:19px;
		background: url(images/dealLabel.png) top left no-repeat;}
		

		
		