<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/style.css" type="text/css" />
<script src="../../includes/js/JQuery/jquery-1.7.min.js" type="text/javascript"></script>
<title>Quản trị hệ thống</title>
</head>
<body>
	<!-- TOP BACKGROUND -->
	<div id="top_background">
		<div>
			<div>
				<span class="version">Phiên bản 1.0</span>
				<span class="title">Hệ thống quản lý</span>
			</div>
		</div>
	</div>
	<!-- MENU TOP -->
	<div id="menutop">
		<div id="module-menu">
			<ul id="menu">
				<li class="node"><a href="#">Trang quản trị</a></li>
				<li class="node"><a href="#">Quản lý Admin</a></li>
				<li class="node"><a href="#">Quản lý menu chính</a></li>
				<li class="node"><a href="#">Quản lý submenu</a></li>
				<li class="node"><a href="#">Quản lý tin tức</a></li>
				<li class="node"><a href="#">Quản lý banner</a></li>
				<li class="node"><a href="#">Tin tức giữa</a></li>
				<li class="node"><a href="#">Giới thiệu công ty</a></li>
			</ul>
		</div>
		<div id="module-status">
			<span class="preview"><a target="_blank" href="http://localhost/ccbm/">Xem trước</a></span>
			<a href="index.php?option=com_messages"><span class="no-unread-messages">0</span></a>
			<span class="loggedin-users">1</span>
			<span class="logout"><a href="index.php?option=com_login&amp;task=logout">Thoát</a></span>
		</div>
		<div class="clr"></div>
	</div>
	
	<!-- MAIN BOX -->
	<div id="main-box">
		<div class="border">
			<div class="padding">
				<div id="element-box">
					<div class="t">
						<div class="t">
							<div class="t"></div>
						</div>
					</div>
					<div class="m">
						<table class="adminform">
							<tbody>
								<tr>
									<td width="55%" valign="top">
									<div id="cpanel">
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
										<div class="box-elemet-icon">
											<div class="icon">
												<a href="index.php?option=com_content&amp;task=add">
													<img alt="Thêm bài mới" src="images/icon-48-article-add.png">	
													<span>Thêm bài mới</span>
												</a>	
											</div>
										</div>
									</div>
									</td>
									<td width="45%" valign="top">
									</td>
								</tr>
							</tbody>
						</table>
						<div class="clr"></div>
					</div>
					<div class="b">
					<div class="b">
						<div class="b"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- BORDER BOTTOM -->
	<div id="border-bottom"><div><div></div></div></div>
	
	<!-- FOOTER -->
	<div id="footer">
		<p class="copyright">
			<a target="_blank" href="http://www.joomla.org">Joomla!</a>
			là phần mềm miễn phí lưu hành theo giấy phép GNU/GPL.
		</p>
	</div>
</body>
<script type="text/javascript">
$(function(){
	$("ul#menu li").hover(function(){
		$(this).addClass('hover');
	},
	function(){
		$(this).removeClass('hover');
	});
});
</script>
</html>