/* Hack to avoid float div float outside the container */
.border, .sidebox-wrapper, .info-field-body, .tab-wrapper, .tab-content-border, ul.bullets-list li, .form-field, .info-field-title, .step-body, .item-wrap, .pagination-container, .buttons-container, .top-tools-container, #footer, .sidebox-body, .bottom-search, .content-tools, * html #category_rows, * html .tabs, * html .form-field ul {
	height: 1%;
}
.updates-wrapper .form-field {
	height: auto;
}
#footer {
	margin-top: 15px;
}
.step-title, .step-title-active, .clear, * html .updates-wrapper, #container, .quick-links {
	zoom: 1;
}
.step-title a, .step-title-active a, .search-blocks {
	float: left;
}
.radio {
	height: 14px;
	width: 15px;
}
.checkbox, .html-checkboxes {
	height: 13px;
	width: 13px;
	margin: 3px 5px 2px 3px;
}
.search-button {
	vertical-align: -1px;
	margin-top: 0;
}
.search-advanced:link, .search-advanced:visited, .search-advanced:hover, .search-advanced:active {
	vertical-align: 5px;
}
.top-tools-container {
	padding-bottom: 0;
	height: 39px;
}
.content-tools {
	height: 30px;
}
/* main styles */
.cart-box-left-bg {
	margin: -3px 13px 0 0;
	white-space: nowrap;
	right: 0;
	position: absolute;
	width: 10%;
}
.cartbox-image {
	margin: -1px 20px 0 10px;
}
/* /main styles */

* html .product-info {
	float: left;
}
* html .product-info .float-left {
	width: 100%;
	display: inline;
}
* html .old-style .float-left, * html .modern-style .float-left {
	width: auto;
}
* html .old-style p.sku, * html  .modern-style p.sku {
	float: left;
	zoom: 1;
}
* html .product-info .float-left .float-left {
	width: auto;
}
.top-menu-tabs-wrapper, .mainbox-cart-body, * html .product-info .prices-container .float-left, * html table.qty-discounts {
	width: auto; 
}
.helper-container {
	padding: 0 0 0 1px;
}
/* Buttons */
.button-submit-action input, .button-submit-big input, .statistic-list li.total {
	overflow: visible;
}
.go-button {
	vertical-align: -5px;
}
.button-submit {
	border: 1px solid #2D90D3;
}
.button-submit input {
	padding: 1px 0 0;
	border: 0;
}
.button-submit-action input, .button-action a {
	padding: 1px 15px 0 6px;
	margin: 0;
}
.cart-buttons-wrapper .float-right {
	padding: 2px 0 1px 0;
}
.button-submit-big input {
	margin: 0;
}
.step-title-active span.float-right {
	margin: -22px 0 -10px 0;
}
.step-title-active span.float-right .button-big {
	margin-bottom: 0;
}
.search-form .button-submit {
	vertical-align: -2px;
}
/* /Buttons */
.search-input {
	height: 17px;
}
.search-blocks {
	margin-left: 2px;
}
.categories-image {
	margin: 0 15px 15px 0;
}
/* product LIST view styles */

.categories-image, .product-image, .item-image, .item-description, .product-price-float, .product-description, * html .cm-select-list a.item-link, * html .cm-select-list a.item-link:link, * html .cm-select-list a.item-link:visited, * html .cm-select-list a.item-link:hover, * html .cm-select-list a.item-link:active, * html .discount-label em {
	display: inline-block;
}
.product-bulk-add-wrapper {
	padding-right: 6px;
}
/* /product LIST view styles */

/* list styles */
.list-wrapper ul li {
	vertical-align: 10px;
}
/* /list styles */
/* section */
.section-body-details {
	padding: 18px 0;
}
/* /section */

.lm-links {
	margin-bottom: 11px;
}
.lm-image {
	margin: 0 1px 0 2%;
}
#checkbox_remember_me { /* Hack to align remember me checkbox */
	margin-bottom: 2px;
}

/* Gift certificates styles */
.gift-certificates-header-align {
	vertical-align: 0;
}
/* /Gift certificates styles */
.html-checkboxes {
	margin-top: 0;
}
.list-container {
	padding-bottom: 11px;
	margin-top: 4px;
}
.top-search .search-products-text, .search-products-text {
	vertical-align: 2px;
}
.search-input, .search-selectbox, .button-submit-action, .button-submit, * html .info-field-title label {
	vertical-align: middle;
}
.search-button {
	vertical-align: -4px;
	margin-top: 0;
}
.search-advanced:link, .search-advanced:visited, .search-advanced:hover, .search-advanced:active {
	vertical-align: 2px;
}

/* Previewer styles */
#previewer_overlay {
	filter: alpha(opacity=10);
}

#previewer_overlay {
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#previewer_window {
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (previewer_margin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
	margin-left: expression(0 - parseInt(this.offsetWidth / 2) + (previewer_margin = document.documentElement && document.documentElement.scrollLeft || document.body.scrollLeft) + 'px');
}

#previewer_load {
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (previewer_margin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
	margin-left: expression(0 - parseInt(this.offsetWidth / 2) + (previewer_margin = document.documentElement && document.documentElement.scrollLeft || document.body.scrollLeft) + 'px');
}

#previewer_hide_select {
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
	filter: alpha(opacity=0);
}

.drag-window {
	filter: alpha(opacity=0);
}

/* /Previewer styles */

#translate_link {
	filter: alpha(opacity=70);
}
.upload-file-local input {
	filter:alpha(opacity: 0);
}
.select-field label .checkbox {
	vertical-align: 0;
}
.scroll-x {
	padding-bottom: 20px;
}
/* For IE6 only */
* html .top-tools-container, * html .content-tools, * html .button-action, h5.info-field-title {
	overflow: hidden;
}
/* png fix */
* html .helper-container {
	padding: 0;
	width: 100%;
	height: 100%;
}
* html .logo-image img, * html .select-wrap img, * html .popupbox-closer img {
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
	this.src = images_dir + "/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
	this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
);
}
/* /png fix */

/* top menu */
* html .ajax-loading-box {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop) + 'px');
}
* html .cm-notification-container {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop) + 'px');
}
* html .bug-report {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop) + eval(document.documentElement.clientHeight) - 30 + 'px');
}
* html body {
	background-attachment: fixed;
	background-image: url(about:blank);
	height: 100%;
}
* html .container {
	padding: 0;
}
* html .cm-popup-vert-resizer, * html .cm-popup-corner-resizer {
	font-size: 1px;
}
/* table styles */
#category_rows {
	border: 1px solid #ffffff;
	background-color: #dee1e5;
}
* html #category_rows {
	padding-top: 1px;
}
/* /table styles */
.info-field-title label {
	vertical-align: -3px;
}
* html .info-field-title {
	padding: 6px 4px 7px 8px;
}
* html .products-rounded .buttons-container {
	display: inline;
	vertical-align: -10px;
}
.button a:link, .button a:visited, .button a:hover, .button a:active, .button-action a:link, , .button-action a:visited, .button-action a:hover, .button-action a:active {
	color: #ffffff;
	text-decoration: none;
}
* html .mainbox-cart-body {
	height: 230px;
}
.calendar-but {
	vertical-align: -6px;
}
* html .calendar-box {
	width: 289px;
}
div.tags-buttons {
	margin-top: -25px;
	float: left;
}
* html div.tags-buttons {
	margin: -26px 0 0 233px;
	display: inline;
}
.logo-image {
	margin-bottom: 1px;
}
#top_menu ul ul {
	position: absolute;
	margin: 0;
}
#top_menu ul li.first-level, #top_menu ul li.first-level.cm-active, .image-reload {
	display: inline;
}
#top_menu ul ul li {
	display: block;
}
#top_menu ul li.first-level span {
	display: inline;
}
* html #top_menu ul li.first-level span {
	width: 110px;
}
.step-complete-wrapper {
	zoom: auto !important;
}
.step-title a.float-right {
	display: block;
	float: right;
}
* html .step-title span.float-left, .step-title-active span.float-left, * html .jcarousel-prev-horizontal, * html .jcarousel-next-horizontal {
	position: relative;
}
* html .discount-label {
	background-image: url('images/discount_label_left.gif');
}
* html .discount-label em {
	float: left;
	background-image: url('images/discount_label_right.gif');
}
* html .icons {
	margin-right: 0;
}

/* Popupbox. For IE6 only */
* html .cm-left-resizer, * html .cm-right-resizer, * html .cm-nw-resizer, * html .cm-ne-resizer, * html .cm-sw-resizer, * html .cm-se-resizer, * html .cm-top-resizer, * html .cm-bottom-resizer, * html .w-shadow, * html .e-shadow, * html .nw-shadow, * html .ne-shadow, * html .sw-shadow, * html .se-shadow, * html .n-shadow, * html .s-shadow {
	background-image: none;
}
* html .cm-sw-resizer, * html .cm-se-resizer {
	bottom: -19px;
}
/* /Popupbox. For IE6 only */

.form-field.revert label {
	float: none;
	margin: 0;
	width: auto;
	clear: none;
}
.form-field.revert .checkbox, .form-field.revert .radio {
	float: none;
	clear: none;
	margin: 1px 3px 0 -20px;
}
.cm-opacity {
	filter:alpha(opacity: 30);
}

/* Product notification */
* html .notification-correct {
	border: 1px solid #adc9b2;
}
/* /Product notification */

.checkout-steps .buttons-container .button-submit {
	vertical-align: top;
}
.step-body-active .form-field .input-text {
	width: 99.9%;
}
.step-container-active {
	padding-bottom: 1px;
}
* html .product-info table {
	width: 99%;
}
* html .error-message .arrow {
	border: 5px solid #ffffff;
	border-bottom-color: #f5f5ea;
	border-top-width: 0;
}
* html .product-main-info .jcarousel-clip-horizontal {
	margin-top: -38px;
}
* html .product-main-info .image-border {
	width: 150px;
}
.product-main-info .jcarousel-skin, .product-main-info p.wrapped {
	margin: 0;
}
.form-field div.subcategories {
	margin-top: -2px;
}
.form-field .select-field label {
	float: none;
	display: inline-block;
}
.form-field div.subcategories label {
	white-space: nowrap;
}
* html .add-product {
	width: 20%;
	white-space: nowrap;
}
* html .prod-info {
	width: 65%;
}
.estimation-box {
	width: 380px;
}
.estimation-box select {
	width: 200px;
}
.product-main-info .button-submit-action {
	vertical-align: -3px;
}
* html .prices-container .float-left {
	display: inline;
	width: 1%;
	white-space: nowrap;
}