RewriteEngine On

ErrorDocument 404 /404.php



RewriteRule   ^administrator/$ index.php?mod=admin [L]

RewriteRule   ^admin/$ admin/ [L]

RewriteRule   ^thong-tin/([A-Za-z0-9-]+).html$ index.php?mod=info&task=view&ID=$1&%{QUERY_STRING} [L]

RewriteRule   ^thong-bao.html$ index.php?mod=account&task=report&ajax=true&%{QUERY_STRING} [L]

RewriteRule   ^quy-che.html$ index.php?mod=news&task=view&ID=2&%{QUERY_STRING} [L]

RewriteRule   ^huong-dan-thanh-toan.html$ index.php?mod=news&task=view&ID=4&%{QUERY_STRING} [L]

RewriteRule   ^quy-dinh-hoan-tien.html$ index.php?mod=news&task=view&ID=1&%{QUERY_STRING} [L]

RewriteRule   ^the-le.html$ index.php?mod=news&task=view&ID=5&%{QUERY_STRING} [L]

RewriteRule   ^huong-dan-mua-hang.html$ index.php?mod=news&task=view&ID=3&%{QUERY_STRING} [L]


RewriteRule   ^lay-lai-mat-khau.html$ index.php?mod=account&task=passnew&%{QUERY_STRING} [L]


RewriteRule   ^send-comment.php$ index.php?mod=comment&task=add&%{QUERY_STRING} [L]

RewriteRule   ^bao-cao-vi-pham-p-([0-9-]+).html$ index.php?mod=comment&task=report&ID=$1&ajax=true&%{QUERY_STRING} [L]

RewriteRule   ^dong-y-voi-binh-luan-p-([0-9-]+).html$ index.php?mod=comment&task=like&ID=$1&ajax=true&%{QUERY_STRING} [L]



RewriteRule   ^theo-doi-don-hang.html$ index.php?mod=follow&%{QUERY_STRING} [L]

RewriteRule   ^load-comment-ajax.html$ index.php?mod=comment&task=load&ajax=true&%{QUERY_STRING} [L]



RewriteRule   ^shopping/mua-hang-thanh-cong.php$ index.php?mod=shopping&type=1&task=report&ajax=true&%{QUERY_STRING} [L]

RewriteRule   ^shopping/mua-hang-that-bai.php$ index.php?mod=shopping&type=2&task=report&ajax=true&%{QUERY_STRING} [L]
RewriteRule   ^shopping/mua-hang-khong-xac-dinh.php$ index.php?mod=shopping&type=3&task=report&ajax=true&%{QUERY_STRING} [L]




RewriteRule   ^mua-hang.php$ index.php?mod=shopping&task=insert&%{QUERY_STRING} [L]

RewriteRule   ^dang-xuat.html$ index.php?mod=account&task=out&%{QUERY_STRING} [L]

RewriteRule   ^quen-mat-khau.html$ index.php?mod=account&task=forgot&%{QUERY_STRING} [L]

RewriteRule   ^xac-nhan-don-hang.php$ index.php?mod=shopping&task=report&ajax=true&%{QUERY_STRING} [L]
RewriteRule   ^pmt_method.php$ index.php?mod=shopping&task=method&%{QUERY_STRING} [L]

RewriteRule   ^pmt_order.php$ index.php?mod=shopping&task=add&%{QUERY_STRING} [L]

RewriteRule   ^pmt_information.php$ index.php?mod=shopping&task=check&%{QUERY_STRING} [L]

RewriteRule   ^dang-ky-nhan-khuyen-mai.html$ index.php?mod=email&task=add&ajax=true&%{QUERY_STRING} [L]

RewriteRule   ^dang-ky-thanh-vien.html$ index.php?mod=account&task=reg&%{QUERY_STRING} [L]

RewriteRule   ^sua-thong-tin-ca-nhan.html$ index.php?mod=account&task=editacc&%{QUERY_STRING} [L]

RewriteRule   ^doi-mat-khau.html$ index.php?mod=account&task=change&%{QUERY_STRING} [L]

RewriteRule   ^kich-hoat-thanh-vien.html$ index.php?mod=account&task=doactive&%{QUERY_STRING} [L]

RewriteRule   ^dang-nhap.html$ index.php?mod=account&task=sig&%{QUERY_STRING} 

RewriteRule   ^san-pham-da-ban.html$ index.php?mod=product&task=sold&%{QUERY_STRING} 



RewriteRule   ^thac-mac-p-([0-9-]+).html$ index.php?mod=email&task=request&id=$1&ajax=true&%{QUERY_STRING} [L]



RewriteRule   ^([A-Za-z0-9-]+)/$ index.php?mod=product&CID=$1&%{QUERY_STRING} [L]

RewriteRule   ^san-pham-([0-9-]+)/(.*)$ index.php?mod=product&task=view&ID=$1&%{QUERY_STRING} [L]

RewriteRule   ^([A-Za-z0-9-]+).html$ index.php?mod=product&task=category&DID=$1&%{QUERY_STRING} [L]

RewriteRule   ^mail-shopping/([0-9-]+)/$ index.php?mod=shopping&task=send&id=$1&ajax=true&%{QUERY_STRING} [L]

