
a img{
	border:none;
	cursor:pointer;
}
.wrapper_content_pro{
	width:550px;
	float:left;
}
.content_product{
	width:550px;
	float:left;
	border:1px #F00 solid;
}
.content_pro_sp{
	width:140px;
	float:left;
	border:0px #6A6A6A solid;
	margin:10px 15px 5px 20px;
}
.img_pro{
	width:132px;
	float:left;
	margin:3px;
	border:1px #DDD solid;
}
.text_pro{
	width:130px;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#333;
	text-align:center;
	font-size:12px;
	margin-bottom:5px;
}
.text_details{
	width:60px;
	float:left;
	margin: 5px ;
	border:none;
}
